/* pages/user/coupon/detail/index.wxss */
page {
  padding-top: 30rpx;
  padding-bottom: 50rpx;
}



.coupon-item {
  width: 718rpx;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 235rpx;
}

.coupon-item .item-icon {
  position: absolute;
  left: 256rpx;
  bottom: 38rpx;
  width: 118rpx;
  height: 98rpx;
}

.coupon-item .item-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.coupon-item .coupon-img {
  min-width: 116rpx;
  max-width: 208rpx;
  height: 208rpx;
}
.coupon-item .left {
  padding: 44rpx 0 0 14rpx;
  position: relative;
  width: 434rpx;
  flex-shrink: 0;
}
.coupon-item .title {
  width: 316rpx;
  font-size: 32rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #130a0a;
  line-height: 44rpx;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  margin-right: 110rpx;
}
.coupon-item .desc {
  font-size: 26rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 28rpx;
  margin-top: 8rpx;
  text-align: left;
  margin-right: 110rpx;
}

.coupon-item .right-btn {
  margin-top: 24rpx;
  width: 136rpx;
  height: 52rpx;
  background: #f73838;
  border-radius: 32rpx;
  font-size: 24rpx;
  color: #fff;
  line-height: 52rpx;
  text-align: center;
}

.coupon-item .center {
  position: relative;
  width: 20rpx;
  display: flex;
  margin-left: 4rpx;
  align-items: center;
  justify-content: center;
  font-size: 20rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #f73838;
  flex-shrink: 0;
}
.coupon-item .right {
  /* flex: 1; */
  width: 304rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.barcode-view{
    height: 274rpx;
    padding-top:30rpx ;
}
.barcode{
    margin: 0 auto;
    width: 524rpx;
    height: 168rpx;
}
.barcode-text{
    font-size: 28rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
    line-height: 40rpx;
    margin-top: 20rpx;
    text-align: center;
}
.coupon-rules{
    width: 694rpx;
    background: #FFFFFF;
    border-radius: 24rpx;
    margin: 0 auto;
    padding: 40rpx 28rpx;
}
.coupon-rules .title{
    font-size: 32rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
    line-height: 32rpx;
}
.coupon-rules .sub-title{
    margin-top: 60rpx;
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #A6A6A6;
    line-height: 32rpx;
}
.coupon-rules .sub-text{
    margin-top: 40rpx;
    font-size: 30rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    display: block;
    color: #000000;
    line-height: 50rpx;
}
