.detailBox {
    padding-bottom: constant(safe-area-inset-bottom);
    /*兼容 IOS<11.2*/
    padding-bottom: env(safe-area-inset-bottom);
    /*兼容 IOS>11.2*/
}

.orderShop {
    height: 106rpx;
    line-height: 106rpx;
    padding-left: 18rpx;
}

.oderLogo {
    width: 38rpx;
    height: 38rpx;
    vertical-align: middle;
    position: relative;
    top: -6rpx;
}

.shopName {
    padding-left: 6rpx;
    font-size: 32rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #1A1A1A;
}

.goodsItem {
    width: 710rpx;
    height: 188rpx;
    background: #FFFFFF;
    border-radius: 16rpx;
    margin-bottom: 20rpx;
    margin-left: 20rpx;
    position: relative;
}

.refundPosDescName {
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
    width: 530rpx;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 10rpx;
}

.goodsImg {
    width: 132rpx;
    height: 132rpx;
    border-radius: 8rpx;
    position: absolute;
    left: 28rpx;
    top: 28rpx;
}

.productName {
    font-size: 32rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #1A1A1A;
    position: absolute;
    left: 178rpx;
    top: 24rpx;
    display: inline-block;
    white-space: nowrap;
    width: 430rpx;
    overflow: hidden;
    text-overflow: ellipsis;
}

.qpc {
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #A5A6AA;
    position: absolute;
    left: 178rpx;
    top: 78rpx;
}

.sellPrice {
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #A5A6AA;
    position: absolute;
    left: 178rpx;
    top: 118rpx;
}

.productNumber {
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #A5A6AA;
    position: absolute;
    left: 178rpx;
    top: 158rpx;
}

.amount {
    font-size: 24rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
    position: absolute;
    right: 20rpx;
    top: 32rpx;
}

.refundBtn {
    width: 152rpx;
    height: 56rpx;
    background: #F7F7F7;
    border-radius: 32rpx;
    border: 1px solid #bbbbbb;
    text-align: center;
    line-height: 56rpx;
    font-size: 26rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
    position: absolute;
    right: 18rpx;
    top: 134rpx;
}

.goodsDetailItem {
    width: 710rpx;
    background: #FFFFFF;
    border-radius: 16rpx;
    margin-bottom: 20rpx;
    margin-left: 20rpx;
    padding: 27rpx 24rpx;
}

.goodsDetailItemOne {
    height: 40rpx;
}

.itemOneTitle {
    font-size: 28rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #1A1A1A;
    line-height: 40rpx;
}

.itemOneVal {
    float: right;
}

.moneyIcon {
    font-size: 24rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
    margin-right: 2rpx;
}

.itemOneNum {
    font-size: 32rpx;
    font-family: DINAlternate-Bold, DINAlternate;
    font-weight: bold;
    color: #000000;
}

.copyBtn {
    width: 86rpx;
    display: inline-block;
    height: 44rpx;
    background: #ECECEC;
    border-radius: 6rpx;
    font-size: 26rpx;
    text-align: center;
    line-height: 44rpx;
    margin-left: 12rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
}

.helpName {
    font-size: 26rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    margin-left: 44rpx;
    margin-top: 4rpx;
    color: #FA6400;
}

.refundPosDesc {
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
    position: absolute;
    left: 28rpx;
    top: 178rpx;
}

.reduce {
    width: 42rpx;
    height: 40rpx;
    background: #F4F4F4;
    border-radius: 8rpx;
    display: inline-block;
    text-align: center;
    line-height: 40rpx;
    font-size: 30rpx;
    font-weight: bold;
    color: #F30000;
}

.numInput {
    width: 68rpx;
    height: 40rpx;
    display: inline-block;
    line-height: 40rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
    font-size: 28rpx;
    text-align: center;
}

.on {
    color: #000000;
}

.picker {
    font-size: 28rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
}

.refundReasonInput {
    width: 666rpx;
    height: 144rpx;
    background: #F4F4F4;
    border-radius: 10rpx;
    margin-top: 24rpx;
    margin-bottom: 6rpx;
}

.placeholderClass {
    font-size: 26rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #A5A6AA;

}

.refundReasonInput {
    padding: 20rpx 34rpx;
    font-size: 26rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
    line-height: 36rpx;
}

.contBoxBottom {
    position: absolute;
    bottom: 80rpx;
    text-align: center;
    width: 650rpx;
    margin-left: 50rpx;
}

.contBoxBottom view, .contBoxBottom button {
    width: 292rpx;
    height: 84rpx;
    background: #FFFFFF;
    border-radius: 42rpx;
    display: inline-block;
    line-height: 84rpx;
    vertical-align: middle;
    font-size: 28rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #F60600;
}

.opearBtnSumbit {
    background: linear-gradient(213deg, #FF5025 0%, #F60600 100%) !important;
    color: #FFFFFF !important;
    margin-left: 66rpx;
}