<!--module_order/orderList/orderList.wxml-->
<wxs module="filter" src="./getStatus.wxs"></wxs>
<!-- <navbar class="navbar" parameter='{{parameter}}'></navbar> -->
<view class="goods-tab" style="z-index: 99;">
    <view class="goods-tab-pad">
        <view class='goods-tab-text {{navIndex == index ? " tabTrue" : ""}}' wx:for="{{tabTitleArr}}" wx:for-item="item"
            wx:key="index" wx:for-index="index" data-nav="{{item.navIndex}}" data-index="{{index}}" bindtap='changeTab'>
            {{item.tabTitle}}
        </view>
        <view class="goods-tab-b" style="transform: translateX({{ tabLeft }}px);"></view>
    </view>
</view>
<scroll-view class="orderList" scroll-y="{{true}}" style="height:calc(100vh  - 104rpx)" lower-threshold="140"
    scroll-top="{{scrollTopNum}}" enable-back-to-top='true' refresher-enabled="{{true}}"
    bindrefresherrefresh="bindrefresherrefresh" refresher-triggered="{{refresher}}" bindscrolltolower="scrollToLower">
    <!-- <view class="orderList"> -->
    <view class="orderlimit" wx:if="{{orderList.length!==0}}">-最多显示90天订单-</view>
    <view class="orderItem" wx:for='{{orderList}}' wx:for-item='item' wx:key='index' data-item="{{item}}"
        bindtap="toDetail">
        <view class="orderheader">
            <view class="orderIcon">
                <image
                    src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E5%BA%97%E9%93%BA%402x.png'>
                </image>
            </view>
            <view class="storeNmae">
                {{item.shopName}}
            </view>
            <!-- <view class="orderStatus" wx:if="{{item.hasNoFinishReturnApply||item.refundStatus==10}}">
                {{item.hasNoFinishReturnApply?'退款中':'退款完成'}}
            </view>
            <view class="orderStatus" wx:else>
                {{filter.getStatus(item.orderStatus,item.sourceType)}}
            </view> -->
            <view class="orderStatus">
                {{item.orderStatusStr}}
            </view>
        </view>
        <view class="ordergoods">
            <view class="goodsitem" wx:for="{{filter.cutDetails(item.picDetails)}}" wx:for-item="pic" wx:key="index">
                <image
                    src='{{pic.samplePic==""?"https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/29cfe8ad-5c9a-4010-b5eb-f0b148bb1249.png":pic.samplePic}}'>
                </image>
            </view>

            <view class="goodsInfo">
                共计{{item.qty}}种商品
                <image
                    src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E8%AE%A2%E5%8D%95%E5%88%97%E8%A1%A8-%E6%9B%B4%E5%A4%9A%E6%8C%89%E9%92%AE%402x.png'>
                </image>
            </view>
        </view>
        <view class="orderTime">
            <view class="timeTitle">下单时间</view>
            <view class="timenum">{{item.orderTime}}</view>
            <view class="totalmoney">
                合计￥
                <text class="fongWeight">{{item.realAmount}}</text>
            </view>
        </view>
        <view class="energy" wx:if="{{item.orderStatus!==2}}">
            <view class="energyInfo"
                wx:if="{{item.orderStatus==21||(item.orderStatus==3&&item.sourceType=='1'&&item.refundStatus!==10)}}">
                本单新获得能量
                <!-- <image
                        src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E8%83%BD%E9%87%8F%402x.png'>
                    </image> -->
                <view catchtap='toEnergy' class="energynum">{{item.energy}}</view>

            </view>
            <view class="comment">
                <!-- 小程序线上 -->
                <view data-orderNo="{{item.orderNo}}" catchtap='toEvaluation' class="commentBtn"
                    wx:if="{{(item.orderStatus==21&&item.sourceType=='4'&&!item.hasComment)||(item.orderStatus==3&&item.sourceType=='1'&&!item.hasComment)||(item.orderStatus==21&&!item.hasComment&&item.sourceType=='5')||(item.orderStatusStr=='已完成'&&!item.hasComment)||(item.orderStatusStr=='已送达'&&!item.hasComment)||(item.orderStatus==22&&!item.hasComment)||(item.orderStatus==35&&!item.hasComment)}}">
                    <view class="btn_inner">评价</view>
                </view>
                <!-- 小程序线下 -->
                <!-- <view data-orderNo="{{item.orderNo}}" catchtap='toEvaluation' class="commentBtn"
                    wx:if="{{item.orderStatus==3&&item.sourceType==1&&!item.hasComment}}">评价</view> -->
                <!-- 待支付时候按钮 -->
                <view catchtap='toPayDetail' class="commentBtn2" wx:if="{{item.orderStatus==1}}"
                    data-sourceType="{{item.sourceType}}" data-orderId="{{item.orderId}}"
                    data-time='{{item.orderTime}}'>
                    <view class="btn_inner"> 去支付</view>
                </view>
                <!-- 待送达订单详情 -->
                <view class="commentBtn3"
                    wx:if="{{!item.hasComment&&((item.sourceType=='4'&&item.orderStatus==3)||item.orderStatus==16 || item.orderStatus==17 || item.orderStatus==19 || item.orderStatus==20)}}">
                    <view class="btn_inner">
                        查看详情
                    </view>

                </view>
                <!-- 已评价订单 -->
                <view data-orderNo="{{item.orderNo}}" catchtap='goEvaluationDetail' class="commentDetail"
                    wx:if="{{item.hasComment}}">
                    <view class="btn_inner">查看评价</view>
                </view>
                <!-- 退款详情 -->
                <!-- <button data-refundApplyId="{{item.refundApplyId}}"
                    data-hasNoFinishReturnApply="{{item.hasNoFinishReturnApply}}"
                    data-refundStatus="{{item.refundStatus}}" catchtap='goRefunddetail' class="commentDetail"
                    wx:if="{{item.hasNoFinishReturnApply || item.refundStatus==10}}">查看详情</button> -->
            </view>
        </view>
    </view>
    <view class="endList" wx:if="{{noMore}}">
        <image
            src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E8%88%94%E5%B1%8F%402x.png'>
        </image>
        <view class="endTitle"> 已经到底了哟～</view>

    </view>
    <!-- 省缺图 -->
    <view wx:if="{{respones&&orderList.length==0}}">
        <view class="default" wx:if="{{orderList && orderList.length == 0}}">
            <image class="default-images"
                src="https://img.hotmaxx.cn/web/common/mp-store/goodsIndex/favorite-fefault.png">
            </image>
            <view class="default-text">空空如也！～</view>
            <!-- <view class="default-button" bindtap="routerUrl">再去逛逛</view> -->
        </view>
    </view>
</scroll-view>
<!-- </view> -->

<!-- 领券 -->
<coupon-model></coupon-model>