page {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 60rpx;
  background: url("https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/mine2/member-bg2.png")
      no-repeat,
    #f7f8fa;
  background-size: 100% 830rpx;
}
.body {
  width: 750rpx;
  overflow-x: hidden;
  position: relative;
}
/* .header-card {
  padding-top: 466rpx;
} */
.round-bg {
  position: absolute;
  left: -235rpx;
  top: -780rpx;
  width: 1220rpx;
  height: 1220rpx;
  background: url("https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/mine2/%E7%BC%96%E7%BB%84%402x.png")
    no-repeat;
  background-size: 100%;
  border-radius: 50%;
  transition: all 0.2s ease;
  z-index: 1;
}
.round-item {
  position: absolute;
  left: 0;
  bottom: -30rpx;
  width: 60rpx;
  height: 28rpx;
  text-align: center;
  margin-left: -30rpx;
  left: 50%;
  transform-origin: 50% -616rpx;
  font-size: 20rpx;
  font-weight: 500;
  color: #7f8081;
  z-index: 1;
  line-height: 28rpx;
}
.round-item::before {
  position: absolute;
  content: " ";
  left: 50%;
  transform: translateX(-50%);
  top: -20rpx;
  width: 12rpx;
  height: 12rpx;
  border-radius: 50%;
  background: #656767;
}
.round-item::after {
  position: absolute;
  content: " ";
  left: -30rpx;
  top: -30rpx;
  bottom: -20rpx;
  right: -30rpx;
}
/* .round-item-text{
    position: absolute;bottom: 0;width: 60rpx;
    text-align: center;margin-left: -30rpx;left: 50%;
  } */
.round-item.v2 {
  transform: rotate(-15deg);
}
.round-item.v3 {
  transform: rotate(-30deg);
}
.round-item.v4 {
  transform: rotate(-45deg);
}
.round-item.v5 {
  transform: rotate(-60deg);
}
/* 用户信息 */
.user-info {
  position: absolute;
  left: 0;
  top: 186rpx;
  padding: 0 48rpx;
  width: 100%;
  height: 100rpx;
  display: flex;
  justify-content: space-around;
  z-index: 2;
}
.user-info .grade-val-view,
.user-info .add-days-view {
  padding-top: 8rpx;
}
.user-info .user-desc-text {
  margin-top: 4rpx;
  font-size: 20rpx;
  text-align: center;
  color: #b5b5b5;
  line-height: 28rpx;
}
.user-info .user-info-title {
  font-size: 32rpx;
  text-align: center;
  font-weight: 500;
  color: #f2f2f2;
  line-height: 44rpx;
}
.user-info .user-info-title text {
  font-size: 24rpx;
  font-weight: 500;
  color: #ffffff;
  line-height: 44rpx;
  margin-left: 8rpx;
}
.user-info .avatar-view {
  position: relative;
  width: 100rpx;
  height: 100rpx;
}
.user-info .avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.user-info .member-medal {
  position: absolute;
  bottom: -4rpx;
  right: -6rpx;
  width: 40rpx;
  height: 46rpx;
}
/* swiper */
.swiper-view {
  width: 100%;
  height: 294rpx;
  position: relative;
  z-index: 2;
}
.grade-view {
  position: absolute;
  left: 322rpx;
  top: -72rpx;
  background: url("https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/mine2/%E9%A3%9E%E7%A2%9F%402x.png")
    no-repeat;
  background-size: 100%;
  width: 106rpx;
  height: 64rpx;
  line-height: 64rpx;
  text-align: center;
  font-size: 26rpx;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0px 2rpx 2rpx rgba(146, 113, 63, 0.29);
}
.header-card-swiper {
  width: 100%;
  height: 294rpx;
}
.swiper-item {
  width: 624rpx;
  padding-left: 36rpx;
  padding-top: 80rpx;
  height: 294rpx;
}
.swiper-item .swiper-item-img {
  position: absolute;
  left: 12rpx;
  top: 0;
  width: 612rpx;
  height: 100%;
  z-index: -1;
}
.swiper-item .current-tag {
  position: absolute;
  left: 0;
  top: 14rpx;
  width: 134rpx;
  height: 52rpx;
  font-size: 20rpx;
  font-weight: 500;
  color: #525252;
  padding-left: 26rpx;
  line-height: 52rpx;
  background: url("https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/mine2/member-card-tag-bg.png")
    no-repeat;
  background-size: 100%;
}
/* .swiper-item .tag-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 134rpx;
  height: 52rpx;
} */
.swiper-item .next-tag {
  position: absolute;
  left: 0;
  top: 14rpx;
  width: 134rpx;
  height: 52rpx;
  font-size: 20rpx;
  font-weight: 500;
  color: #525252;
  padding-left: 30rpx;
  line-height: 52rpx;
  background: url("https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/mine2/member-card-tag-bg.png")
    no-repeat;
  background-size: 100%;
}
.swiper-item .validity-period {
  position: absolute;
  top: 26rpx;
  right: 56rpx;
  font-size: 20rpx;
  color: #333333;
  line-height: 28rpx;
}

.swiper-item .swiper-item-title {
  font-size: 28rpx;
  font-weight: 500;
  color: #333333;
  line-height: 40rpx;
}
.swiper-item .progress {
  margin-top: 14rpx;
  width: 314rpx;
}
/* 进度条圆角 */
.wx-progress-inner-bar {
  border-radius: 5rpx !important;
  background: linear-gradient(90deg, #ffffff 0%, #e9e9e9 100%);
}
.swiper-item .swiper-item-desc {
  margin-top: 8rpx;
  font-size: 24rpx;
  color: #333333;
  line-height: 34rpx;
}
.swiper-item .swiper-item-desc2 {
  margin-top: 8rpx;
  width: 314rpx;
  font-size: 24rpx;
  color: #333333;
  line-height: 34rpx;
  display: flex;
  justify-content: space-between;
}
.swiper-item .swiper-item-desc2 text {
  font-size: 24rpx;
  color: #333333;
  line-height: 34rpx;
}
.swiper-item-desc3 {
  margin-top: 8rpx;
  font-size: 24rpx;
  color: #f8e1b1;
  line-height: 34rpx;
}
.swiper-item .swiper-item-desc2 text {
  color: #333333;
  line-height: 34rpx;
}
.swiper-item .swiper-item-btn {
  position: absolute;
  right: 56rpx;
  bottom: 56rpx;
  width: 140rpx;
  height: 44rpx;
  background: #3f3f3f;
  border-radius: 22rpx;
  font-size: 24rpx;
  color: #e4efe7;
  line-height: 44rpx;
  text-align: center;
}

.swiper-item .swiper-item-btn.v5 {
  color: #454545;
  background: linear-gradient(90deg, #f8e6be 0%, #f6d490 100%);
}
.swiper-item .v5 {
  color: #f8e1b1;
}
.swiper-item .swiper-item-btn.opcity {
  background: rgba(255, 255, 255, 0.2);
}

/* 已达成 */
.swiper-ok-title {
  padding-top: 14rpx;
  padding-left: 76rpx;
  font-size: 36rpx;
  font-weight: 600;
  line-height: 50rpx;
}
.swiper-ok-desc {
  margin-top: 10rpx;
  width: 364rpx;
  text-align: center;
  padding-left: 12rpx;
  font-size: 24rpx;
  line-height: 34rpx;
}
.swiper-ok-desc2 {
  margin-left: 88rpx;
  width: 192rpx;
  font-size: 24rpx;
  color: #f8e1b1;
  line-height: 34rpx;
  text-align: center;
}
/*  */
.card {
  width: 702rpx;
  background: #ffffff;
  border-radius: 16rpx;
  margin: 0 auto;
}

.info {
}
.info-title {
  padding: 30rpx 26rpx 30rpx 40rpx;
  position: relative;
  font-size: 32rpx;
  font-weight: 600;
  color: #333333;
  line-height: 44rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-title .info-sub-text {
  font-size: 24rpx;
  color: #999999;
  line-height: 34rpx;
  display: flex;
  align-items: center;
}
.info-arrow {
  width: 24rpx;
  height: 24rpx;
  margin-left: 2rpx;
}
/* info-list */
.info-list {
  display: flex;
  flex-wrap: wrap;
}
.info-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30rpx;
}
.info-item-img-view {
  width: 80rpx;
  height: 80rpx;
  border-radius: 50%;
  overflow: hidden;
}
/* .info-item-img-view.v1 {
  background: red;
}
.info-item-img-view.disabled {
  background: #e7e7e7;
} */
.info-item-icon {
  width: 100%;
  height: 100%;
}
.info-item-title {
  margin-top: 12rpx;
  font-size: 24rpx;
  color: #222222;
  line-height: 34rpx;
}
.info-item-desc {
  text-align: center;
  padding: 0 10rpx;
  margin-top: 2rpx;
  font-size: 20rpx;
  color: #999999;
  line-height: 28rpx;
}
/* 加速升级 */
.speed-up {
  width: 750rpx;
  overflow-x: hidden;
}
.speed-up-title {
  padding-top: 30rpx;
  padding-left: 24rpx;
  padding-bottom: 20rpx;
  font-size: 32rpx;
  font-weight: 600;
  color: #333333;
  line-height: 44rpx;
}
.speed-list {
  padding-left: 24rpx;
  display: flex;
}
.speed-list .right-item {
  width: 24rpx;
  height: 100%;
}
.speed-item {
  flex-shrink: 0;
  padding: 30rpx 20rpx 10rpx 40rpx;
  position: relative;
  width: 460rpx;
  height: 210rpx;
  background: #ffffff;
  border-radius: 12rpx;
  margin-right: 24rpx;
}
.speed-item.last-child {
  width: 1rpx;
  padding: 0;
  background: transparent;
}
.speed-item-left-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 8rpx;
  height: 100%;
}
.speed-item-title {
  font-size: 28rpx;
  font-weight: 500;
  color: #222222;
  line-height: 40rpx;
}
.speed-item-desc {
  margin-top: 10rpx;
  font-size: 24rpx;
  font-weight: 400;
  color: #333333;
  line-height: 34rpx;
}
/* 任务 */
.task {
  margin-top: 20rpx;
  padding: 0 24rpx;
}
.task-item {
  position: relative;
  padding: 30rpx 0;
}
.task-item:not(:last-child) {
  border-bottom: 2rpx dashed #d3d3d3;
}
.task-item-title-view {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 16rpx;
  font-size: 30rpx;
  font-weight: 500;
  color: #333333;
  line-height: 42rpx;
}
.task-item-title-icon {
  position: absolute;
  left: 0;
  top: 9rpx;
  width: 6rpx;
  height: 24rpx;
}
.task-item-title-view text {
  margin-left: 24rpx;
  font-size: 24rpx;
  font-weight: 500;
  color: #fb4b47;
  line-height: 34rpx;
}
.task-item-desc {
  padding-left: 16rpx;
  width: 470rpx;
  font-size: 22rpx;
  font-weight: 400;
  color: #6f6f6f;
  line-height: 32rpx;
}
.task-item-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 138rpx;
  height: 50rpx;
  border-radius: 26rpx;
  border: 2rpx solid #9fd0b1;
  text-align: center;
  line-height: 46rpx;
  font-size: 24rpx;
  color: #9fd0b1;
}
