.storeRefund {
  padding: 50rpx;
}

.refundImg {
  width: 300rpx;
  height: 300rpx;
  margin: 100rpx auto 0;
}

.refundImg image {
  width: 100%;
  height: 100%;
}

.refundsorry {
  font-size: 32rpx;
  font-weight: 600;
  text-align: center;
  margin-top: 30rpx;
  color: #333;
}

.refundsorryInfo_f {
  margin-top: 30rpx;
}

.refundsorryInfo_f,
.refundsorryInfo_s {
  text-align: center;
  font-size: 28rpx;
  color: #333;
  line-height: 50rpx;
}