<view class="header">
    <navbar background="rgba(255,255,255,0)" titleColor="#fff" parameter="{{navbarData}}"></navbar>
</view>
<view class="detail-img-list-view" style="padding-top: {{statusBar}}px;">
    <image class="detail-img" mode="aspectFit" src="{{detailInfo.image}}" />
</view>
<view class="price-info">
    <view class="left-price-view">
        <image class="common-img" src="https://img.hotmaxx.cn/web/common/mp-store/home-index/goods-price-bg.png" />
        <view class="left-price-content">
            <text class="left-price-top">惊喜价</text>
            <text class="price {{detailInfo.salePrice>=1000?'two':''}}"><text
                    class="price-icon">¥</text>{{detailInfo.salePrice}}</text>
        </view>
    </view>
    <viwe class="price-view">
        <view class="market-price">原价 <text class="market-price-text">¥{{detailInfo.marketPrice}}</text></view>
        <view class="stock">
            <block wx:if="{{detailInfo.inventory}}">剩{{detailInfo.inventory}}件</block>
        </view>
    </viwe>
    <view class="share-view" wx:if="{{detailInfo.likes>=20||detailInfo.shares>=20}}">
        <view class="like-text" wx:if="{{detailInfo.likes>=20}}">{{detailInfo.likes}}人喜欢</view>
        <view class="share-line" wx:if="{{detailInfo.likes>=20}}"></view>
        <view class="share-text" wx:if="{{detailInfo.shares>=20}}">{{detailInfo.shares}}人分享</view>
    </view>
</view>
<view class="detail-info">
    <view class="detail-info-header">
        <button class="detail-info-share" open-type="share">
            <image class="detail-info-share-icon"
                src="https://img.hotmaxx.cn/web/common/mp-store/productDetail/share-icon.png" />
        </button>
        <view class="detail-info-title">{{detailInfo.goodsName}}</view>
        <view class="detail-info-header-icon">热卖中</view>
    </view>
    <view class="detail-info-list" wx:if="{{isShowList}}">
        <block wx:for="{{infoList}}" wx:key="index">
            <view class="detail-info-item" wx:if="{{item.content}}">
                <image class="detail-info-item-icon" src="{{item.icon}}" />
                <view class="detail-info-item-content">{{item.content}}</view>
                <view class="detail-info-item-title">{{item.title}}</view>
            </view>
        </block>
    </view>
</view>
<view class="desc">
    <view class="desc-header">
        <image class="desc-header-icon"
            src="https://img.hotmaxx.cn/web/common/mp-store/productDetail/detail-icon.png" />
        <text class="desc-header-text">东西好 花钱少</text>
        <text class="desc-header-text">持续为顾客制造惊喜与尖叫</text>
    </view>
    <view class="desc-title">【服务说明】</view>
    <view class="sub-title top">商品配送</view>
    <view class="desc-text">门店员工自行配送</view>
    <view class="desc-text top">如遇延迟送达敬请谅解</view>
    <view class="sub-title">放心优选</view>
    <view class="desc-text">专业买手，专业选品</view>
    <view class="desc-text top">层层把关，保障商品质量</view>
    <view class="sub-title">绿色能量</view>
    <view class="desc-text">每笔订单都可积累绿色能量</view>
    <view class="desc-text top">节能减排，我们一起行动</view>
    <view class="sub-title">售后无忧</view>
    <view class="desc-text">如遇质量问题，请联系社群管家</view>
    <view class="desc-text top">或拨打热线电话：400 965 9166</view>
</view>
<view class="footer">
    <view class="left">
        <view class="left-item" bindtap="goCart">
            <image class="left-item-icon" src="https://img.hotmaxx.cn/web/common/mp-store/productDetail/cart.png" />
            购物车
            <view class="home-pop-text  {{cartNum > 9?'pd':''}}" wx:if="{{cartNum>0}}">{{cartNum}}</view>
        </view>
        <view class="left-item two" bindtap="likeChange">
            <image class="left-item-icon" wx:if="{{!detailInfo.favorite}}"
                src="https://img.hotmaxx.cn/web/common/mp-store/productDetail/like-default.png" />
            <image class="left-item-icon" wx:if="{{detailInfo.favorite}}"
                src="https://img.hotmaxx.cn/web/common/mp-store/productDetail/like.png" />
            我喜欢
        </view>
    </view>
    <view class="right {{detailInfo.inventory?'':'disabled'}}" bindtap="addCart">{{detailInfo.inventory?'加入购物车':'已售罄'}}
    </view>
</view>