/* 
此文件为开发者工具生成，生成时间: 2021/8/6 下午1:40:50
使用方法：
在 app.wxss 文件末尾引入样式
```
@import "./app-wxa-auto-dark.wxss";
```
 */

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar {
        color: rgba(0, 0, 0, 0);
    }

    page, view, text {
        color: rgb(209, 209, 209);
    }
    page{
        background-color: #f5f5f5
    }
}
