.goods-tab {
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 28rpx;
  padding-top: 28rpx;
  background: #f9531d;
  display: flex;
  align-items: center;
  background: #ffffff;
}

.goods-tab-pad {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background: #ffffff;
}

.goods-tab-text {
  flex: 1;
  font-size: 28rpx;
  color: #333333;
  font-weight: 400;
  text-align: center;
  /* padding-right: 32rpx;
    padding-left: 32rpx; */
}

.tabTrue {
  /* font-weight: 500;
    font-size: 36rpx; */
  color: #F62C1E;
}

.goods-tab-b {
  background: #F62C1E;
  height: 4rpx;
  width: 68rpx;
  border-radius: 2rpx;
  position: absolute;
  bottom: -28rpx;
  transition: all 0.3s linear;
}

.orderlimit {
  font-size: 24rpx;
  margin: 0rpx auto 0;
  text-align: center;
  /* background: orange; */
  color: #FF8A78;
}

.orderList::before {
  content: '';
  display: block;
  height: 20rpx;

}

.orderItem {
  width: 100%;
  min-height: 322rpx;
  background: chartreuse;
  background: #fff;
  border-radius: 24rpx;
  padding: 32rpx 24rpx 0rpx 36rpx;
  box-sizing: border-box;
  margin-top: 20rpx;
}

.orderItem::after {
  content: '';
  display: block;
  height: 30rpx;
  z-index: 9999;
}

.orderheader {
  height: 44rpx;
  display: grid;
  grid-template-columns: 44rpx auto 160rpx;
  grid-template-rows: 44rpx;
}

.orderIcon image {
  width: 44rpx;
  height: 44rpx;
}

.storeNmae {
  padding-left: 20rpx;
  box-sizing: border-box;
  color: #333333;
  font-size: 32rpx;
  font-weight: 400;
}

.orderStatus {
  color: #F62C1E;
  font-size: 28rpx;
  text-align: right;
}

.ordergoods {
  height: 120rpx;
  margin-top: 38rpx;
  display: flex;
}

.goodsitem {
  width: 120rpx;
  height: 120rpx;
  border-radius: 24rpx;
  background: #eeeeee;
  margin-right: 20rpx;
  overflow: hidden;
}

.goodsitem image {
  width: 100%;
  height: 100%;
}

.goodsInfo {
  display: flex;
  align-items: center;
  font-size: 24rpx;
  color: #999999;
  margin-left: 60rpx;
}

.goodsInfo image {
  margin-left: 6rpx;
  width: 15rpx;
  height: 25rpx;
}

.orderTime {
  margin-top: 20rpx;
  display: flex;
  height: 44rpx;
}

.timeTitle,
.totalmoney,
.timenum {
  display: flex;
  align-items: center;
}

.timeTitle {
  flex: 1;
}

.totalmoney {
  flex: 1.5;
}

.timenum {
  flex: 2;
  color: #999999;
  font-size: 24rpx;
}

.timeTitle {
  font-size: 28rpx;
  color: #333333;
  font-weight: 400;
}

.totalmoney {
  font-size: 24rpx;
  font-weight: 400;
  color: #333333;
  justify-content: flex-end;
}

.fongWeight {
  font-weight: 500;
  font-size: 32rpx;
  color: #EE482F;
}

.energy {
  width: 100%;
  display: flex;
  margin-top: 20rpx;
  height: 58rpx;
}

.energyInfo,
.comment {
  flex: 1;
  display: flex;
  align-items: center;
}

.energyInfo {
  color: #333333;
  font-size: 24rpx;
}

.energyInfo image {
  width: 58rpx;
  height: 58rpx;
  margin: 6rpx;
}

.comment {
  justify-content: flex-end;
}

.commentBtn {
  margin: 0;
  padding: 0 30rpx;
  line-height: 48rpx;
  font-size: 24rpx;
  border-radius: 28rpx;
  background: transparent;

  border: 1rpx solid #EE482F;
  color: #EE482F;
}

.commentDetail {
  margin: 0;
  padding: 0 49rpx;
  line-height: 48rpx;
  font-size: 24rpx;
  border-radius: 28rpx;
  background: transparent;

  border: 1rpx solid #999999;
  color: #999999;
}

.endList {
  width: 100%;
  height: 160rpx;
  /* display: flex;
   justify-content: center; */
  margin-top: 50rpx;
  margin-bottom: 50rpx;
  text-align: center;
}

.endList image {
  width: 112rpx;
  height: 112rpx;

}

.endTitle {
  margin-top: 20rpx;
  color: #999999;
}

.energynum {
  width: 58rpx;
  height: 58rpx;
  margin: 6rpx;
  background: url(https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E8%83%BD%E9%87%8F%402x.png) no-repeat;
  background-size: 100% 100%;
  color: #24902C;
  text-align: center;
  line-height: 58rpx;
  font-size: 22rpx;
}

.default {
  width: 100%;
  /* display: flex;
    align-items: center; */
  padding-top: 270rpx;
}

.default .default-images {
  width: 600rpx;
  height: 328rpx;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.default-text {
  font-size: 32rpx;
  color: #333333;
  font-weight: 400;
  text-align: center;
  margin-top: 52rpx;
}

.default-button {
  width: 344rpx;
  line-height: 86rpx;
  background: url('https://img.hotmaxx.cn/web/common/mp-store/goodsIndex/favorite-btn-bg.png')center center no-repeat;
  border-radius: 30rpx;
  font-size: 36rpx;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44rpx;
}