.goods-view {
  padding-bottom: calc(20rpx + env(safe-area-inset-bottom));
}
.goods-content-list {
  padding: 18rpx 0;
  background: #ffffff;
  /* min-height: 290rpx; */
  padding-left: 18rpx;
  border-radius: 20rpx;
  overflow: hidden;
  display: flex;
  /* align-items: center; */
  margin-bottom: 18rpx;
}

.list-left {
  flex-shrink: 0;
  width: 254rpx;
  height: 254rpx;
  margin-right: 20rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-left > image {
  width: 254rpx;
  height: 254rpx;
  display: block;
}

.list-right {
  flex: 1;
  padding-top: 6rpx;
  padding-right: 22rpx;
}

.list-right-title {
  font-weight: 500;
  font-size: 32rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #040303;
  line-height: 44rpx;
}
.good-item-title-icon {
  display: inline-block;
  /* min-width: 70rpx; */
  padding: 0 8rpx;
  height: 34rpx;
  margin-bottom: 4rpx;
  margin-right: 8rpx;
  vertical-align: middle;
  background: linear-gradient(51deg, #ff4c34 0%, #ff3b4a 100%);
  border-radius: 6rpx;
  font-size: 20rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 34rpx;
  text-align: center;
}
.price-view {
  margin-top: 24rpx;
  width: 396rpx;
  height: 92rpx;
  position: relative;
}
.price-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.price-view-content {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
}
.price-view-content-left {
  padding-left: 18rpx;
  padding-top: 12rpx;
  width: 276rpx;
}
.price-view-content-left-tip {
  font-size: 20rpx;
  font-weight: 400;
  color: #ffffff;
  line-height: 28rpx;
}
.good-item-price-view {
  margin-top: -4rpx;
  font-size: 24rpx;
  color: #ffffff;
  height: 32rpx;
  line-height: 32rpx;
}
.good-item-price-text {
  font-size: 24rpx;
  font-weight: bold;
  color: #ffffff;
}

.good-item-price-icon,
.good-item-price,
.good-item-price-right {
  color: #ffffff;
  font-weight: 500;
  font-size: 16rpx;
}
.good-item-price-right {
  font-size: 24rpx;
}

.good-item-price {
  font-size: 32rpx;
}

.good-item-price-preprice {
  margin-left: 14rpx;
  font-size: 20rpx;
  font-weight: 400;
  color: #fff;
  line-height: 32px;
  text-decoration: line-through;
}
.price-view-content-right {
  padding-top: 18rpx;
}
.price-view-content-right-text {
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #d57709;
  line-height: 28rpx;
}
.new-list-item-footer {
  display: flex;
}
.new-list-item-cart-view {
  padding-top: 24rpx;
  padding-bottom: 10rpx;
  flex-shrink: 0;
  height: 86rpx;
  width: 52rpx;
  flex: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
}
.new-item-cart-icon {
  height: 52rpx;
  width: 52rpx;
  display: block;
}

.new-list-item-like {
  padding: 30rpx 48rpx 10rpx 0;
  box-sizing: content-box;
  position: relative;
  height: 40rpx;
  width: 40rpx;
}

.new-item-like-icon {
  width: 40rpx;
  height: 40rpx;
  display: block;
}
.new-list-item-shrae-view {
  position: relative;
  padding: 0;
  margin: 0;
  padding: 28rpx 48rpx 10rpx 0;
  box-sizing: content-box;
  width: 40rpx;
  height: 40rpx;
  border-radius: 0;
  background-color: transparent;
  background: transparent;
  line-height: 0;
}
.new-list-item-shrae-icon {
  width: 40rpx;
  height: 40rpx;
}
.new-arrival-default {
  margin-top: 134rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.goods-default-icon {
  width: 200rpx;
  height: 222rpx;
}
.goods-default-text {
  margin-top: 48rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 40rpx;
}
