.record-content {
  width: 100%;
  padding-left: 20rpx;
  padding-right: 20rpx;
  background: #F5F5F5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.record-header {
  width: 100%;
  height: 164rpx;
  background: linear-gradient(55deg, #FF582D 0%, #FF3838 100%);
  border-radius: 24rpx;
  margin-top: 20rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.SZ {
  font-size: 44rpx;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rpx;
}

.ZT {
  font-size: 26rpx;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin-top: 2rpx;
}

.record-HB {
  display: flex;
  align-items: center;
  margin-left: 35rpx;
}

.WH {
  width: 28rpx;
  height: 28rpx;
  margin-left: 8rpx;
  margin-top: 2rpx;
}

.DL {
  margin-left: 94rpx;
}

.XD {
  margin-right: 66rpx;
}

.record-list {
  background: #ffffff;
  margin-top: 206rpx;
  border-radius: 24rpx;
  margin-left: 20rpx;
  margin-right: 20rpx;
}

.record-list-title {
  font-size: 32rpx;
  color: #000000;
  font-weight: 500;
  padding-top: 42rpx;
  padding-bottom: 24rpx;
  margin-left: 30rpx;
}

.record-list-item {
  padding-bottom: 36rpx;
  margin-bottom: 36rpx;
  border-bottom: 1rpx solid #F3F3F3;
}

.record-list-item:last-child {
  border: none !important;
}

.record-list-item-text {
  font-size: 28rpx;
  color: #000000;
  font-weight: 500;
  margin-left: 30rpx;
}

.record-list-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 64rpx;
  position: relative;
  margin-left: 30rpx;
  margin-right: 30rpx;
}

.record-border-one {
  width: 32%;
  height: 2rpx;
  background: #DDDDDD;
  position: absolute;
  top: 86rpx;
  left: 97rpx;
}

.record-border-tow {
  width: 33%;
  height: 2rpx;
  background: #DDDDDD;
  position: absolute;
  top: 86rpx;
  right: 91rpx;
}

.record-list-icon {
  width: 44rpx;
  height: 44rpx;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.record-list-DL {
  font-size: 26rpx;
  color: #000000;
  font-weight: 400;
  text-align: center;
  padding-top: 16rpx;
}

.record-list-SJ {
  width: 150rpx;
  font-size: 24rpx;
  color: #BBBBBB;
  font-weight: 400;
  text-align: center;
  margin-top: 6rpx;
}

.record-HK {
  width: 646rpx;
  height: 146rpx;
  background: url('https://img-cdn.hotmaxx.cn/web/common/mp-store/rspl.png')center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 140rpx;
  left: 45rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.record-HK-text {
  width: 600rpx;
  color: #ffffff;
  font-size: 28rpx;
  font-weight: 400;
  margin-top: 8rpx;
}

.record-YHJ-icon-login {
  width: 206rpx;
  height: 52rpx;
  background: url('https://img-cdn.hotmaxx.cn/web/common/mp-store/hhcj.png')center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 10rpx;
  left: -30rpx;
  display: flex;
  justify-content: center;
}

.record-YHJ-icon-sign {
  width: 206rpx;
  height: 52rpx;
  background: url('https://img-cdn.hotmaxx.cn/web/common/mp-store/hhcj.png')center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 10rpx;
  left: 221rpx;
}

.record-YHJ-icon-order {
  width: 206rpx;
  height: 52rpx;
  background: url('https://img-cdn.hotmaxx.cn/web/common/mp-store/hhcj.png')center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 10rpx;
  right: -27rpx;
}

.YHJ-text {
  font-size: 18rpx;
  color: #ffffff;
  font-weight: 400;
  margin-top: 10rpx;
  margin-left: 49rpx;
}

.YHJ-text-one {
  margin-left: 30rpx !important;
}

.default-img {
  padding-top: 60rpx;
  padding-bottom: 120rpx;
}

.default-img-icon {
  width: 308rpx;
  height: 268rpx;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.default-text {
  text-align: center;
  font-size: 28rpx;
  color: #333333;
  font-weight: 400;
  padding-top: 46rpx;
}