<!--
此文件为开发者工具生成，生成时间: 2021/8/6 下午1:40:24
使用方法：
在 /Users/caopeng/caopeng/hotmax/WMP/mp_store/pages/user/orderList/index.wxml 引入模板

```
<import src="index.skeleton.wxml"/>
<template is="skeleton" wx-if="{{loading}}" />
```

在 /Users/caopeng/caopeng/hotmax/WMP/mp_store/pages/user/orderList/index.wxss 中引入样式
```
@import "./index.skeleton.wxss";
```

更多详细信息可以参考文档：https://developers.weixin.qq.com/miniprogram/dev/devtools/skeleton.html
-->
<template name="skeleton">
  <view class="sk-container">
    <view is="assets/components/navbar/index">
      <view class="navbar-index--navbar" style="height:89px;background:#FFFFFF">
        <view class="navbar-index--navbarH" style="height:89px;">
          <view class="navbar-index--content2" style="top:44px"></view>
          <view class="navbar-index--content sk-transparent sk-text-23-3333-342 sk-text" style="top: 44px; background-position-x: 50%;">订单列表</view>
        </view>
      </view>
      <view class="navbar-index--hav" style="height:89px;display:block"></view>
    </view>
    <view class="orderBox">
      <view class="showOrderTitle sk-transparent sk-text-32-8947-130 sk-text" style="background-position-x: 50%;">最多显示 30 天订单</view>
      <scroll-view scroll-y="true" class="orderView" lower-threshold="60" style="height:603px;">
        <view class="orederContent">
          <view data-orderid="1422810456900419584">
            <view class="orderTop">
              <image class="oderLogo sk-image"></image>
              <text class="shopName sk-transparent sk-text-14-2857-96 sk-text">申亚店（上海）</text>
              <text class="orderState sk-transparent sk-text-14-2857-273 sk-text">退款</text>
            </view>
            <view class="orderMiddle">
              <view class="picDetailsList">
                <image class="goodsImg sk-image" data-index="0" mode="widthFix" style="height: 66px;"></image>
                <image class="goodsImg sk-image" data-index="0" mode="widthFix" style="height: 66px;"></image>
              </view>
              <view class="totalPicDetails sk-transparent sk-text-14-2857-19 sk-text">共计2种商品</view>
              <image class="moreIcon sk-image" mode="widthFix" style="height: 7.5px;"></image>
            </view>
            <view class="orderSum">
              <view class="orderTimeTitle sk-transparent sk-text-14-2857-454 sk-text">下单时间</view>
              <view class="orderTime sk-transparent sk-text-14-2857-572 sk-text">2021-08-04 14:43:44</view>
              <view class="totalTitle sk-transparent sk-text-14-2857-125 sk-text">合计</view>
              <view class="totalIcon sk-transparent sk-opacity">¥</view>
              <view class="totalNum sk-transparent sk-text-14-2857-498 sk-text">2.5</view>
            </view>
          </view>
          <view class="orderBottom">
            <view class="goticket sk-transparent sk-image" data-channelorderno="10401D20210804141356759" data-poscode="10401D" data-shopno="10401">
              开发票
            </view>
          </view>
          <view style="height:16px"></view>
        </view>
        <view class="orederContent">
          <view data-orderid="1422803529822814208">
            <view class="orderTop">
              <image class="oderLogo sk-image"></image>
              <text class="shopName sk-transparent sk-text-14-2857-443 sk-text">申亚店（上海）</text>
              <text class="orderState sk-transparent sk-text-14-2857-194 sk-text">部分退款</text>
            </view>
            <view class="orderMiddle">
              <view class="picDetailsList">
                <image class="goodsImg sk-image" data-index="1" mode="widthFix" style="height: 66px;"></image>
                <image class="goodsImg sk-image" data-index="1" mode="widthFix" style="height: 66px;"></image>
                <image class="goodsImg sk-image" data-index="1" mode="widthFix" style="height: 66px;"></image>
              </view>
              <view class="totalPicDetails sk-transparent sk-text-14-2857-511 sk-text">共计3种商品</view>
              <image class="moreIcon sk-image" mode="widthFix" style="height: 7.5px;"></image>
            </view>
            <view class="orderSum">
              <view class="orderTimeTitle sk-transparent sk-text-14-2857-57 sk-text">下单时间</view>
              <view class="orderTime sk-transparent sk-text-14-2857-988 sk-text">2021-08-04 14:16:03</view>
              <view class="totalTitle sk-transparent sk-text-14-2857-921 sk-text">合计</view>
              <view class="totalIcon sk-transparent sk-opacity">¥</view>
              <view class="totalNum sk-transparent sk-text-14-2857-142 sk-text">2.5</view>
            </view>
          </view>
          <view class="orderBottom">
            <view class="goticket sk-transparent sk-image" data-channelorderno="10401J20210804141512871" data-poscode="10401J" data-shopno="10401">
              开发票
            </view>
          </view>
          <view style="height:16px"></view>
        </view>
        <view class="orederContent">
          <view data-orderid="1422803028607680512">
            <view class="orderTop">
              <image class="oderLogo sk-image"></image>
              <text class="shopName sk-transparent sk-text-14-2857-651 sk-text">申亚店（上海）</text>
              <text class="orderState sk-transparent sk-text-14-2857-916 sk-text">部分退款</text>
            </view>
            <view class="orderMiddle">
              <view class="picDetailsList">
                <image class="goodsImg sk-image" data-index="2" mode="widthFix" style="height: 66px;"></image>
                <image class="goodsImg sk-image" data-index="2" mode="widthFix" style="height: 66px;"></image>
                <image class="goodsImg sk-image" data-index="2" mode="widthFix" style="height: 66px;"></image>
              </view>
              <view class="totalPicDetails sk-transparent sk-text-14-2857-912 sk-text">共计4种商品</view>
              <image class="moreIcon sk-image" mode="widthFix" style="height: 7.5px;"></image>
            </view>
            <view class="orderSum">
              <view class="orderTimeTitle sk-transparent sk-text-14-2857-806 sk-text">下单时间</view>
              <view class="orderTime sk-transparent sk-text-14-2857-655 sk-text">2021-08-04 14:14:04</view>
              <view class="totalTitle sk-transparent sk-text-14-2857-695 sk-text">合计</view>
              <view class="totalIcon sk-transparent sk-opacity">¥</view>
              <view class="totalNum sk-transparent sk-text-14-2857-970 sk-text">2.5</view>
            </view>
          </view>
          <view class="orderBottom"></view>
        </view>
      </scroll-view>
    </view>
  </view>
</template>