<navbar parameter='{{parameter}}'></navbar>
<view class='login'>
  <image class="bg-icon" src="https://img.hotmaxx.cn/web/common/mp-store/goodsIndex/userLogin/login-default.png" />
  <view class='content'>
    <view class="title">Hello！</view>
    <view class="title-2">欢迎您来到好特卖</view>
    <view class="desc">亲爱的用户，如需要体验更好的会员服务，请先登录或成为Hotmaxx好特卖会员吧！</view>
    <button hidden="{{!isCheck}}" class="appLogin-button flex-center" open-type="getPhoneNumber"
      bindgetphonenumber="getUserPhone">
      立即登录
    </button>
    <view hidden="{{isCheck}}" class="appLogin-button flex-center" bindtap="getUserPhone">
      立即登录
    </view>
    <view class="footer">
      <view class="left" bindtap="changeCheck">
        <image hidden="{{isCheck}}" class="check-icon"
          src="https://img.hotmaxx.cn/web/common/mp-store/goodsIndex/login/check.png" />
        <image hidden="{{!isCheck}}" class="check-icon"
          src="https://img.hotmaxx.cn/web/common/mp-store/goodsIndex/login/checked.png" />
      </view>
      <view class="right">
        我已阅读并同意<text class="active" catchtap="goUserAgreement">《Hotmaxx好特卖会员服务协议》、</text><text class="active"
          catchtap="goAgreement">隐私权政策</text>
      </view>
    </view>
  </view>

</view>