page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 24rpx;
  box-sizing: border-box;
}
.bg-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 750rpx;
  z-index: 0;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding-top: 50rpx;
}
.content {
  position: relative;
  z-index: 1;
}
.title {
  padding-left: 48rpx;
  font-size: 64rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 64rpx;
}
.title-2 {
  padding-left: 52rpx;
  margin-top: 20rpx;
  font-size: 40rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 44rpx;
}
.desc {
  margin: 60rpx auto 0 auto;
  width: 654rpx;
  font-size: 32rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 48rpx;
}

.appLogin-button {
  margin: 100rpx auto 0 auto;
  width: 612rpx;
  height: 72rpx;
  background: #ee1b10;
  border-radius: 36rpx;
  font-size: 32rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  color: #ffffff;
  font-weight: 400;
}
.footer {
  margin-top: 60rpx;
  padding: 0 48rpx;
  display: flex;
}
.check-icon {
  width: 36rpx;
  height: 36rpx;
}
.footer .left {
  position: relative;
  padding-top: 2rpx;
}
.footer .left::after {
  position: absolute;
  content: " ";
  left: -48rpx;
  top: -48rpx;
  right: -30rpx;
  bottom: -30rpx;
}
.footer .right {
  margin-left: 20rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 34rpx;
}
.footer .active {
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  font-size: 24rpx;
  color: #ee1b10;
  line-height: 34rpx;
}
