page {
  height: 100%;
}

.orderBox {
}

.orderNo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.orderNo image {
  width: 180rpx;
  height: 226rpx;
}

.noorderTitle {
  font-size: 26rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #A5A6AA;
  margin-top: 42rpx;
}

.orederContent {
  width: 710rpx;
  background: #FFFFFF;
  border-radius: 24rpx;
  margin-left: 20rpx;
  margin-top: 20rpx;
  margin-bottom: 4rpx;
  position: relative;
}

.show {
  display: block;
}

.orderTop {
  height: 98rpx;
}

.oderLogo {
  position: absolute;
  width: 38rpx;
  height: 38rpx;
  left: 28rpx;
  top: 32rpx;
}

.shopName {
  position: absolute;
  left: 74rpx;
  top: 28rpx;
  font-size: 32rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #1A1A1A;
}
.orderStatus{
  position: absolute;
  right: 20rpx;
  top: 28rpx;
  font-size: 32rpx;
  font-family: PingFangSC-Medium, PingFang SC;
 /* font-weight: 500; */
  color: #1A1A1A;	
}
.textRed{
	color: #EC0000;
}
.orderMiddle {
  height: 132rpx;
}

.picDetailsList {
  width: 478rpx;
  position: absolute;
  left: 30rpx;
  top: 98rpx;
}

.orderId {
  font-size: 26rpx;
  font-weight: 400;
  color: #333333;
}

.orderState {
  position: absolute;
  right: 22rpx;
  top: 28rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #EC0000;
}

.orderGoods {
  margin-top: 24rpx;
}

.line {
  width: 750rpx;
  height: 2rpx;
  background: #E5E5E5;
  margin-left: -24rpx;
}

.orderBottom {
  height: 90rpx;
}

.goticket {
  width: 160rpx;
  height: 64rpx;
  background: linear-gradient(213deg, #FF5025 0%, #F60600 100%);
  border-radius: 32rpx;
  text-align: center;
  line-height: 64rpx;
  font-size: 26rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  position: absolute;
  left: 528rpx;
  top: 326rpx;
}

.o1 {
  opacity: 0;
  display: none;
}

.o2 {
  opacity: 1;
  display: none;
}

.orderBottom button {
  height: 72rpx;
  border-radius: 40rpx;
  border: 1rpx solid #B2B2B2;
  font-size: 28rpx;
  font-weight: 400;
  color: #333333;
  line-height: 72rpx;
  display: inline-block;
  background: #FFFFFF;
  float: right;
}

.orderGoodsContent {
  margin-bottom: 40rpx;
  font-size: 0;
  overflow: hidden;
  display: flex;
}

.goodsImg {
  width: 132rpx;
  height: 132rpx;
  background: #FFFFFF;
  border-radius: 16rpx;
  display: inline-block;
  margin-right: 14rpx;
}

.totalPicDetails {
  left: 468rpx;
  top: 144rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #A5A6AA;
  position: absolute;
}

.moreIcon {
  left: 637rpx;
  top: 157rpx;
  position: absolute;
  width: 10rpx;
  height: 16rpx;
}

.orderSum {
  display: flex;
  /* height: 68rpx;
  line-height: 68rpx; */
  /* flex-direction: row-reverse; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20rpx;
}

.orderTimeTitle {
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #000000;
/*  left: 30rpx;
  top: 258rpx;
  position: absolute; */
}

.orderTime {
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #A5A6AA;
  padding-left: 10rpx;
/*  left: 158rpx;
  top: 258rpx;
  position: absolute; */
}
.cancelContent{
	display: flex;
	justify-content: flex-end;
}
.cancelBtn {
	width: 140rpx;
	height: 54rpx;
	background: #F7F7F7;
	color: #000000;
	border-radius: 32rpx;
	border: 1px solid #828282;
	text-align: center;
	line-height: 54rpx;
	font-size: 24rpx;
	display: block;
	align-self: flex-end;
}
.totalTitle {
  font-size: 28rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  left: 540rpx;
  top: 258rpx;
  position: absolute;
}

.totalIcon {
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #000000;
  left: 606rpx;
  top: 264rpx;
  position: absolute;
}

.totalNum {
  font-size: 34rpx;
  font-family: DINAlternate-Bold, DINAlternate;
  font-weight: bold;
  color: #000000;
  left: 624rpx;
  top: 258rpx;
  position: absolute;
}

.goodsInfo {
  height: 182rpx;
  display: inline-block;
  position: relative;
}

.ys-bt {
  width: 182rpx;
  height: 72rpx;
  border-radius: 40rpx;
  border: 1rpx solid #FF3B30 !important;
  color: #FF3B30 !important;
  margin-right: 20rpx;
}

.goodsName {
  width: 100%;
  height: 80rpx;
  font-size: 28rpx;
  font-weight: 400;
  color: #333333;
  line-height: 40rpx;
  letter-spacing: 1rpx;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.goodsStyle {
  width: 100%;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  color: #666666;
  letter-spacing: 1rpx;
  font-size: 26rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.goodsCode {
  font-size: 22rpx;
  font-weight: 500;
  color: #333333;
  float: right;
  margin-top: 6rpx;
}

.goodsBottom {
  position: absolute;
  font-size: 0;
  width: 100%;
}

.goodsPrice {
  text-align: right;
  font-weight: bold;
  color: #333333;
  font-size: 32rpx;
}

.old-price {
  color: #B2B2B2;
  font-size: 26rpx;
  letter-spacing: 1px;
  line-height: 37px;
  text-align: right;
  text-decoration: line-through;
}

.numImg {
  width: 18rpx;
  height: 18rpx;
}

.goodsNum {
  margin-left: 10rpx;
  text-align: right;
  position: relative;
  top: 0rpx;
}

.goodsNum text {
  font-size: 26rpx;
  font-weight: 500;
  color: #666666;
}

.orderShowMpodel {
  width: 540rpx;
  overflow: hidden;
  height: 750rpx;
  background: radial-gradient(circle at left bottom, transparent 20rpx, white 0) top left / 50.5% 35.4% no-repeat,
    radial-gradient(circle at left top, transparent 20rpx, white 0) bottom left /50.5% 64.85% no-repeat,
    radial-gradient(circle at right bottom, transparent 20rpx, white 0) top right /50.5% 35.4% no-repeat,
    radial-gradient(circle at right top, transparent 20rpx, white 0) bottom right /50.5% 64.85% no-repeat;
}

.barcodeText {
  font-size: 24rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 33rpx;
  letter-spacing: 3rpx;
}

.hideShow {
  opacity: 0
}

.showYS {
  opacity: 1;
}

button::after {
  border: none;
}

.tabs {
  display: flex;
  width: 100%;
  height: 88rpx;
  line-height: 88rpx;
  box-sizing: border-box;
  position: fixed;
  z-index: 500;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  border: 1px solid #eeeeee;
}

.tabs__tab {
  width: 50%;
  text-align: center;
  font-size: 28rpx;
  letter-spacing: 1rpx;
  font-weight: 400;
  color: #999999;
}

.tabs__tab text {
  color: #999999;
}

.active__tab text {
  color: #333333;
}

.active__tab {
  font-weight: 600;
  font-size: 30rpx;
  color: #333333;
}

.onlineModel {
  width: 540rpx;
  overflow: hidden;
}

.okBtn {
  text-emphasis: center;
  display: block;
  width: 100%;
  font-size: 32rpx;
  color: #576B95;
}

.modelShowCont {
  background: #fff;
  border-bottom: #eee 1rpx solid;
}

.phthoeCLass {
  margin-top: 30rpx;
  margin-bottom: 15rpx;
}

.phthoeCLass text {
  color: #576B95;
  text-decoration: underline;
}

.amountText {
  font-size: 26rpx;
  font-weight: 400;
  color: #999999;
  letter-spacing: 1px;
  text-align: right;
  margin-top: -10rpx;
}

.productCount {
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
}

.productCount text {
  font-size: 28rpx;
  font-weight: 600;
  color: #FF3B30;
}

.amountTotal {
  position: relative;
  margin-top: 36rpx;
  line-height: 36rpx;
  margin-bottom: 24rpx;
}

.payAmount {
  font-size: 32rpx;
  font-weight: bold;
  color: #333333;
  position: absolute;
  top: -2rpx;
  right: 10rpx;
}

.sanjiao {
  position: absolute;
  width: 24rpx;
  height: 12rpx;
  content: '';
  left: 560rpx;
  border-top: 0rpx solid #fff;
  border-left: 12rpx solid #888;
  border-right: 12rpx solid #888;
  border-bottom: 12rpx solid #fff;
}

.selbox {
  position: absolute;
  width: 200rpx;
  height: 400rpx;
  border-radius: 14rpx;
  background-color: #fff;
  left: 470rpx;
  padding: 0 20rpx;
}

.selbox view {
  height: 80rpx;
  line-height: 80rpx;
  border-bottom: 1rpx solid #f5f5f5;
  text-align: center;
}

.selbox view:last-child {
  border-bottom: 0rpx solid #f6f6f6;
}

.showOrderTitle {
  width: 100%;
  height: 76rpx;
  text-align: center;
  font-size: 26rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #A5A6AA;
  line-height: 76rpx;
}
.totaltitle{
	font-size: 28rpx;
	padding-right: 10rpx;
}
.totalAmount{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-items: baseline;
}
.font10{
	font-size: 20rpx;
}
.font17{
	font-size: 34rpx;
}
.fontBold{
	font-weight: 500;
}