.img-card {
  position: fixed;
  z-index: 10;
  left: 25rpx;
  top: 10%;
  margin: 0 auto;
  width: 700rpx;
  height: 832rpx;
  background: url("https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/mine2/%E7%BC%96%E7%BB%84%2020%402x.png")
    no-repeat left 224rpx;
  background-size: 100% 714rpx;
  border-radius: 20rpx;
  padding-top: 480rpx;
  opacity: 0;
  transition: height 0.2s ease;
}
.img-card.share {
  height: 938rpx;
}
.card-icon {
  position: absolute;
  left: 150rpx;
  top: 0rpx;
  width: 400rpx;
  height: 448rpx;
}
.card-title {
  text-align: center;
  font-size: 42rpx;
  font-weight: 500;
  color: #ffffff;
  line-height: 58rpx;
}
.card-desc {
  text-align: center;
  margin-top: 12rpx;
  font-size: 24rpx;
  color: #ffffff;
  line-height: 34rpx;
}

.card-date {
  text-align: center;
  margin-top: 36rpx;
  font-size: 24rpx;
  color: #ffffff;
  line-height: 34rpx;
}

.card-btn-view {
  margin-top: 22rpx;
  height: 156rpx;
  padding: 0 40rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.border-btn {
  width: 260rpx;
  height: 80rpx;
  border-radius: 48rpx;
  border: 1rpx solid #bdbdbd;
  transform: rotateZ(360deg);
  line-height: 78rpx;
  text-align: center;
  font-size: 32rpx;
  color: #9b9b9b;
}
.red-btn {
  width: 260rpx;
  height: 80rpx;
  background: linear-gradient(90deg, #ff6565 0%, #d92727 100%);
  border-radius: 48rpx;
  line-height: 80rpx;
  text-align: center;
  font-size: 32rpx;
  color: #ffffff;
}

.user-info {
  margin-top: 22rpx;
  height: 126rpx;
  padding: 0 40rpx;
  display: flex;
  align-items: center;
}
.user-info .avatar {
  width: 72rpx;
  height: 72rpx;
  border-radius: 50%;
  margin-right: 12rpx;
}
.share-footer {
  border-top: 1rpx solid #ececec;
  position: relative;
  padding-top: 24rpx;
  padding-left: 40rpx;
}
.share-footer-tip {
  font-size: 22rpx;
  color: #666666;
  line-height: 32rpx;
}
.share-footer-icon {
  margin-top: 20rpx;
  width: 196rpx;
  height: 24rpx;
}
.share-qrcode {
  position: absolute;
  right: 36rpx;
  top: 14rpx;
  width: 104rpx;
  height: 104rpx;
}

.close {
  position: absolute;
  left: 50%;
  margin-left: -30rpx;
  bottom: -140rpx;
  display: block;
  width: 60rpx;
  height: 60rpx;
}

.share-bottom {
  position: fixed;
  bottom: -390rpx;
  left: 0;
  z-index: 100;
  width: 750rpx;
  height: 382rpx;
  background: #ffffff;
  border-radius: 28rpx 28rpx 0px 0px;
  padding-top: 48rpx;
  transition: all 0.2s ease;
}
.share-bottom.show {
  bottom: 0;
}

.share-list {
  display: flex;
  padding-left: 48rpx;
  padding-bottom: 46rpx;
}
.share-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24rpx;
  color: #666666;
  line-height: 34rpx;
  margin: 0;
  padding: 0;
  background: none;
  margin-right: 52rpx;
}
.share-item-icon {
  width: 96rpx;
  height: 96rpx;
  margin-bottom: 12rpx;
}
.share-cancel {
  border-top: 1rpx solid #ececec;
  padding-top: 24rpx;
  padding-bottom: 24rpx;
  text-align: center;
  font-size: 32rpx;
  color: #666666;
  line-height: 44rpx;
}

.canvas-box {
  position: fixed;
  left: 110%;
  top: 0;
}
