/* pages/userIndex/index.wxss */
page {
  min-height: 100vh;
  background: #f9f9f9 !important;
  /* background: url('https://img.hotmaxx.cn/web/common/mp-store/bannerTop.png') #F7F6F9 no-repeat;
  background-size: 100% 540rpx; */
}
/* 公共 */
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.arrow-icon {
  width: 14rpx;
  height: 18rpx;
  margin-left: 4rpx;
}
.card {
  width: 702rpx;
  background: #ffffff;
  border-radius: 16rpx;
  margin: 0 auto;
}
.card .header {
  height: 44rpx;
}
.card .sub-title {
  color: #999999;
  line-height: 34rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
}
/* 进度条圆角 */
.wx-progress-inner-bar {
  border-radius: 12px !important;
}
/* 背景 */
.header-bg {
  position: absolute;
  width: 750rpx;
  height: 794rpx;
  top: 0;
  z-index: -1;
}
.header-bg .img {
  width: 750rpx;
  height: 794rpx;
}

/* 门店地址 */
.storeAddress {
  width: 100%;
  height: 48rpx;
  padding: 0 24rpx;
  font-size: 28rpx;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 10rpx;
}
.point {
  width: 40rpx;
  height: 40rpx;
}
.turnaround {
  width: 22rpx;
  height: 14rpx;
  margin: 0 10rpx;
}

/* notice-bar */
.notice-bar {
  width: 100%;
  padding: 0 24rpx;
  position: relative;
}
.joinclub {
  width: 144rpx;
  height: 48rpx;
  background: url(https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/member2/user/%E5%8A%A0%E5%85%A5%E7%BE%A4%E8%81%8A%402x.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 24rpx;
  top: 0;
  color: #ffffff;
  font-size: 24rpx;
  line-height: 48rpx;
  text-align: center;
}
.notice-bar-view {
  height: 48rpx;
  border-radius: 24rpx;
  padding: 0 12rpx;
  background: rgba(255, 255, 255, 0.12);
  display: flex;
  align-items: center;
}
.notice-bar-view-icon {
  width: 32rpx;
  height: 32rpx;
  margin-right: 12rpx;
  flex-shrink: 0;
}
.notice-bar-view-text-view {
  position: relative;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  color: #ffffff;
}

view .van-notice-bar {
  height: 48rpx;
  border-radius: 24rpx;
  padding: 0 12rpx;
}
view .van-notice-bar__left-icon {
  width: 32rpx;
  height: 32rpx;
  margin-right: 12rpx;
}
view .van-notice-bar__content {
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
}
/* 顶部卡片 */
.user-info {
  position: relative;
  z-index: 2;
  width: 690rpx;
  height: 370rpx;
  border-radius: 24rpx;
  margin: 24rpx auto 0 auto;
  padding: 46rpx 0 0 42rpx;
}
.user-info-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 690rpx;
  height: 370rpx;
  z-index: -1;
}
.qrcode {
  position: absolute;
  top: 14rpx;
  right: 12rpx;
  width: 44rpx;
  height: 44rpx;
}
.user-info .header {
  display: flex;
  height: 120rpx;
}
.avatar-view {
  position: relative;
  flex-shrink: 0;
  margin-right: 24rpx;
  width: 120rpx;
  height: 120rpx;
}
.avatar-pendant {
  position: absolute;
  width: 98rpx;
  height: 108rpx;
  top: -18rpx;
  left: -6rpx;
  z-index: 0;
}
.avatar {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 120rpx;
  height: 120rpx;
  border-radius: 50%;
}
.avatar-img {
  width: 100%;
  height: 100%;
}
.header-right .top {
  display: flex;
  padding-top: 4rpx;
}
.nick-name {
  max-width: 216rpx;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 36rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #e48d2f;
  line-height: 50rpx;
}
.nick-name-text {
  font-size: 36rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 600;
  color: #e48d2f;
}
.user-rules {
  display: flex;
  align-items: center;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #e48d2f;
  line-height: 34rpx;
  margin-left: 10rpx;
}
.user-rules-icon {
  width: 12rpx;
  height: 18rpx;
  margin-left: 4rpx;
}
.member-icon-view {
  position: absolute;
  left: -22rpx;
  bottom: -12rpx;
  width: 160rpx;
  height: 40rpx;
  border-radius: 20rpx;
  display: flex;
  align-items: center;
  padding-left: 56rpx;
  z-index: 2;
}
.member-icon {
  position: absolute;
  width: 54rpx;
  height: 56rpx;
  top: -10rpx;
  left: -4rpx;
  z-index: 1;
}
.member-icon-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.member-title {
  position: relative;
  z-index: 1;
  font-size: 22rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 40rpx;
  height: 100%;
}

.progress {
  margin-top: 12rpx;
  width: 288rpx;
}
.user-info .desc {
  margin-top: 4rpx;
  font-size: 18rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #e48d2f;
  line-height: 34rpx;
}
.user-info .desc .dwsc-text {
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ca6900;
  line-height: 34rpx;
}
.user-info .bottom {
  display: flex;
  margin-top: 62rpx;
}
.user-info-btn {
  width: 116rpx;
  height: 46rpx;
  border-radius: 23rpx;
  border: 1rpx solid #ffe1e1;
  font-size: 20rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10rpx;
}
.energy {
  margin-right: 36rpx;
}
.energy .energy-text {
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #e48d2f;
  line-height: 34rpx;
}
.energy-icon {
  margin-left: 0;
}
.energy-num {
  font-size: 28rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  margin-right: 20rpx;
  color: #474745;
  line-height: 40rpx;
}
/* 7天无理由 */
.icon-list {
  width: 100%;
  display: flex;
  height: 40rpx;
  align-items: center;
  padding-left: 82rpx;
}
.icon-item {
  display: flex;
  height: 32rpx;
  align-items: center;
  font-size: 20rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 28rpx;
}
.icon-item:not(:last-child) {
  margin-right: 72rpx;
}
.icon-item-icon {
  width: 32rpx;
  height: 32rpx;
  margin-right: 8rpx;
}
/* radius */
.radius {
  margin-top: 20rpx;
  width: 100%;
  background: #f9f9f9;
  padding-top: 24rpx;
  border-radius: 24rpx 24rpx 0 0;
}
/* 登录卡片 */
.login-card {
  width: 694rpx;
  height: 1014rpx;
  background: #ffffff;
  border-radius: 24rpx;
  z-index: 1;
  padding-top: 188rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-card-icon {
  width: 100%;
  height: 738rpx;
}
.login-card-bottom {
  position: relative;
  height: 650rpx;
  width: 100%;
}
.login-card-icon-bottom {
  width: 100%;
  height: 650rpx;
}
.login-card-tip {
  margin-top: 110rpx;
  font-size: 32rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  line-height: 32rpx;
}
.login-card-btn {
  margin-top: 140rpx;
  width: 556rpx;
  height: 84rpx;
  background: linear-gradient(221deg, #ff5555 0%, #ef1919 100%);
  box-shadow: 0px 4rpx 20rpx 0px rgba(255, 88, 88, 0.35);
  border-radius: 42rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 84rpx;
  text-align: center;
}

/* 订单 */
.order {
  padding: 20rpx 16rpx 20rpx 10rpx;
}
.order-title {
  font-size: 32rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 44rpx;
}
.order-list {
  margin-top: 32rpx;
  display: flex;
}
.order-item {
  flex: 1;
}
.order-item-icon-view {
  position: relative;
  width: 48rpx;
  height: 48rpx;
}
.order-item-num {
  position: absolute;
  right: -40%;
  top: -17rpx;
  padding: 0 9rpx;
  height: 34rpx;
  min-width: 34rpx;
  text-align: center;
  line-height: 34rpx;
  background: #ff442f;
  border-radius: 50%;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
}
.order-item-icon {
  width: 48rpx;
  height: 48rpx;
}
.order-item-text {
  margin-top: 16rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 34rpx;
}

.member {
  margin-top: 24rpx;
  padding: 12px 0 12rpx 0;
}
.member .header {
  padding: 0 16rpx 0 10rpx;
}

.coupon-swiper.wx-swiper-dots {
  position: relative;
  left: unset !important;
  right: 0;
}
.coupon-swiper .wx-swiper-dots.wx-swiper-dots-horizontal {
  margin-bottom: -14rpx;
}
.coupon-swiper .wx-swiper-dot {
  display: inline-flex;
  border-radius: 5rpx;
  width: 12rpx;
  height: 8rpx;
  margin-left: -8rpx;
  border-radius: 4rpx;
  justify-content: space-between;
}
.coupon-swiper .wx-swiper-dot-active {
  width: 34rpx;
  height: 8rpx;
  border-radius: 4rpx;
}
.coupon-list {
  max-height: 650rpx;
  overflow: auto;
}
.coupon-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 266rpx;
}
.coupon-item .item-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.coupon-item .coupon-img {
  min-width: 116rpx;
  max-width: 168rpx;
  height: 156rpx;
}
.coupon-item .left {
  padding: 44rpx 0 0 44rpx;
  position: relative;
  width: 384rpx;
  flex-shrink: 0;
}
.coupon-item .title {
  width: 316px;
  font-size: 32rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #130a0a;
  line-height: 44rpx;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.coupon-item .desc {
  font-size: 20rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 28rpx;
  margin-top: 26rpx;
}

.coupon-item .right-btn {
  margin-top: 24rpx;
  width: 136rpx;
  height: 52rpx;
  background: #f73838;
  border-radius: 32rpx;
  font-size: 24rpx;
  color: #fff;
  line-height: 52rpx;
  text-align: center;
}
.coupon-item .center {
  position: relative;
  width: 20rpx;
  display: flex;
  margin-left: 2rpx;
  align-items: center;
  justify-content: center;
  font-size: 20rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #f73838;
  flex-shrink: 0;
}
.coupon-item .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
/* 低碳 */
.low-carbon-title {
  width: 100%;
  padding: 24rpx 34rpx 24rpx 34rpx;
  font-size: 32rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 44rpx;
}
.low-carbon-img-view {
  position: relative;
  margin: 0 24rpx;
  margin-bottom: 10rpx;
}
.low-carbon-img {
  width: 702rpx;
  display: block;
  min-height: 100rpx;
}
/* utils */
.utils-list {
  margin-top: 24rpx;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50rpx;
}
.utils-item {
  width: 25%;
  flex-shrink: 0;
  margin-bottom: 36rpx;
}
.utils-item-icon-view {
  position: relative;
  width: 48rpx;
  height: 48rpx;
}
.utils-item-icon {
  width: 48rpx;
  height: 48rpx;
}
.utils-item-tag-icon {
  position: absolute;
  top: -22rpx;
  right: -56rpx;
  width: 72rpx;
  max-width: 72rpx;
  height: 28rpx;
}
.utils-item-text {
  margin-top: 16rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 34rpx;
}

.medal {
  margin-top: 24rpx;
  padding-bottom: 24rpx;
}
.medal .header {
  padding: 0 24rpx;
}
.medal-list {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 24rpx;
  overflow-x: scroll;
}
.medal-list::after {
  content: "1";
  width: 24rpx;
  color: #fff;
  height: 82rpx;
  display: block;
  visibility: hidden;
}
.medal-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.medal-item {
  margin-right: 26rpx;
}
.medal-item-icon {
  width: 142rpx;
  height: 126rpx;
  margin-bottom: 4rpx;
}
.medal-item-title {
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #130a0a;
  line-height: 34rpx;
  text-align: center;
}

.footer {
  /* position: fixed;
  left: 0;
  bottom: 0; */
  margin-top: 130rpx;
  width: 100%;
  height: 94rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #c0c0c0;
  line-height: 34rpx;
  text-align: center;
}
.footer .phone {
  font-size: 24rpx;
  color: #c0c0c0;
  text-decoration: underline;
}

/* model */
.model-title {
  width: 380rpx;
  height: 64rpx;
}
/* 一个 */
.model-content {
  position: relative;
  margin-top: 72rpx;
  width: 416rpx;
  height: 402rpx;
  margin-bottom: 90rpx;
}
.model-content .model-content-bg {
  width: 814rpx;
  max-width: 814rpx;
  height: 812rpx;
  position: absolute;
  z-index: -1;
  left: -188rpx;
  top: -182rpx;
}
.model-content .img {
  position: absolute;
  left: 0;
  top: 0;
  width: 416rpx;
  height: 100%;
  z-index: 2;
}
.model-content .img-active {
  width: 416rpx;
  z-index: 1;
  animation: animation-rotate2 1s linear;
  animation-fill-mode: forwards;
}
.model-content .img.rotate {
  animation: animation-rotate 1s linear;
  animation-fill-mode: forwards;
  /* animation-play-state: paused; */
}
/* 多个 */
.module-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 40rpx 0 40rpx; */
  /* align-items: center; */
  justify-content: space-around;
  margin-bottom: 30rpx;
  margin-top: 70rpx;
}
.module-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 52rpx;
}
/* .module-item:nth-child(3n){
  margin-right: 0;
} */
.module-item .item-img {
  width: 188rpx;
  height: 182rpx;
  margin-bottom: 8rpx;
}
.module-item .item-img.rotate {
  animation: animation-rotate 0.5s linear;
  animation-fill-mode: forwards;
  /* animation-play-state: paused; */
}
.module-item .img-active {
  position: absolute;
  left: 0;
  top: 0;
  width: 188rpx;
  height: 182rpx;
  z-index: 1;
  animation: animation-rotate2 0.5s linear;
  animation-fill-mode: forwards;
}
.module-item .item-title {
  font-size: 32rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 44rpx;
}
.model-sub-title {
  margin-top: 36rpx;
  margin-bottom: 90rpx;
  font-size: 32rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 44rpx;
}
.model-receive-btn {
  width: 512rpx;
  height: 88rpx;
  background: linear-gradient(221deg, #ff5555 0%, #ef1919 100%);
  box-shadow: 0px 4rpx 20rpx 0px rgba(255, 88, 88, 0.35);
  border-radius: 44rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 88rpx;
  text-align: center;
}
.model-close {
  margin-top: 64rpx;
  width: 58rpx;
  height: 58rpx;
}
@keyframes animation-rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@keyframes animation-rotate2 {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
  }
}
/* @keyframes animation-bg{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotateY(45deg);
  }
} */
/* 领取优惠券 */
.coupon-model {
  position: relative;
  width: 624rpx;
  height: 698rpx;
  padding-top: 508rpx;
  padding-left: 26rpx;
  background: url("https://img.hotmaxx.cn/web/common/mp-store/common/model-coupon-view-bg.png") no-repeat;
  background-size: 100% 100%;
  animation: animation-scale 1s linear;
}
.coupon-model.two {
  height: 846rpx;
  padding-top: 498rpx;
  background: url(https://img.hotmaxx.cn/web/common/mp-store/common/model-coupon-longview-bg.png) no-repeat;
  background-size: 100% auto;
  animation: animation-scale 1s linear;
  border-radius: 0 0 32rpx 32rpx;
}
.coupon-model .model-close {
  margin-top: 64rpx;
  width: 58rpx;
  height: 58rpx;
  margin: 0;
  position: absolute;
  bottom: -86rpx;
  left: 50%;
  transform: translateX(-50%);
}

.coupon-model.long {
  height: 1020rpx;
  padding-top: 498rpx;
  background: url("https://img.hotmaxx.cn/web/common/mp-store/common/model-coupon-longview-bg.png") no-repeat;
  background-size: 100% 100%;
  animation: animation-scale 1s linear;
}
.model-coupon-list {
  max-height: 500rpx;
  overflow: auto;
}
.model-coupon-item {
  width: 576rpx;
  height: 154rpx;
  background: url("https://img.hotmaxx.cn/web/common/mp-store/common/model-coupon-bg.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 28rpx 30rpx 30rpx 28rpx;
  overflow: hidden;
  margin-bottom: 18rpx;
}
.model-coupon-item .item-icon {
  position: absolute;
  right: 6rpx;
  top: -22rpx;
  width: 113rpx;
  height: 91rpx;
}
.model-coupon-item .left {
  position: relative;
  display: flex;
}
.model-coupon-item .left .left-img {
  width: 96rpx;
  height: 96rpx;
  flex-shrink: 0;
  border-radius: 4rpx;
  margin-right: 12rpx;
}
.model-coupon-item .left .left-view {
  padding-top: 2rpx;
}
.model-coupon-item-title {
  font-size: 28rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #130a0a;
  line-height: 40rpx;
  width: 254rpx;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.model-coupon-item .left-view .desc {
  margin-top: 18rpx;
  font-size: 20rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #130a0a;
  line-height: 28rpx;
}
.model-coupon-item .right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.model-coupon-item .right .price {
  font-size: 64rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #f60600;
  line-height: 70rpx;
}
.model-coupon-item .price .icon {
  font-size: 28rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ff1010;
  line-height: 40rpx;
}
.model-coupon-item .right .right-btn {
  width: 140rpx;
  height: 54rpx;
  background: linear-gradient(221deg, #ff5555 0%, #ef1919 100%);
  box-shadow: 0px 4rpx 20rpx 0px rgba(255, 88, 88, 0.35);
  border-radius: 30rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 54rpx;
  text-align: center;
}
@keyframes animation-scale {
  0% {
    transform: scale(0.4);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* 我喜欢的 */
.card.favorite {
  margin-bottom: 24rpx;
  padding: 24rpx 16rpx 24rpx 10rpx;
}
.readyPickup {
  height: 328rpx;
  /* background-color: brown; */
}
.readyPickupSwiper {
  height: 100%;
}
.pickupItem {
  display: flex;
}
.pickIt {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pickQrcode {
  width: 240rpx;
  height: 240rpx;
  border: 1px #f62c1e dashed;
  border-radius: 14rpx;
  padding: 20rpx;
}
.pickstore {
  color: #333;
  font-weight: 600;
  font-size: 32rpx;
}
.pickgoods {
  color: #999;
  font-size: 24rpx;
  line-height: 72rpx;
}
/* 透明消失 */
.receive-modal-opticy {
  animation: toOpcity0 400ms linear;
  animation-fill-mode: forwards;
}
@keyframes toOpcity0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.01;
  }
}
/*  */
/* 轮播 */
.swiper-view {
  position: relative;
  padding: 24rpx 24rpx 0 24rpx;
}
.swiper {
  width: 702rpx;
  height: 152rpx;
  border-radius: 16rpx;
}
.swiper-item,
.swiper-item-img {
  width: 100%;
  height: 100%;
  border-radius: 24rpx;
}
.swiper-view .wx-swiper-dot {
  display: inline-flex;
  border-radius: 5rpx;
  width: 10rpx;
  height: 10rpx;
  background: rgba(255, 255, 255, 0.5);
  margin-left: 10rpx;
  margin-bottom: -10rpx;
  justify-content: space-between;
}

.swiper-view .wx-swiper-dot-active {
  width: 28rpx;
  height: 10rpx;
  border-radius: 5rpx;
}
.qrcodestr {
  width: 100%;
  height: 100%;
}

.login-card-item {
  position: absolute;
  top: 0;
  z-index: 1;
}
.go-member_official {
  left: 200rpx;
  width: 176rpx;
  height: 176rpx;
}
.go-community {
  left: 390rpx;
  width: 176rpx;
  height: 176rpx;
}
