.pay-succeed {
  width: 100%;
  margin-top: 118rpx;
}

.succeed-images {
  width: 80rpx;
  height: 80rpx;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.succeed-title {
  font-size: 32rpx;
  color: #333333;
  font-weight: 500;
  text-align: center;
  margin-top: 40rpx;
  margin-bottom: 46rpx;
}

.succeed-text {
  font-size: 28rpx;
  color: #666666;
  font-weight: 400;
  text-align: center;
}

.succeed-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 102rpx;
}

.succeed-button>button {
  width: 640rpx;
  line-height: 80rpx;
  background: linear-gradient(90deg, #FF7B20 0%, #FF3838 100%);
  border-radius: 50rpx;
  font-size: 28rpx;
  color: #ffffff;
  font-weight: 400;
}