.img-card {
  position: relative;
  width: 750rpx;
  padding: 0 75rpx;
  height: 852rpx;
}
.bg {
  position: absolute;
  left: 75rpx;
  top: 0;
  width: 600rpx;
  height: 100%;
}
.close {
  position: absolute;
  right: 42rpx;
  top: 34rpx;
  width: 64rpx;
  height: 64rpx;
  z-index: 4;
}
.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 302rpx;
}
.img-view {
  width: 386rpx;
  height: 386rpx;
  padding: 26rpx;
  margin: 0 auto;
  background: #ffdedc;
  border-radius: 14rpx;
  border: 2rpx dashed #f62c1e;
}
.group-img {
  width: 100%;
  height: 100%;
}
.tip {
  margin-top: 58rpx;
  font-size: 28rpx;
  font-weight: 400;
  color: #333333;
  text-align: center;
  line-height: 40rpx;
}
