/* module_games/lotteryDraw/lotteryDraw.wxss */
.lottery_bodyboxnoactive{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.qrcodestr {
  width: 176rpx;
  height: 176rpx;
  margin: 20rpx auto;
}
.noactive{
  width: 308rpx;
  height: 288rpx;
  margin: 500rpx auto 0;
  text-align: center;
  font-size: 24rpx;
}
.noactive image {
  width: 100%;
  height: 100%;
  margin-bottom: 30rpx;
}
.left_icon{
  width: 80rpx;
  height: 60rpx;
  position: absolute;
  top: 100rpx;
  left: 30rpx;
}
.left_icon image{
  width: 80rpx;
  height: 60rpx;
}
.ball-box {
    padding-top: 200rpx;
    width: 300rpx;
    height: 300rpx;
    background-color: rgb(83, 14, 14);
    margin: 200rpx auto 100rpx;
    border-radius: 50%;
}

.weiyi_1 {
    animation: around1 7s forwards linear;
    /* -webkit-animation: around1 4s linear infinite; */
}

.weiyi_2 {
    animation: around2 .5s linear infinite;
    -webkit-animation: around2 .75s linear infinite;
}

.weiyi_3 {
    animation: around3 .5s linear infinite;
    -webkit-animation: around3 .5s linear infinite;
}

.weiyi_4 {
    animation: around4 .5s linear infinite;
    -webkit-animation: around4 .5s linear infinite;
}

.weiyi_5 {
    animation: around5 7s forwards linear;
    /* -webkit-animation: around5 6s linear; */
}


.ball {
    width: 100rpx;
    height: 100rpx;
    opacity: 0;
}

.ball:nth-child(1),
.ball:nth-child(5) {
    opacity: 1;
}

.ball:nth-child(2),
.ball:nth-child(3),
.ball:nth-child(4) {
    opacity: 1;
}

.ball_1 {
    animation: weidong1 3s linear infinite;
}

.ball_2 {
    animation: weidong2 3s linear infinite;
}

.ball_3 {
    animation: weidong3 3s linear infinite;
}

.ball_4 {
    animation: weidong4 3s linear infinite;
}

.ball_5 {
    animation: weidong5 3s linear infinite;
}

@keyframes weidong1 {
    0% {
        -webkit-transform: translate(20rpx, -50rpx)
    }

    50% {
        -webkit-transform: translate(40rpx, -20rpx)
    }

    100% {
        -webkit-transform: translate(20rpx, -50rpx)
    }
}

@keyframes weidong2 {
    0% {
        -webkit-transform: translate(20rpx, -50rpx)
    }

    50% {
        -webkit-transform: translate(30rpx, -80rpx)
    }

    100% {
        -webkit-transform: translate(20rpx, -50rpx)
    }
}

@keyframes weidong3 {
    0% {
        -webkit-transform: translate(-90rpx, 0rpx)
    }

    50% {
        -webkit-transform: translate(-70rpx, 0rpx)
    }

    100% {
        -webkit-transform: translate(-90rpx, 0rpx)
    }
}

@keyframes weidong4 {
    0% {
        -webkit-transform: translate(200rpx, -180rpx)
    }

    50% {
        -webkit-transform: translate(190rpx, -170rpx)
    }

    100% {
        -webkit-transform: translate(200rpx, -180rpx)
    }
}

@keyframes weidong5 {
    0% {
        -webkit-transform: translate(-50rpx, -210rpx)
    }

    50% {
        -webkit-transform: translate(-60rpx, -220rpx)
    }

    100% {
        -webkit-transform: translate(-50rpx, -210rpx)
    }
}

@keyframes around1 {

    0% {
        -webkit-transform: translate(20rpx, -50rpx)
    }

    2% {
        -webkit-transform: translate(190rpx, -150rpx)
    }

    4% {
        -webkit-transform: translate(20rpx, -150rpx)
    }

    6% {
        -webkit-transform: translate(20rpx, -50rpx)
    }

    8% {
        -webkit-transform: translate(190rpx, -150rpx)
    }

    10% {
        -webkit-transform: translate(20rpx, -150rpx)
    }

    12% {
        -webkit-transform: translate(20rpx, -50rpx)
    }

    14% {
        -webkit-transform: translate(190rpx, -150rpx)
    }

    16% {
        -webkit-transform: translate(20rpx, -150rpx)
    }

    18% {
        -webkit-transform: translate(20rpx, -50rpx)
    }

    20% {
        -webkit-transform: translate(190rpx, -150rpx)
    }

    22% {
        -webkit-transform: translate(20rpx, -150rpx)
    }

    24% {
        -webkit-transform: translate(20rpx, -50rpx)
    }

    26% {
        -webkit-transform: translate(190rpx, -150rpx)
    }

    28% {
        -webkit-transform: translate(20rpx, -150rpx)
    }

    30% {
        -webkit-transform: translate(20rpx, -50rpx)
    }

    32% {
        -webkit-transform: translate(190rpx, -150rpx)
    }

    34% {
        -webkit-transform: translate(20rpx, -150rpx)
    }

    36% {
        -webkit-transform: translate(20rpx, -50rpx)
    }

    38% {
        -webkit-transform: translate(190rpx, -150rpx)
    }

    40% {
        -webkit-transform: translate(20rpx, -150rpx)
    }

    42% {
        -webkit-transform: translate(20rpx, -50rpx)
    }

    44% {
        -webkit-transform: translate(190rpx, -150rpx)
    }

    46% {
        -webkit-transform: translate(20rpx, -150rpx)
    }

    48% {
        -webkit-transform: translate(20rpx, -50rpx)
    }

    50% {
        -webkit-transform: translate(190rpx, -150rpx)
    }

    54% {
        -webkit-transform: translate(20rpx, -150rpx)
    }

    58% {
        -webkit-transform: translate(20rpx, -50rpx)
    }

    62% {
        -webkit-transform: translate(190rpx, -150rpx)
    }

    68% {
        -webkit-transform: translate(20rpx, -150rpx)
    }

    74% {
        -webkit-transform: translate(20rpx, -50rpx)
    }

    82% {
        -webkit-transform: translate(20rpx, -150rpx)
    }

    100% {
        -webkit-transform: translate(20rpx, -50rpx)
    }
}

@keyframes around2 {
    0% {
        -webkit-transform: translate(20rpx, -50rpx)
    }

    25% {
        -webkit-transform: translate(-20rpx, 0rpx)
    }

    50% {
        -webkit-transform: translate(20rpx, -200rpx)
    }

    75% {
        -webkit-transform: translate(100rpx, -100rpx)
    }

    100% {
        -webkit-transform: translate(20rpx, -50rpx)
    }
}

@keyframes around3 {
    0% {
        -webkit-transform: translate(-90rpx, 0rpx)
    }

    25% {
        -webkit-transform: translate(0rpx, -50rpx)
    }

    50% {
        -webkit-transform: translate(-90rpx, -200rpx)
    }

    75% {
        -webkit-transform: translate(-190rpx, -170rpx)
    }

    100% {
        -webkit-transform: translate(-90rpx, 0rpx)
    }
}

@keyframes around4 {
    0% {
        -webkit-transform: translate(170rpx, -180rpx)
    }

    33% {
        -webkit-transform: translate(50rpx, -250rpx)
    }

    66% {
        -webkit-transform: translate(100rpx, -100rpx)
    }

    100% {
        -webkit-transform: translate(170rpx, -180rpx)
    }
}

@keyframes around5 {
    0% {
        -webkit-transform: translate(-50rpx, -210rpx)
    }

    2% {
        -webkit-transform: translate(-50rpx, -300rpx)
    }

    4% {
        -webkit-transform: translate(100rpx, -200rpx)
    }

    6% {
        -webkit-transform: translate(50rpx, -125rpx)
    }

    8% {
        -webkit-transform: translate(-50rpx, -210rpx)
    }

    10% {
        -webkit-transform: translate(-50rpx, -300rpx)
    }

    12% {
        -webkit-transform: translate(100rpx, -200rpx)
    }

    14% {
        -webkit-transform: translate(50rpx, -125rpx)
    }

    16% {
        -webkit-transform: translate(-50rpx, -210rpx)
    }

    18% {
        -webkit-transform: translate(-50rpx, -300rpx)
    }

    20% {
        -webkit-transform: translate(100rpx, -200rpx)
    }

    22% {
        -webkit-transform: translate(50rpx, -125rpx)
    }

    24% {
        -webkit-transform: translate(-50rpx, -210rpx)
    }

    26% {
        -webkit-transform: translate(-50rpx, -300rpx)
    }

    28% {
        -webkit-transform: translate(100rpx, -200rpx)
    }

    30% {
        -webkit-transform: translate(50rpx, -125rpx)
    }

    32% {
        -webkit-transform: translate(-50rpx, -210rpx)
    }

    34% {
        -webkit-transform: translate(-50rpx, -300rpx)
    }

    36% {
        -webkit-transform: translate(100rpx, -200rpx)
    }

    38% {
        -webkit-transform: translate(50rpx, -125rpx)
    }

    40% {
        -webkit-transform: translate(-50rpx, -210rpx)
    }

    42% {
        -webkit-transform: translate(-50rpx, -300rpx)
    }

    44% {
        -webkit-transform: translate(100rpx, -200rpx)
    }

    46% {
        -webkit-transform: translate(50rpx, -125rpx)
    }

    48% {
        -webkit-transform: translate(-50rpx, -210rpx)
    }

    50% {
        -webkit-transform: translate(-50rpx, -300rpx)
    }

    54% {
        -webkit-transform: translate(100rpx, -200rpx)
    }

    58% {
        -webkit-transform: translate(50rpx, -125rpx)
    }

    62% {
        -webkit-transform: translate(-50rpx, -210rpx)
    }

    68% {
        -webkit-transform: translate(-50rpx, -300rpx)
    }

    74% {
        -webkit-transform: translate(100rpx, -200rpx)
    }

    82% {
        -webkit-transform: translate(50rpx, -125rpx)
    }

    100% {
        -webkit-transform: translate(-50rpx, -210rpx)
    }
}



/* 九宫格 */

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
}

.box {
    display: flex;
    flex-wrap: wrap;
    width: 600rpx;
}

.box .prize {
    width: 200rpx;
    height: 200rpx;
    line-height: 200rpx;
    text-align: center;
    font-size: 40rpx;
    font-weight: 700;
    color: white;
    background-color: orange;
    border: 2px solid snow;
    box-sizing: border-box;
}

.box .btn {
    color: tomato;
    background-color: gold;
}

.box .selected {
    background-color: orangered;
}

.grayscale {
    filter: grayscale(50%);
}

.scrollbox{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.lottery_bodybox {
    width: 100%;
    min-height: 100vh;
    /* background-color: #6f33cb; */
    overflow: hidden;
    z-index: 2;
}
.lotteryRule {
    position: fixed;
    top: 0px;
    left: 0px;
}

.lottery_bodyboxloading {
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.loading {
    width: 275rpx;
    height: 155rpx;
    margin: 500rpx auto 0;
    text-align: center;
    color: #ddd;
}

.loading image {
    width: 100%;
    height: 100%;
    margin-bottom: 30rpx;
}

.lottery_body {
    width: 100%;
    height: 100vh;

    position: relative;

}

.accomplish {
    background-color: #fff;
    width: 100%;
    min-height: auto;
    position: absolute;
    top: 1360rpx;
    padding: 20rpx;
}

.header_bg {
    width: 100%;
    height: 100rpx;
}

.header_bg image {
    width: 100%;
    height: 100%;
}

.conteng_bg {
    width: 100%;
    min-height: auto;
    margin-top: -10rpx;
    
}

.conteng_bg::before {
    content: '';
    display: block;
    height: 1rpx;
}

.conteng_bg image {
    width: 100%;
    height: 100%;
}

.footer_bg {
    width: 100%;
    height: 48rpx;
    margin-top: -10rpx;
}

.footer_bg image {
    width: 100%;
    height: 100%;
}

.accomplish_item {
    padding-top: 30rpx;
    padding-bottom: 30rpx;
    margin: 20rpx auto 0;
    background-color: rgba(18, 15, 67, 0.3);

    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: auto 160rpx;
    grid-template-rows: 100%;
    border-radius: 10rpx;
}

.accomplish_btn {

    display: flex;
    justify-content: center;
    align-items: center;
}

.accomplish_title {

    /* padding-top: 20rpx; */
    color: #FFFFFF;
    font-size: 28rpx;
    line-height: 50rpx;
    padding-left: 20rpx;
    font-weight: 500;
}

.accomplish_btn image {
    width: 144rpx;
    height: 58rpx;
}

.activity_box {
    width: 735rpx;
    height: 990rpx;
    margin: 0 auto;
    /* background-color: burlywood; */
    position: absolute;
    bottom: 290rpx;
    left: 50%;
    margin-left: -368.5rpx;
}

.zhuan_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: royalblue; */
}

.bgop {
    opacity: 1;
}

.unbgop {
    opacity: 0;
}

.pan_bg {
    width: 520rpx;
    height: 520rpx;
    position: absolute;
    left: 50%;
    bottom: 257rpx;
    margin-left: -259.5rpx;
}

.pan_img {
    width: 100%;
    height: 100%;
}

.zhen_bg {
    width: 230rpx;
    height: 238rpx;
    position: absolute;
    left: 50%;
    margin-left: -115rpx;
    bottom: 150rpx;
}

.hand_bg {
    width: 120rpx;
    height: 120rpx;
    position: absolute;
    top: 45%;
    left: 50%;
    
}
@keyframes handMove{
    0% {
        transform: translate(0rpx, 0rpx);
    }
    50% {
        transform: translate(20rpx, 20rpx);
    }
    100% {
        transform: translate(0rpx, 0rpx);
    }
}
.hand_bg image {
    width: 100%;
    height: 100%;
    -webkit-animation: handMove 1s linear infinite;
}

.zhen_bg image {
    width: 100%;
    height: 100%;
}

.operate_btn1 {
    padding: 10rpx 30rpx;
    border-radius: 30rpx;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 400rpx;
    /* font-size: 30rpx; */
    color: white;
    right: -20rpx;
}

.operate_btn2 {
    padding: 10rpx 30rpx;
    border-radius: 30rpx;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 500rpx;
    /* font-size: 30rpx; */
    color: white;
    right: -20rpx;
}

.chou_time {
    width: 400rpx;
    height: 40rpx;
    border-radius: 20rpx;
    position: absolute;
    bottom: 15rpx;
    background-color: rgba(0, 0, 0, 0.2);
    left: 50%;
    margin-left: -190rpx;
    color: #FEF400;
    text-align: center;
    line-height: 40rpx;
}

.record_loop {
    height: 64rpx;
    min-width: 100%;
    overflow: hidden;
    display: flex;
    z-index: 104;
}

.record_item {
    min-width: 760rpx;
    margin-right: 50rpx;
    display: grid;
    grid-template-columns: 64rpx auto;
}

.user_info {

    margin-left: -35rpx;
    font-size: 30rpx;
    display: flex;
    align-items: center;
}

.user_info_t {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10rpx 25rpx 10rpx 42rpx;
    color: white;
    border-radius: 30rpx;
}

.user_icon {
    width: 64rpx;
    height: 64rpx;
    /* float: left; */
}

.user_icon image {
    width: 100%;
    height: 100%;
}
.rule_bg_prize{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    
}
.rule_bg_prize_index1{
    z-index: 1;
}
.rule_bg_prize_index140{
    z-index: 140;
}
.rule_bg {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    z-index: 140;
}

.rule_bgbox {
    width: 100%;
    height: 1130rpx;

    position: absolute;
    top: 250rpx;
}

.rule_close {
    width: 68rpx;
    height: 68rpx;
    position: absolute;
    top: 1430rpx;
    left: 50%;
    margin-left: -34rpx;
}

.prize_close {
    width: 68rpx;
    height: 68rpx;
    position: absolute;
    top: 1250rpx;
    left: 50%;
    margin-left: -34rpx;
    -webkit-animation: xing 0.5s linear;
}

.none_close {
    width: 68rpx;
    height: 68rpx;
    position: absolute;
    top: 1050rpx;
    left: 50%;
    margin-left: -34rpx;
    -webkit-animation: xing 0.5s linear;
}

.none_close image {
    width: 100%;
    height: 100%;
}

.rule_close image {
    width: 100%;
    height: 100%;
}

.prize_close image {
    width: 100%;
    height: 100%;
}

.rule_content {
    width: 600rpx;
    height: 960rpx;
    position: absolute;
    bottom: 30rpx;
    left: 50%;
    margin-left: -300rpx;
    overflow: scroll;
}

.prize_bgbox {
    width: 600rpx;
    height: 900rpx;

    position: absolute;
    top: 300rpx;
    z-index: 999;
    left: 50%;
    margin-left: -285rpx;
    -webkit-animation: xing 0.5s linear;
}
@keyframes xing{
    0% {
        -webkit-transform: scale(0.5);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

.prize_content {
    width: 560rpx;
    height: 600rpx;
    position: absolute;
    bottom: 0;
}

.prize_quan {
    font-size: 35rpx;
    color: white;
    text-align: center;
    line-height: 44rpx;
}

.prize_quan_icon {
    width: 260rpx;
    height: 260rpx;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20rpx;
    margin: 15rpx auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



.prize_quan_mar {
    width: 176rpx;
    height: 176rpx;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20rpx auto;
}
.prize_quan_icon image {
    width: 200rpx;
    height: 200rpx;
}
.prize_quan_mar image {
    width: 100%;
    height: 100%;
}

.none_bgbox {
    width: 600rpx;
    height: 540rpx;
    margin: 400rpx auto 0;
    -webkit-animation: xing 0.5s linear;
}

.none_bgbox image {
    width: 100%;
    height: 100%;
}

.handactive {
    animation: handup 1s ease forwards;
}

@keyframes handup {
    0% {
        -webkit-transform: translate(0rpx, 0rpx)
    }

    100% {
        -webkit-transform: translate(-10rpx, -10rpx)
    }
}

.unhandactive {
    animation: handdown 1s ease forwards;
}

@keyframes handdown {
    0% {
        -webkit-transform: translate(0rpx, 0rpx)
    }

    100% {
        -webkit-transform: translate(10rpx, 10rpx)
    }
}

.shareBtn {
    width: 144rpx;
    height: 58rpx;
    padding: 0;
    border-radius: 30rpx;
}