/* pages/user/orderEvaluation/index.wxss */
page {
  background: #f9f9f9;
  padding-bottom: 60rpx;
}

.header {
  width: 100%;
  height: 74rpx;
  text-align: center;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ff8a78;
  line-height: 74rpx;
}
.header-icon {
  margin-bottom: 10rpx;
  color: #ff8a78;
}
.list {
  width: 100%;
  background: #fff;
  padding: 12rpx 0;
  border-radius: 8rpx;
}
.item {
  min-height: 84rpx;
}
.item:last-child {
  border: none;
}
.item-top {
  display: flex;
  padding: 20rpx 0;
  justify-content: space-between;
  align-items: center;
}
.item-top-left {
  padding-left: 36rpx;
}
.item-top-right {
  padding-right: 40rpx;
}
.appraise{
  display: flex;
  /* background: chocolate; */
  height: 70rpx;
}
.appraise_item{
  flex: 1;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.item-top-left,
.item-top-right {
  display: flex;
  align-items: center;
  height: 100%;
}
.item-top-left .item-top-logo {
  width: 92rpx;
  height:92rpx;
  margin-right: 20rpx;
}
.item-top-title {
  font-size: 32rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 1;
}
.item-top-icon {
  width: 44rpx;
  height: 44rpx;
}
.item-top-icon-png {
  width: 46rpx;
  height: 56rpx;
}
.item-top-icon-down {
  width: 46rpx;
  height: 46rpx;
}
.item-top-icon.right {
  margin-left: 40rpx;
}
.active {
  color: #f00;
}
.tag-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 58rpx;
}
.tag-item {
  padding: 0 26rpx;
  margin-right: 20rpx;
  margin-bottom: 24rpx;
  height: 50rpx;
  flex-shrink: 0;
  background: #f6f6f6;
  border-radius: 4rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  text-align: center;
  line-height: 50rpx;
  border-radius: 25rpx;
}
.tag-item.active {
  background: #ffeff0;
  color: #F62C1E;
  font-weight: 500;
}
.tag-item.bad {
  background: #ffeff0;
  color: #F62C1E;
  font-weight: 500;
}
.tag-item-img {
  width: 128rpx;
  height: 48rpx;
  margin-top: -2rpx;
}
.textarea-view {
  width: 100%;
  padding-right: 58rpx;
  margin-bottom: 20rpx;
}
.textarea {
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333;
  line-height: 34rpx;
}
.textarea-placeholder {
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333;
  line-height: 34rpx;
}
.bad-msg {
  text-align: center;
  height: 26rpx;
  font-size: 18rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #6458ec;
  line-height: 26rpx;
  margin-bottom: 36rpx;
}

.footer {
  padding-top: 42rpx;
  display: flex;
  justify-content: center;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 34rpx;
}
.footer-icon {
  width: 32rpx;
  height: 32rpx;
  margin-right: 12rpx;
}

.store {
  margin-top: 20rpx;
  background: #fff;
  padding: 28rpx 32rpx;
}
.store-header {
  height: 44rpx;
  display: flex;
  align-items: center;
}
.store-header-icon {
  width: 38rpx;
  height: 38rpx;
  margin-right: 10rpx;
}
.store-header-title {
  font-size: 32rpx;
  font-weight: 600;
  color: #333333;
  line-height: 44rpx;
}

.rate-head {
  display: flex;
  align-items: center;
  padding: 12rpx 48rpx;
}
.rate-item {
  /* display: flex;
  align-items: center; */
}
.rate-title {
  margin-right: 70rpx;
  font-size: 28rpx;
  color: #333333;
  line-height: 40rpx;
}
view .van-rate__item {
  padding: 0;
  padding-right: 0;
  margin-right: 16rpx;
}
.rate-tip-text {
  margin-left: 36rpx;
  font-size: 24rpx;
  color: #bbbbbb;
  line-height: 34rpx;
}
.tag-list.two {
  padding-left: 0rpx;
}
.textarea-view.two {
  margin-top: 30rpx;
}

.tag-list-bottom {
  margin-top: 20rpx;
  display: flex;
  flex-wrap: wrap;
}
