<view class="container-view">
  <view class="text-center h3">《HOTMAXX好特卖会员隐私权政策》</view>
  <view class="text-center" class="version">v1.0</view>
  <view class="title">引言</view>
  <text>好特卖深知个人信息对您的重要性，并会尽全力保护您的个人信息安全可靠。我们致力于维持您对我们的信任，恪守合法、正当、必要、诚信、公开、透明等原则保护您的个人信息。同时，我们承诺，我们将按照业界成熟的安全标准，采取相应的安全保护措施来保护您的个人信息。</text>
  <text>好特卖会员隐私政策（以下简称“本政策”）与您所使用的我们线上及线下相关产品与/或服务息息相关，您在启动、浏览、注册、登录、使用我们的产品与/或服务时，我们将按照本政策的约定处理和保护您的个人信息。我们尽量以简明扼要的表述向您解释本政策所涉及的技术词汇，以便于您理解。我们特别提请您注意，本政策中与您权益（可能）存在重大关系的条款，已使用加粗字体予以区别，请您重点查阅。</text>
  <text>请您注意，只有在您点击同意本政策后，我们才会开始处理您的个人信息。如您以“不注册/不登录帐号”的方式使用本平台的，我们不收集您的个人信息并仅向您提供浏览功能，但这将导致您无法完整使用我们的其他各项功能或服务。请您务必仔细阅读并充分理解本政策，在确认充分理解并同意后再使用我们的服务。</text>

  <view class="title">目录</view>
  <view class="title">本政策将帮助您了解以下内容：</view>
  <view class="title">一、我们如何收集和使用您的个人信息</view>
  <view class="title">二、我们如何共享、转让、公开披露您的个人信息</view>
  <view class="title">三、我们如何保护和存储您的个人信息</view>
  <view class="title">四、您如何管理您的个人信息</view>
  <view class="title">五、我们如何处理未成年人个人信息</view>
  <view class="title">六、通知和修订</view>
  <view class="title">七、如何联系我们</view>
  <view class="title">八、其他</view>

  <view class="title">一、我们如何收集和使用您的个人信息</view>
  <text>个人信息是指以电子或者其他方式记录的与已识别或者可识别的自然人有关的各种信息，不包括匿名化处理后的信息。个人敏感信息是指一旦泄露或者非法使用，容易导致自然人的人格尊严受到侵害或者人身、财产安全受到危害的个人信息，包括生物识别、宗教信仰、特定身份、医疗健康、金融账户、行踪轨迹等信息，以及不满十四周岁未成年人的个人信息。</text>
  <text>我们会遵循正当、合法、必要的原则，出于本声明所述的以下目的，收集和使用您在使用产品与/或服务过程中主动提供或因使用产品与/或服务而产生的个人信息，以及从第三方获取您的相关个人信息。如果我们要将您的个人信息用于本声明未载明的其他用途，或将基于特定目的收集而来的信息用于其他用途，我们将以合理的方式向您告知，并在使用前再次征得您的同意。</text>
  <text class="bold">（一）如您选择使用本平台以下基本功能，您须授权我们收集和使用您的个人信息</text>
  <text>为实现向您提供我们产品及/或服务的基本功能，您须授权我们收集、使用以下必要的信息：</text>
  <text class="item">(1)账户注册和激活。我们基于本平台账户为您提供服务。为了创建本平台账户，您需在本平台注册并向我们提供手机号码，为了确保我们是在为您本人提供服务，我们会向您的手机发送验证码校验您的身份，注册完成后即可创建本平台账户。如果您拒绝提供上述信息，您将无法注册本平台账户，仅可以使用部分信息浏览及搜索服务。另外，您也可以自主设置您的性别、姓名（可无需填写真实姓名）、昵称、生日、头像来完善您的账户信息。但若您不提供这些补充信息，将会影响到您使用个性化的会员服务，但不会影响您使用好特卖产品或服务的浏览、搜索、购买等基本功能。</text>
  <text class="item">(2)信息浏览、关注功能。当您成功注册账号后，为了向您提供我们核心的信息展示和信息发布服务，即向您展示更契合您需求的商品或服务信息，我们会收集和使用您在访问或使用本平台时的浏览、搜索记录及个人常用设备信息、服务日志信息。其中：</text>
  <text class="item">a) 设备信息：为了确认本平台能在用户设备上正常运行及更好兼容操作系统，识别设备欺诈风险的风控目的，我们会根据您在访问及/或使用中的具体操作，接收并记录您所使用的设备相关信息，包括设备标识符（IMEI、IDFA、Android ID、MAC、OAID、IMSI及其他设备相关信息）、应用信息（应用崩溃信息、通知开关状态、应用安装列表及其他应用相关信息）、设备参数及系统信息（设备类型、设备型号、操作系统及硬件相关信息），设备网络环境信息（IP地址，WiFi信息，基站信息及其他网络相关信息）。使用第三方服务的采集的信息，详见第三方SDK列表。</text>
  <text class="item">b)日志信息：当您访问或使用本平台提供的产品或服务时，为了信息管理系统、排除故障、发现欺诈或与我们进行沟通，我们会自动收集和记录您的详细使用情况，作为服务日志保存，包括浏览记录、点击查看记录、搜索查询记录、语言设置、登录IP地址、接入网络的方式、访问日期和时间。</text>
  <text class="item">c)请注意，单独的设备信息、日志信息是无法识别特定自然人身份的信息。如果我们将这类非个人信息与其他信息结合用于识别特定自然人身份，或者将其与个人信息结合使用，则在结合使用期间，这类非个人信息将被视为个人信息，除取得您授权或法律法规另有规定外，我们会将这类信息做匿名化、去标识化处理。</text>
  <text class="item">(3)能量值、电子券功能。您可以在本平台获取、查询能量值及领券优惠功能。为了方便您获取、查询能量值及使用获得的电子券，更好的享受我们提供的优惠并尽可能降低可能存在的风险或争议，你需要完善您的会员资料，填写您的姓名（可无需填写真实姓名）、性别和生日，同时我们会收集您的能量值累计以及电子券获取、兑换情况。</text>
  <text class="item">(4)基于定位权限的功能。为了向您提供商品购买，我们会申请开启您设备的定位权限并收集您的位置信息。请您理解，我们的服务都基于定位权限提供，如果您拒绝开启该权限的，可能无法使用我们的产品和服务。</text>
  <text class="item">（5）商品/服务购买功能。当您在本平台中订购具体商品及/或服务时，我们会在本平台为您生成购买该商品及/或服务的订单。在下单过程中,您需至少提供您的收货人姓名、手机号码、收货地址。同时该订单中会载明您所购买的商品及/或服务信息、具体订单号、订单创建时间、交易金额、支付方式、您的备注信息。如您为其他人订购商品及/或服务时，您需要提供该实际订购人的前述个人信息，在提供前述个人信息前，您须确保您已经取得其授权同意。我们收集这些信息是为了帮助您顺利完成交易、保障您的交易安全、便于您查询订单信息、客服与售后服务及其他我们明确告知的目的。我们还会使用您的订单/交易信息来判断您的交易是否存在异常以保护您的交易安全。</text>
  <text class="item">(6)支付功能。为完成订单支付，您需要选择付款方式，在您的支付过程中，我们需要收集您的第三方支付账号。我们会将您的本平台用户名、对应的支付宝或微信账户会员名、订单支付相关信息、订单安全相关设备信息及其他反洗钱法律要求的必要信息，与支付宝，微信，招商银行，云闪付这些支付机构共享以确认您的支付指令并完成支付。</text>
  <text class="bold">（二）您可自主选择是否授权我们收集和使用您的个人信息的情形</text>
  <text>1.为提升您通过本平台的购物/服务体验，我们以下附加功能中会收集和使用您的个人信息。如果您不提供这些个人信息，不影响您正常使用您已授权同意的本平台的其他功能及相关服务，但您可能无法使用这些可以为您所带来的便捷和优惠的附加功能或在接收某些服务或者商品时需要重复填写一些信息。这些附加功能包括：</text>
  <text class="item">(1)摄像头（相机）、相册（图片库）的附加功能。当您设置头像时，在您授权开启权限后，您可以使用这个附加功能完成视频拍摄、拍照以及扫码，上传照片/头像的功能。</text>
  <text class="item">(2)消息通知功能。我们可能会在本平台中向您展示广告、优惠活动、优惠券发放信息，如果您授权我们使用设备消息通知权限的，我们还将通过推送通知向您提供上述消息，您有权随时在设备“设置”中关闭消息通知权限拒绝接收推送。</text>
  <text class="item">(3)客服功能。为了处理您的请求，并力求提供最佳服务，如果您使用电话客服/在线客服功能与我们联系，我们可能会保存您与客服的沟通记录（通信/语音）、订单信息（如有），您留下的联系方式以及您提供的其他信息，以便与您联系并帮助您解决问题。</text>
  <text>2.上述附加功能需要您在您的设备中向我们开启您的摄像头（相机）、相册（图片库）访问权限，以实现这些功能所涉及的信息的收集和使用。请您注意，您开启这些权限即代表您明示授权同意我们可以收集和使用这些个人信息来实现上述的功能，您关闭权限即代表您取消了这些授权，则我们将不再继续收集和使用您的这些个人信息，也无法为您提供上述与这些授权所对应的功能。您关闭权限的决定不会影响此前基于您的授权所进行的个人信息的处理。</text>
  <text class="bold">（三）您充分知晓，以下情形中，我们收集、使用个人信息无需征得您的授权同意：</text>
  <text>1.为订立、履行您作为一方当事人的合同所必需；</text>
  <text>2.为履行法定职责或者法定义务所必需；</text>
  <text>3.为应对突发公共卫生事件，或者紧急情况下为保护自然人的生命健康和财产安全所必需；</text>
  <text>4.为公共利益实施新闻报道、舆论监督等行为，在合理的范围内处理您的个人信息；</text>
  <text>5.依照《个人信息保护法》规定在合理范围内处理您自行公开或者其他已经合法公开的个人信息</text>
  <text>6.法律、行政法规规定的其他情形。</text>
  <text class="bold">（四）我们从第三方获得您个人信息的情形</text>
  <text>我们可能通过间接获得方式收集到您的个人信息，我们会根据您的授权从第三方获取您授权共享的账户信息（头像、昵称），并在您同意本政策后将您的第三方账户与您的本平台账户绑定，使您可以通过第三方账户直接登录本平台并使用我们的产品与/或服务。我们会将依据与第三方的约定、对个人信息来源的合法性进行确认后，在符合相关法律和法规规定的前提下，使用您的这些个人信息。</text>
  <text class="bold">（五）请你理解，我们向你提供的产品和服务是不断更新和发展的，如果某一产品或服务（例如小范围测试、实验性功能等）未在前述说明中告知收集、使用你的信息的隐私政策，我们会通过页面提示、交互文案、网站公告、语音等方式另行向你告知信息收集的目的、方式及范围，并征得你的同意。</text>
  <text class="bold">（六）您个人信息使用的规则</text>
  <text>1.我们会根据本政策约定并为实现我们的产品与/或服务功能对所收集的个人信息进行使用。</text>
  <text>2.在收集您的个人信息后，我们将通过技术手段对数据进行去标识化处理，去标识化处理的信息将无法识别主体。请您了解并同意，在不透露您个人信息的前提下，我们有权对用户数据库进行分析并对已进行分析、整理后匿名化的用户数据库予以商业化的利用。</text>
  <text>3.请您注意，您在使用我们的产品与/或服务时所提供的所有个人信息，除非您删除或通过系统设置拒绝我们收集，否则将在您使用我们的产品与/或服务期间持续授权我们使用。在您注销账号时，我们将停止使用并删除您的个人信息。</text>
  <text>4.我们会对我们的产品与/或服务使用情况进行统计，并可能会与公众或第三方共享这些统计信息，以展示我们的产品与/或服务的整体使用趋势。但这些统计信息不包含您的任何身份识别信息。</text>
  <text>5.当我们展示您的个人信息时，我们会采用包括内容替换、去标识化、匿名处理方式对您的信息进行脱敏，以保护您的信息安全。</text>
  <text>6.当我们要将您的个人信息用于本政策未载明的其它用途时，或基于特定目的收集而来的信息用于其他目的时，会通过您主动做出勾选的形式事先征求您的同意。</text>

  <view class="title">二、我们如何共享、转让、公开披露您的个人信息</view>
  <text  class="bold">（一）共享</text>
  <text>我们不会与本公司以外的任何公司、组织和个人分享您的个人信息，除非获得您的明确同意。目前，我们会在以下情形中，向您征求您对共享个人信息的授权同意：</text>
  <text>1.	在获取明确同意情况下的共享：获得您的明确同意后，我们会与第三方共享您的个人信息；</text>
  <text>2.	在法定情形下的共享：我们可能会根据法律法规规定、诉讼争议解决需要，或按行政、司法机关依法提出的要求，对外共享您的个人信息；</text>
  <text>3.	与关联公司共享：为便于我们基于关联账号或统一会员账号共同向您提供服务，推荐您可能感兴趣的信息，保护好特卖关联公司或其他用户或公众人身财产安全免遭侵害，您的个人信息可能会与我们的关联公司共享。我们仅出于特定、明确而合法的目的在好特卖的关联公司共享您的信息，并且只会共享提供服务所必须的信息。例如，在注册好特卖账号时为了避免重复注册。</text>
  <text>4.	与授权合作伙伴共享：我们可能委托授权合作伙伴为您提供某些服务或代表我们履行职能。我们仅会出于合法、正当、必要、特定、明确的目的共享您的信息，授权合作伙伴只能接触到其履行职责所需信息，且不能将此信息用于其他任何目的。</text>
  <text class="bold">（二）转让</text>
  <text>我们不会将您的个人信息转让给任何公司、组织和个人，但以下情形除外：</text>
  <text>1.	在获取明确同意的情况下转让：获得您的明确同意后，我们会向其他方转让您的个人信息；</text>
  <text>2.	在涉及合并、收购、重组、破产、资产转让或类似的交易时，如涉及到个人信息转让，我们会告知用户并要求新的持有您个人信息的公司、组织继续受本政策的约束。否则，我们将要求该公司、组织重新向您征求授权同意。如我们破产且无承接方的，我们将对个人信息做删除处理。</text>
  <text class="bold">（三）公开披露</text>
  <text>我们仅会在以下情况下，且采取符合业界标准的安全防护措施的前提下，才会公开披露您的个人信息：</text>
  <text>1.根据您的需求，在您明确同意的披露方式下披露您所指定的个人信息；</text>
  <text>2.根据法律、法规的要求、强制性的行政执法或司法要求所必须提供您个人信息的情况下，我们可能会依据所要求的个人信息类型和披露方式公开披露您的个人信息。在符合法律法规的前提下，当我们收到上述披露信息的请求时，我们会要求必须出具与之相应的法律文件，如传票或调查函。我们坚信，对于要求我们提供的信息，应该在法律允许的范围内尽可能保持透明。我们对所有的请求都进行了慎重的审查，以确保其具备合法依据，且仅限于执法部门因特定调查目的且有合法权利获取的数据。在法律法规许可的前提下，我们披露的文件均在加密密钥的保护之下。</text>
  <text class="bold">（四）您充分知晓，以下情形中，我们共享、转移、公开披露您的个人信息无需征得您的授权同意：</text>
  <text>1.为订立、履行您作为一方当事人的合同所必需；</text>
  <text>2.为履行法定职责或者法定义务所必需；</text>
  <text>3.为应对突发公共卫生事件，或者紧急情况下为保护自然人的生命健康和财产安全所必需；</text>
  <text>4.为公共利益实施新闻报道、舆论监督等行为，在合理的范围内处理您的个人信息；</text>
  <text>5.依照《个人信息保护法》规定在合理范围内处理您自行公开或者其他已经合法公开的个人信息</text>
  <text>6.	法律、行政法规规定的其他情形。</text>
  
  <view class="title">三、我们如何保护和存储您的个人信息</view>
  <text class="bold">（一）我们保护您个人信息的技术与措施</text>
  <text>我们非常重视个人信息安全，并采取一切合理可行的措施，保护您的个人信息：</text>
  <text>1.数据安全技术措施</text>
  <text>我们会采用符合业界标准的安全防护措施，包括建立合理的制度规范、安全技术来防止您的个人信息遭到未经授权的访问、使用、修改、公开披露，避免数据的损坏或丢失。我们会采取一切合理可行的措施，保护您的个人信息。包括：</text>
  <text class="item">(1)本平台的网络服务采取了传输层安全协议等加密技术，通过https等方式提供浏览服务，确保用户数据在传输过程中的安全。</text>
  <text class="item">(2)本平台采取加密技术对用户个人信息进行加密保存，并通过隔离技术进行隔离。</text>
  <text class="item">(3)在个人信息使用时，例如个人信息展示、个人信息关联计算，我们会采用包括内容替换、SHA256、MD5加密等在内的多种数据脱敏技术增强个人信息在使用中安全性。</text>
  <text class="item">(4)本平台采用严格的数据访问权限控制和多重身份认证技术保护个人信息，避免数据被违规使用。</text>
  <text class="item">(5)本平台采用代码安全自动检查、数据访问日志分析技术进行个人信息安全审计。</text>
  <text>2.本平台为保护个人信息采取的其他安全措施</text>
  <text class="item">(1)本平台通过建立数据分类分级制度、数据安全管理规范、数据安全开发规范来管理规范个人信息的存储和使用。</text>
  <text class="item">(2)本平台通过信息接触者保密协议、监控和审计机制来对数据进行全面安全控制。</text>
  <text class="item">(3)本平台建立数据安全委员会并下设信息保护部门、数据安全应急响应组织来推进和保障个人信息安全。</text>
  <text class="item">(4)为加强本平台管理层及员工安全意识，我们还会举办安全和个人信息保护培训课程，加强员工对于保护个人信息重要性的认识。</text>
  <text>3.我们仅允许有必要知晓这些信息的本平台及本平台关联方的员工、合作伙伴访问个人信息，并为此设置了严格的访问权限控制和监控机制。我们同时要求可能接触到您个人信息的所有人员履行相应的保密义务。如果未能履行这些义务，可能会被追究法律责任或被中止与本平台的合作关系。</text>
  <text>4.我们会采取一切合理可行的措施，确保未收集无关的个人信息。我们只会在达成本政策所述目的所需的期限内保留您的个人信息，除非需要延长保留期或受到法律的允许。</text>
  <text>5.我们将在本平台定期更新并公开安全风险、个人信息安全影响评估等报告的有关内容。</text>
  <text>6.安全事件处置</text>
  <text>在通过本平台与第三方进行网上商品或服务的交易时，您不可避免的要向交易对方或潜在的交易对方披露自己的个人信息，如手机号码或者收货地址等。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。</text>
  <text>为应对个人信息泄露、损毁和丢失等可能出现的风险，本平台制定了多项制度，明确安全事件、安全漏洞的分类分级标准及相应的处理流程。本平台也为安全事件建立了专门的应急响应团队，按照安全事件处置规范要求，针对不同安全事件启动安全预案，进行止损、分析、定位、制定补救措施、联合相关部门进行溯源和打击。</text>
  <text>7.互联网并非绝对安全的环境，而且电子邮件、即时通讯、社交软件等与其他用户的交流方式无法确定是否完全加密，我们建议您使用此类工具时请使用复杂密码，并注意保护您的个人信息安全。</text>
  <text>8.在不幸发生个人信息安全事件后，我们将按照法律法规的要求，及时向您告知：安全事件的基本情况和可能的影响、我们已采取或将要采取的处置措施、您可自主防范和降低风险的建议、对您的补救措施等。我们将及时将事件相关情况以邮件、信函、电话、推送通知等方式告知您，难以逐一告知个人信息主体时，我们会采取合理、有效的方式发布公告。</text>
  <text>同时，我们还将按照监管部门要求，主动上报个人信息安全事件的处置情况。</text>
  <text>9.互联网环境并非百分之百安全，我们将尽力确保或担保您发送给我们的任何信息的安全性。如果我们的物理、技术、或管理防护设施遭到破坏，导致信息被非授权访问、公开披露、篡改、或毁坏，导致您的合法权益受损，我们将承担相应的法律责任。</text>
  <text>10.如果您对我们的个人信息保护有任何疑问，如您发现自己的个人信息泄密，尤其是您的账户及密码发生泄露，请您立即通过本政策第七节公示的联系方式联系我们，以便我们采取相应措施。</text>
  <text class="bold">（二）您个人信息的存储</text>
  <text>1.您的个人信息将全部被存储于中华人民共和国境内。如您使用跨境交易服务，且需要向境外传输您的个人信息完成交易的，我们会单独征得您的授权同意并要求接收方按照我们的说明、本政策以及其他任何相关的保密和安全措施来处理这些个人信息。</text>
  <text>2.若我们适用的法律对我们保存您的个人信息的期限有明确规定的，我们将遵守该等规定。法律没有明确规定的，我们将保存您的个人信息，直至：（1）我们收集、使用、分享您个人信息的目的全部实现；（2）您终止使用我们的产品或服务；（3）您明确要求我们删除您的个人信息。个人信息保存到期后，我们将采取删除、匿名化处理或者法律规定的其他方式。</text>
  <text>3.请您注意，当您成功申请注销本平台账户后，我们将在账户注销后及时对您的个人信息进行删除或匿名化处理。</text>
  <text>4.如果我们终止服务或运营，我们会至少提前三十日向您通知，并在终止服务或运营后对您的个人信息进行删除或匿名化处理。</text>

  <view class="title">四、您如何管理您的个人信息</view>
  <text>按照中国相关的法律、法规、标准，我们尽全力保障您对自己的个人信息行使以下权利：</text>
  <text class="bold">（一）查阅您的个人信息</text>
  <text>您有权查阅您的个人信息，除法律法规规定的例外情况，无论您何时使用我们的服务，我们都会力求让您顺利访问自己的个人信息。您的账户信息：如果您希望访问或编辑您的账户中的个人资料信息等，您可以在您使用的产品中执行此类操作。您的订单信息：您可以在我们系统中查阅您的订单交易记录等。</text>
  <text class="bold">（二）复制您的个人信息</text>
  <text>您有权获取您的个人信息副本，您可以通过本政策第七节公示的联系方式联系我们，提供个人有效身份证明，我们经过身份核对后，在符合法律规定且技术可行的前提下，我们将根据您的要求向您提供您的个人信息副本。</text>
  <text class="bold">（三）更正您的个人信息</text>
  <text>当您发现我们处理的关于您的个人信息有误时，您有权要求我们做出更正。若您想更正或补充您的个人信息，您可以通过登录好特卖账户进行操作。如果您在此过程中遇到操作问题或无法更正您的个人信息，您可以通过本政策第七节公示的联系方式联系我们，提供个人有效身份证明，我们经过身份核对后，将在15个工作日内回复您的更正请求。</text>
  <text class="bold">（四）删除您的个人信息</text>
  <text>1.在以下情形中，您可以向我们提出删除个人信息的请求。</text>
  <text  class="item">（1）如果我们处理个人信息的行为违反法律法规；</text>
  <text  class="item">（2）如果我们收集、使用您的个人信息，却未征得您的同意或您撤回同意；</text>
  <text  class="item">（3）如果我们处理个人信息的行为违反了与您的约定；</text>
  <text  class="item">（4）如果您不再使用我们的产品或服务，或您注销了账号；</text>
  <text  class="item">（5）如果我们不再为您提供产品或服务。</text>
  <text>2.若我们决定响应您的删除请求，我们还将同时通知从我们获得您的个人信息的实体，要求其及时删除，除非法律法规另有规定，或这些实体获得您的独立授权。若您想删除您的个人信息，您可以通过本政策第七节公示的联系方式联系我们。</text>
  <text>3.当您从我们的服务中删除信息后，我们可能不会立即在备份系统中删除相应的信息，但会在备份更新时删除这些信息。</text>
  <text class="bold">（五）改变您授权同意的范围</text>
  <text>1.每个业务功能需要一些基本的个人信息才能得以完成。对于额外收集的个人信息的收集和使用，您可以随时给予或收回您的授权同意。您可以通过删除信息、关闭设备功能等方式改变您授权的范围或撤回您的授权。您也可以随时通过本政策第七节公示的联系方式联系我们，提供个人有效身份证明，我们经过身份核对后，将在15个工作日内回复您的请求。</text>
  <text>2.当您收回同意后，我们将不再处理相应的个人信息。但您收回同意的决定，不会影响此前基于您的授权而开展的个人信息处理。</text>
  <text class="bold">（六）个人信息主体注销账户</text>
  <text>您随时可注销此前注册的账户，您可以随时通过本政策第七节公示的联系方式联系我们，我们经过必要的身份核对后，将在15个工作日内处理您的注销请求。</text>
  <text>在注销账户之后，我们将停止为您提供产品或服务，并依据您的要求，删除您的个人信息，法律法规另有规定的除外。</text>
  <text class="bold">（七）个性化推荐</text>
  <text>在某些业务功能中，我们可能仅依据信息系统、算法等在内的非人工自动决策机制作出决定。您可以通过本平台【个人中心-设置-个性化推荐】管理个性化内容推荐功能的开关，您可以选择关闭个性化推荐的功能，以帮助您实现对推荐内容的控制及自主决策。在关闭个性化推荐后，我们将不会基于您的个性化信息，向您推荐您可能感兴趣的信息或者内容；您仍可能收到其他推荐信息或者内容，但这种推荐与您的个人特征无关。</text>
  <text class="bold">（八）其他个人信息权利的行使</text>
  <text>1.根据《个人信息保护法》的相关规定，在符合法定条件下，您还享有下列个人信息权利：在符合国家网信部门规定条件时要求我们协助转移您的个人信息；要求我们对隐私政策进行解释说明。</text>
  <text>2.逝者近亲属的权利：如本平台的用户不幸逝世，其近亲属为了自身合法、正当利益，可以对逝者的相关个人信息行使本政策规定的查阅、复制、更正、删除等权利；逝者生前另有安排的除外。如拟行使前述权利，可以通过本政策末尾公示的联系方式联系我们，以发起权利行使流程。</text>
  <text class="bold">（九）响应您的上述请求</text>
  <text>1.为保障安全，您可能需要提供书面请求，或以其他方式证明您的身份。我们可能会先要求您验证自己的身份，然后再处理您的请求。</text>
  <text>我们将在15个工作日内作出答复。如您不满意，还可以通过第七节公示的方式进行投诉或举报。</text>
  <text>2.对于您合理的请求，我们原则上不收取费用，但对多次重复、超出合理限度的请求，我们将视情收取一定成本费用。对于那些无端重复、需要过多技术手段（例如，需要开发新系统或从根本上改变现行惯例）、给他人合法权益带来风险或者非常不切实际（例如，涉及备份磁带上存放的信息）的请求，若无法协商替代方案，我们可能会予以拒绝。</text>
  <text>3.在以下情形中，我们将无法响应您的上述请求：</text>
  <text  class="item">(1)与我们履行法律法规规定的义务相关的；</text>
  <text  class="item">(2)与国家安全、国防安全直接相关的；</text>
  <text  class="item">(3)与公共安全、公共卫生、重大公共利益直接相关的；</text>
  <text  class="item">(4)与犯罪侦查、起诉、审判和执行判决等直接相关的；</text>
  <text  class="item">(5)有充分证据表明您存在主观恶意或滥用权利的；</text>
  <text  class="item">(6)出于维护您或其他个人的生命、财产等重大合法权益但又很难得到您本人同意的；</text>
  <text  class="item">(7)响应您的请求将导致您或其他个人、组织的合法权益受到严重损害的； </text>
  <text  class="item">(8)涉及商业秘密的。</text>
  <text>4.如我们决定不响应您的上述请求，我们会告知您理由，您还可以通过以下途径投诉：您均可以拨打电话联系客服或通过本政策下方的其他方式与我们联系。</text>

  <view class="title">五、我们如何处理未成年人个人信息</view>
  <text>1.本平台非常重视未成年人信息保护。我们的产品和服务主要面向成年人。如果没有父母或监护人的明确同意，儿童不应创建自己的用户账户。</text>
  <text>2.对于经父母或监护人同意而收集儿童个人信息的情况，我们只会在受到法律允许、父母或监护人明确同意或者保护儿童所必要的情况下使用或公开披露此信息。</text>
  <text>3.我们将不满 14 周岁的任何人均视为儿童。</text>
  <text>4.如果我们发现自己在未事先获得可证实的父母或监护人同意的情况下收集了儿童的个人信息，则会设法尽快删除相关数据。</text>

  <view class="title">六、通知和修订</view>
  <text>1.随着业务发展和法律法规变更，我们的隐私政策可能变更。</text>
  <text>2.未经您明确同意，我们不会削减您按照本政策所应享有的权利。我们会在本页面上发布对本政策所做的任何变更。</text>
  <text>3.对于重大变更，我们还会提供更为显著的通知（包括对于某些服务，我们会通过电子邮件发送通知，说明本政策的具体变更内容）。</text>
  <text>4.本政策所指的重大变更包括但不限于：</text>
  <text  class="item">(1)我们的服务模式发生重大变化。如处理个人信息的目的、处理的个人信息类型、个人信息的使用方式等；</text>
  <text  class="item">(2)我们在所有权结构、组织架构等方面发生重大变化，如业务调整、破产并购等引起的所有者变更等；</text>
  <text  class="item">(3)个人信息共享、转让或公开披露的主要对象发生变化；</text>
  <text  class="item">(4)您参与个人信息处理方面的权利及其行使方式发生重大变化；</text>
  <text  class="item">(5)我们负责处理个人信息安全的责任部门、联络方式及投诉渠道发生变化时；</text>
  <text  class="item">(6)个人信息安全影响评估报告表明存在高风险时。</text>
  <text>我们还会将本政策的旧版本存档，供您查阅。</text>

  <view class="title">七、如何联系我们</view>
  <text>1.如您对本政策或您个人信息的相关事宜有任何问题、意见、建议投诉或举报，请通过以下方式与我们联系：客服电话：400-965-9166；</text>
  <text>2.一般情况下，我们将在15个工作日内回复。如果您对我们的回复不满意，特别是若我们的个人信息处理行为损害了您的合法权益，您可以向当地网信、电信、公安及工商等监管部门进行投诉或举报，还可以向被告住所地有管辖权的法院提起诉讼。</text>

  <view class="title">八、其他</view>
  <text>如本政策任何内容被裁定为无效或不可执行，该内容可被删除，但其余条款或同一条款的其他部分仍有效并应予以执行。</text>

  <view class="footer mt">上海芯果科技有限公司</view>
  <view class="footer">二〇二二年一月十四日</view>
</view>
