/* pages/demo/index.wxss */
.card{
  position: absolute;
  left: 325rpx;
  top: calc(50% - 50rpx);
  width: 100rpx;
  height: 100rpx;
  background: orange;
  border-radius: 50%;
}

@keyframes animation{
  
}