.container {
  padding-top: 20rpx;
}

.serviceType {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20rpx;
  padding-left: 32rpx;
  padding-right: 30rpx;
  padding-top: 28rpx;
  padding-bottom: 28rpx;
}

.serviceType:first-child {
  border-bottom: 1rpx solid #eee;
}

.serviceTitle {}

.moreIconbox {
  width: 14rpx;
  height: 22rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreIconbox>image {
  width: 14rpx;
  height: 22rpx;
}

.moreIcon {
  width: 21rpx;
  height: 30rpx;
}

.serviceTitle-view {
  width: 100%;
  margin-left: 12rpx;
}

.mainTitle {
  font-size: 28rpx;
  font-weight: 500;
  color: #333;
  padding-bottom: 6rpx;
}

.mainDesc {
  font-size: 24rpx;
  color: #999;
  padding-top: 6rpx;
}

.typeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44rpx;
  height: 44rpx;
}

.typeIcon>image {
  width: 44rpx !important;
  height: 44rpx !important;
}