<view class="container">
  <view class="serviceType" bindtap='unsalesReturn' wx:if="{{orderType != 1}}">
    <view class="typeIcon">
      <image
        src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E8%BF%94%E5%9B%9E%E6%8C%89%E9%92%AE%402x.png'>
      </image>
    </view>
    <view class="serviceTitle-view">
      <view class="mainTitle">我要退款（无需退货）</view>
      <view class="mainDesc">没收到货，或商品存在质量问题不用退货只退款</view>
    </view>
    <view class="moreIconbox">
      <image class="moreIcon"
        src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E8%AE%A2%E5%8D%95%E5%88%97%E8%A1%A8-%E6%9B%B4%E5%A4%9A%E6%8C%89%E9%92%AE%402x.png'>
      </image>
    </view>
  </view>
  <view class="serviceType" bindtap='salesReturn'>
    <view class="typeIcon">
      <image
        src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E8%BF%94%E5%9B%9E%E6%8C%89%E9%92%AE%402x%20(1).png'>
      </image>
    </view>
    <view class="serviceTitle-view">
      <view class="mainTitle">我要退货退款</view>
      <view class="mainDesc">已收到货，需要退货</view>
    </view>
    <view class="moreIconbox">
      <image class="moreIcon"
        src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E8%AE%A2%E5%8D%95%E5%88%97%E8%A1%A8-%E6%9B%B4%E5%A4%9A%E6%8C%89%E9%92%AE%402x.png'>
      </image>
    </view>
  </view>
</view>