<!-- header -->
<navbar parameter='{{parameter}}' background="{{showMap?'rgba(249, 249, 249,'+opcity+')' :'#F62C1E'}}"
  titleColor="{{showMap?'transparent':'#fff'}}">
</navbar>
<!-- 渐变背景 -->
<view class="orderDetailheader" wx:if="{{showMap == false}}"></view>
<!-- 地图 -->
<view></view>
<view class="map-view" wx:if="{{showMap}}">
  <map class="map" scale="{{8}}" markers="{{markers}}" include-points="{{markers}}" show-scale="{{false}}">
    <cover-view slot="callout">
      <block wx:for="{{markers}}" wx:key="index" data-index="{{index}}">
        <block wx:if="{{item.type == 'rider'}}">
          <cover-view class="customCallout" marker-id="{{item.id}}">
            <cover-image class="customCallout-bg"
              src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/rider-map-bg.png">
            </cover-image>
            <cover-view class="markers-content">
              <cover-view class="markers-title">{{courierCoordinateTextObj[orderDetail.deliveryStatus]}}
              </cover-view>
              <cover-view class="markers-dis">
                <cover-view class="markers-text">距您</cover-view>
                <cover-view class="markers-text red">{{coordinateInfo.remainingDistance}}</cover-view>
                <cover-view class="markers-text">km</cover-view>
              </cover-view>
            </cover-view>
          </cover-view>
        </block>
      </block>
    </cover-view>
  </map>

  <view class="rider-view">
    <view class="rider-header">
      <view class="rider-title" catchtap="openTarck">{{deliveryTextObj[orderDetail.deliveryStatus]}}
        <image class="rider-arrow"
          src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/rider-arrow.png" />
      </view>
      <view class="rider-time-text">预计<text class="rider-time">{{coordinateInfo.predictDeliveryTime}}</text>送达
      </view>
    </view>
    <view class="rider-bottom">
      <!--  -->
      <view class="rider-info" wx:if="{{coordinateInfo.temperature||coordinateInfo.mealBoxStatus == 1}}">
        <view class="rider-info-item" wx:if="{{coordinateInfo.temperature}}">
          <image class="rider-info-icon"
            src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/thermometer.png" />
          骑手体温<text class="red-color">{{coordinateInfo.temperature}}℃</text>
        </view>
        <view class="rider-info-item two" wx:if="{{coordinateInfo.mealBoxStatus == 1}}">
          <image class="rider-info-icon two"
            src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/disinfect.png" />
          餐箱已消毒
        </view>
      </view>
      <view wx:else class="rider-info">骑手正快马加鞭送货，请耐心等待～</view>
      <!--  -->
      <view class="rider-phone-view" catchtap="callPhone" hidden="{{!coordinateInfo.courierPhone}}">
        <image class="rider-phone"
          src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/rider-phone.png" />
        <text class="rider-phone-text">联系骑手</text>
      </view>
    </view>
  </view>
</view>
<!-- 订单详情 -->
<view class="orderDetailBox" style="top:{{showMap?'820rpx':'none'}}">
  <!-- 待支付 -->
  <view class="payInfo" wx:if="{{orderDetail.orderStatusStr=='待支付'||waitPayshow}}">
    待支付，剩余{{countdownTime}}
  </view>
  <!-- 新的信息 -->
  <view class="payInfo" catchtap="openTarck"
    wx:elif="{{!showMap&&orderDetail.sourceType !='3'&&orderDetail.orderStatus!=35&&orderDetail.orderStatus!=2}}">
    <image
      src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E5%B7%B2%E9%80%81%E8%BE%BE.png"
      lazy-load='true' alt="" />
    {{orderDetail.orderStatusStr}}
    <image class="payInfo-arrow"
      src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/order-title-arrow.png" />
  </view>
  <view class="waitpaySetting" wx:if="{{orderDetail.orderStatusStr=='待支付'||waitPayshow}}">
    <view class="waitpayTitle">请尽快支付</view>
    <view class="waitpaygroup">
      <view class="waitpaygroupitem" data-sourcetype="{{orderDetail.sourceType}}" data-orderId="{{orderDetail.orderId}}"
        bindtap='toPay'>
        <view class="waitpaygroupitemicon">
          <image
            src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E4%BB%98%E6%AC%BE%402x.png"
            lazy-load='true' alt="" />
        </view>
        <view class="waitpaygroupitemtxt">去支付</view>
      </view>
      <view class="waitpaygroupitem" data-type="{{2}}" data-orderId="{{orderDetail.orderId}}"
        data-orderNo="{{orderDetail.orderNo}}" bindtap='cancelPay'>
        <view class="waitpaygroupitemicon">
          <image
            src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E5%85%B3%E9%97%AD%402x.png"
            lazy-load='true' alt="" />
        </view>
        <view class="waitpaygroupitemtxt">取消订单</view>
      </view>
    </view>
  </view>
  <view class="payInfo" catchtap="openTarck"
    wx:if="{{(orderDetail.sourceType=='3'&&orderDetail.orderStatusStr=='已完成')||(orderDetail.sourceType=='1'&&orderDetail.orderStatusStr=='已完成')}}">
    <image
      src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E5%B7%B2%E9%80%81%E8%BE%BE.png"
      lazy-load='true' alt="" />
    {{orderDetail.orderStatusStr}}
    <image class="payInfo-arrow"
      src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/order-title-arrow.png" />
  </view>
  <view class="waitpaySetting"
    wx:if="{{orderDetail.orderStatusStr=='已送达(到家)'||orderDetail.orderStatusStr=='订单已送达'||orderDetail.orderStatusStr=='已完成'||orderDetail.orderStatusStr=='已提货(自提)'||orderDetail.orderStatusStr=='已送达(外卖)'||(orderDetail.sourceType=='1'&&orderDetail.orderStatusStr=='订单已支付')}}">
    <view class="waitpayTitle">好特卖期待与您下次见面</view>
    <view class="waitpaygroup" wx:if="{{!(orderDetail.hasComment||evalutionshow)}}">
      <view data-orderNo="{{orderDetail.orderNo}}" class="waitpaygroupitem" bindtap='toEvaluation'>
        <view class="waitpaygroupitemicon">
          <image lazy-load='true'
            src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E5%BE%85%E8%AF%84%E4%BB%B7%402x.png"
            alt="" />
        </view>
        <view class="waitpaygroupitemtxt">去评价</view>
      </view>
      <view data-channelOrderNo="{{orderDetail}}" class="waitpaygroupitem" bindtap='orderCode'>
        <view class="waitpaygroupitemicon">
          <image lazy-load='true' src="https://img-cdn.hotmaxx.cn/web/common/mp-store/saoma1.png" />
        </view>
        <view class="waitpaygroupitemtxt">订单码</view>
      </view>
    </view>
  </view>
  <!-- 取消订单 -->
  <view class="payInfo" catchtap="openTarck" wx:if="{{orderDetail.orderStatusStr=='订单已取消'}}">
    <image
      src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E5%85%B3%E9%97%AD%E5%A4%87%E4%BB%BD%402x.png"
      lazy-load='true' alt="" />
    订单已取消
    <image class="payInfo-arrow"
      src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/order-title-arrow.png" />
  </view>
  <view wx:if="{{orderDetail.orderStatusStr=='订单已取消'}}">
    <view class="waitpayTitle" wx:if="{{orderDetail.cancelType==1}}">超过5分钟未支付，自动取消订单</view>
    <view class="waitpayTitle" wx:if="{{orderDetail.cancelType==2||orderDetail.cancelType==3}}">感谢您对好特卖的喜爱，期待再次光临
    </view>
  </view>
  <!-- 订单已关闭 -->
  <view class="payInfo" catchtap="openTarck" wx:if="{{orderDetail.orderStatusStr=='订单已关闭'}}">
    <image
      src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E5%85%B3%E9%97%AD%E5%A4%87%E4%BB%BD%402x.png"
      lazy-load='true' alt="" />
    订单已关闭
    <image class="payInfo-arrow"
      src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/order-title-arrow.png" />
  </view>
  <view class="waitpaySetting2" wx:if="{{orderDetail.orderStatusStr=='订单已关闭'}}">
    <view class="waitpayTitle">抱歉给您带来不便，感谢您的支持和理解</view>
  </view>
  <!-- 团购状态 -->
  <!-- &&orderDetail.orderStatusStr!='配送中(外卖)'&&orderDetail.orderStatusStr != '待认领'&&orderDetail.orderStatusStr != '待拣货'&&orderDetail.orderStatusStr != '拣货中'&&orderDetail.orderStatusStr!='待配送'&&orderDetail.orderStatusStr!='待配送(外卖)'&&orderDetail.orderStatusStr!='配送中' -->
  <block
    wx:if="{{orderDetail.orderType == '5' && orderDetail.orderStatusStr != '订单已取消'&&orderDetail.orderStatusStr != '待支付'&&orderDetail.orderStatusStr != '订单已关闭'&&orderDetail.orderStatusStr != '已送达(外卖)'&&orderDetail.orderStatusStr != '订单已送达'}}">
    <view class="group-TG">
      <view class="group-TG-pad">
        <view class="group-TG-item">
          <view class="TG-top">
            <view class="XQ" data-text="{{groupBuyDetail.address}}" bindtap="shopTost">
              <text class="XQ-shop">{{groupBuyDetail.address}}</text>
              ·拼团
            </view>
            <!-- 拼团中 -->
            <block wx:if="{{groupBuyStatus == 10}}">
              <text class="JSPT" wx:if="{{groupBuyTimeStatus == 1}}">预计{{groupBuyEndTime}}小时后结束</text>
            </block>
            <!-- 拼团成功 -->
            <block wx:if="{{groupBuyStatus == 20}}">
              <text class="JSPT">拼团成功</text>
            </block>
            <!-- 拼团结束 -->
            <block wx:if="{{groupBuyStatus == 10}}">
              <text class="JSPT" wx:if="{{groupBuyTimeStatus == 2}}">已结束</text>
            </block>
            <!-- 商家结束拼团 -->
            <block wx:if="{{groupBuyStatus == 10}}">
              <text class="JSPT" wx:if="{{groupBuyTimeStatus == 3}}">商家结束了拼团</text>
            </block>
            <image class="WH" bindtap="showTakeOut"
              src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/wh.png" />
          </view>
          <view class="TG-amount">
            <text class="amount-YP">已拼</text>
            <text class="amount-SL">{{groupBuyDetail.nowOrderNum}}/{{groupBuyDetail.maxOrderNum}}</text>
            <!-- 已成团状态 -->
            <block wx:if="{{groupBuyStatus == 20}}">
              <view class="amount-images">
                <image src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/duide.png" />
                <text class="CG">已成团</text>
              </view>
            </block>
            <!-- 未成团状态 -->
            <block wx:if="{{groupBuyStatus == 10 && (groupBuyTimeStatus == 2 || groupBuyTimeStatus==3)}}">
              <view class="amount-images">
                <image src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/cuode.png" />
                <text>未成团</text>
              </view>
            </block>
          </view>
          <view class="group-slide">
            <view class="group-silide-center" style="width: {{takeTheirWidth <= 7 ?'7' : takeTheirWidth}}%;">
              <image src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/sd.png" />
            </view>
          </view>
          <!-- 分享 -->
          <view class="group-FX">
            <button open-type="share" bindtap="subscription"></button>
            <block wx:if="{{groupBuyStatus == 10 && groupBuyTimeStatus == 1}}">
              <view class="share-text1">分享到小区</view>
              <view class="share-text2">加速成团</view>
            </block>
            <view wx:else class="share-text1">分享</view>
          </view>
        </view>
        <view class="group-htm-bottom"
          wx:if="{{groupBuyStatus == 10 && (groupBuyTimeStatus == 2 || groupBuyTimeStatus==3)}}">
          <view class="htm-bottom-titme">
            <van-count-down time="{{ countDownTimeHtm }}" />
            <text class="time-text">后将自动退款</text>
          </view>
          <view class="htm-bottom-ZT" bindtap="showTakeTheir">
            <text>转自提</text>
          </view>
        </view>
      </view>
    </view>
  </block>
  <!-- 自提单订单流程 -->
  <view class="orderPropcessSelf"
    wx:if="{{orderDetail.sourceType=='3'&&(orderDetail.orderStatusStr=='待拣货'||orderDetail.orderStatusStr=='待取货'||orderDetail.orderStatusStr=='待认领'||orderDetail.orderStatusStr=='订单已支付')}}">
    <view class="orderProcessSelfitem"></view>
    <view class="orderProcessSelfitem">
      <image
        wx:if="{{orderDetail.orderStatusStr=='待拣货(自提)'||orderDetail.orderStatusStr=='待拣货'||orderDetail.orderStatusStr=='待认领'||orderDetail.orderStatusStr=='订单已支付'}}"
        src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E7%BC%96%E7%BB%84%2042%E5%A4%87%E4%BB%BD%402x.png'>
      </image>
      <image wx:else
        src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E6%A4%AD%E5%9C%86%E5%BD%A2%E5%A4%87%E4%BB%BD%205%402x.png'>
      </image>
    </view>
    <view class="orderProcessSelfitem">---------------------</view>
    <view class="orderProcessSelfitem">---------------------</view>
    <view class="orderProcessSelfitem">

      <image wx:if="{{orderDetail.orderStatusStr=='待取货(自提)'||orderDetail.orderStatusStr=='待取货'}}"
        src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E7%BC%96%E7%BB%84%2042%E5%A4%87%E4%BB%BD%402x.png'>
      </image>
      <image wx:else
        src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E6%A4%AD%E5%9C%86%E5%BD%A2%E5%A4%87%E4%BB%BD%205%402x.png'>
      </image>
    </view>
    <view class="orderProcessSelfitem">---------------------</view>
    <view class="orderProcessSelfitem">---------------------</view>
    <view class="orderProcessSelfitem">
      <image wx:if="{{orderDetail.orderStatusStr=='已完成'}}"
        src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E7%BC%96%E7%BB%84%2042%E5%A4%87%E4%BB%BD%402x.png'>
      </image>
      <image wx:else
        src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E6%A4%AD%E5%9C%86%E5%BD%A2%E5%A4%87%E4%BB%BD%205%402x.png'>
      </image>

    </view>
    <view class="orderProcessSelfitem"></view>
    <view
      class="orderProcessSelfitem {{orderDetail.orderStatusStr=='待拣货(自提)'||orderDetail.orderStatusStr=='待拣货'||orderDetail.orderStatusStr=='订单已支付'||orderDetail.orderStatusStr=='待认领'?'selectedtitle':'' }}">
      待拣货</view>
    <view
      class="orderProcessSelfitem {{orderDetail.orderStatusStr=='待取货(自提)'||orderDetail.orderStatusStr=='待取货'?'selectedtitle':'' }}">
      待取货</view>
    <view class="orderProcessSelfitem">已完成</view>
  </view>
  <!-- 提货码 -->
  <view class="Selfcode"
    wx:if="{{orderDetail.sourceType=='3'&&(orderDetail.orderStatusStr=='待拣货'||orderDetail.orderStatusStr=='待取货'||orderDetail.orderStatusStr=='待认领'||orderDetail.orderStatusStr=='订单已支付')}}">
    <view class="codetitle">提货码</view>
    <view class="toopie">{{orderDetail.pickUpCode}}</view>
    <view class="selfQrcode">
      <canvas type="2d" class="qrcodestr" id="qrcodes" />
    </view>
    <view class="selfTcode">
      <canvas class="barcodestr" canvas-id="barcode" />
    </view>
    <view class="toopie">取件码2日内有效，请尽快前往门店取货</view>
  </view>

  <!-- 订单列表 -->
  <view class="orderList">
    <view class="orderListShop">
      <view class="orderListShop-left">
        <image
          src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E5%BA%97%E9%93%BA%402x.png"
          lazy-load='true' alt="" />
        <text>{{orderDetail.shopName}}</text>
      </view>
      <view class="orderListShop-right">
        <!-- || orderDetail.sourceType == '1' 判断是否是线下还是线上单 -->
        <view
          wx:if="{{!( orderDetail.orderStatusStr == '订单已取消' || orderDetail.orderStatusStr == '待支付' ||waitPayshow || orderDetail.orderStatusStr == '订单已关闭') }}"
          data-status="{{orderDetail}}" bindtap='applyRefund' class="refundBtn">
          <view class="innerBtn">申请退款</view>
        </view>
      </view>
    </view>
    <view class="goodslist">
      <view class="goodsItme" wx:for="{{orderDetail.orderDetails}}" wx:for-item='item' wx:key="index"
        data-barcode="{{item.inputCode}}" bindtap="goDetail">
        <view class="goodsImg">
          <image
            src='{{item.samplePic==""?"https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/29cfe8ad-5c9a-4010-b5eb-f0b148bb1249.png":item.samplePic}}'
            lazy-load='true' alt="" />
          <view class="refundDesc"
            wx:if="{{orderDetail.orderStatus != 2 && (item.refundNum > 0 || item.refundStatusStr == '退款中')}}">
            {{item.refundStatusStr?item.refundStatusStr:'退款成功'}}</view>
        </view>
        <view class="goodsName">
          <view class="textover">
            <text class="zengpin" wx:if='{{item.flag==1}}'>赠品</text>
            <text class="zengpin" wx:if='{{item.flag==2}}'>券</text>
            {{item.productName}}
          </view>
        </view>
        <!-- 七天无理由退货 -->
        <view class="goods-wly" wx:if="{{item.isWithoutRefundProduct}}">
          <text>7天无理由退货</text>
        </view>
        <view class="guige">规格：{{item.qpc}}{{item.unit}}</view>
        <view class="num">x{{item.productNumber}}</view>
        <view class="single">单价：¥{{item.sellPrice}}</view>
        <view class="total">¥{{item.amount}}</view>
        <!-- 订单取消 才显示按钮 -->
        <view class="lookRefund"
          wx:if="{{orderDetail.orderStatus!=2&&(item.refundNum>0||item.refundStatusStr=='退款中')}}">
          <view></view>
          <view catchtap="showRefund" data-barcode="{{item.inputCode}}" class="lookRefundBtn">
            <view class="innercheckBtn">查看退款</view>
          </view>
        </view>
      </view>
    </view>
  </view>


  <!-- 到店自提地址 -->
  <view class="addressAnddescSelf"
    wx:if="{{orderDetail.sourceType=='3' && (orderDetail.orderStatusStr=='待拣货'||orderDetail.orderStatusStr=='待取货'||orderDetail.orderStatusStr=='待认领'||orderDetail.orderStatusStr=='订单已支付')}}">
    <view class="address">
      到店自提地址
    </view>
    <view class="addresst fontWeight">
      <text>{{orderDetail.receiverAddr}}</text>
    </view>
    <view class="addSelf"></view>
    <view class="addSelf">{{orderDetail.shopName}}</view>

  </view>
  <!-- 收货地址、备注 -->
  <view class="addressAnddesc" wx:if="{{!(orderDetail.sourceType=='1'|| orderDetail.sourceType=='3')}}">
    <view class="address">
      收货地址
    </view>
    <view class="addresst fontWeight">
      <text>{{orderDetail.receiver}} {{orderDetail.receiverMobile}}</text>
    </view>
    <view class="add"></view>
    <view class="add">{{orderDetail.receiverAddr}}</view>
    <view class="desc">
      备注
    </view>
    <view class="desct">
      {{orderDetail.remark||'您的备注'}}
    </view>
  </view>
  <!-- 自提备注 -->
  <view class="infolist" wx:if="{{orderDetail.sourceType=='3'}}">
    <view class="infoItem">
      <view class="infoTitle">备注</view>
      <view class="infoDesc">{{orderDetail.remark||'您的备注'}}</view>
    </view>
  </view>
  <!-- 费用 -->
  <view class="infolist">
    <view class="infoItem">
      <view class="infoTitle">商品总计</view>
      <view class="infoDesc fontWeight">￥{{orderDetail.totalAmount}}</view>
    </view>
    <view class="infoItem" wx:if="{{!(orderDetail.sourceType=='1')}}">
      <view class="infoTitle">打包费</view>
      <view class="infoDesc">￥{{orderDetail.packageFee}}</view>
    </view>
    <view class="infoItem" wx:if="{{!(orderDetail.sourceType=='1'||orderDetail.sourceType=='3')}}">
      <view class="infoTitle">配送费</view>
      <view class="infoDesc">￥{{orderDetail.deliveryFee}}</view>
    </view>
    <view class="infoItem2 one border-top">
      <view class="infoTitle bold">实付款:</view>
      <view class="infoDesc">
        <text class="redtext bold">￥{{orderDetail.realAmount}}</text>
      </view>
    </view>
    <view class="infoItem2" wx:if="{{giftAmount>0}}">
      <view class="infoTitle red">惊喜礼卡</view>
      <view class="infoDesc red">
        -{{giftAmount}}
      </view>
    </view>
  </view>
  <!-- 发票 -->
  <view class="infolist" bindtap="showModal" data-isInvoice="{{orderDetail.isInvoice}}"
    wx:if="{{(orderDetail.orderStatusStr=='已送达(到家)'||orderDetail.orderStatusStr=='已完成'||orderDetail.orderStatusStr=='订单已送达'||((orderDetail.orderType==1||orderDetail.orderType==2)&&orderDetail.orderStatusStr=='订单已支付'))&&(orderDetail.refundStatus!=='10')}}">
    <view class="infoItem">
      <view class="infoTitle">发票信息</view>
      <view class="infoDesc fontWeight">开发票 ></view>
    </view>
  </view>
  <!-- 单号、流水、支付方式、时间 -->
  <view class="infolist">
    <view class="infoItem infoItemLine">
      <view class="infoTitle">下单时间</view>
      <view class="infoDesc">{{orderDetail.orderTime}}</view>
    </view>
    <view class="infoItem infoItemLine">
      <view class="infoTitle">订单编号</view>
      <view class="infoDesc">
        {{orderDetail.orderNo}}
        <button class="copy" data-code="{{orderDetail.orderNo}}" bindtap='textpaste'>复制</button>
      </view>
    </view>
    <view class="infoItem infoItemLine">
      <view class="infoTitle">订单流水</view>
      <view class="infoDesc">
        {{orderDetail.channelOrderNo}}
        <button class="copy" data-code="{{orderDetail.channelOrderNo}}" bindtap='textpaste'>复制</button>
      </view>
    </view>
    <view class="infoItem infoItemLine"
      wx:if="{{orderDetail.orderStatusStr!=='待支付'&&orderDetail.orderStatusStr!=='订单已取消'&&orderDetail.orderStatusStr!=='撤单'}}">
      <view class="infoTitle">支付方式</view>
      <view class="infoDesc">{{orderDetail.payDetails[0].orderChannelZh}}</view>
    </view>
    <view class="infoItem"
      wx:if="{{orderDetail.orderStatusStr!=='待支付'&&orderDetail.orderStatusStr!=='订单已取消'&&orderDetail.orderStatusStr!=='撤单'}}">
      <view class="infoTitle">支付流水</view>
      <view class="infoDesc">
        {{orderDetail.payDetails[0].payNo}}
      </view>
    </view>
  </view>
  <!--  退款  -->
  <!-- <view wx:if="{{orderDetail.hasNoFinishReturnApply || orderDetail.refundStatus==10}}" class="infolist">
        <view class="infoItem">
            <view class="infoTitle">退款信息</view>
            <view catchtap='goRefunddetail' class="infoDesc fontWeight">退款信息 ></view>
        </view>
    </view> -->
  <!--  联系门店  -->
  <view class="infolist">
    <view class="infoItem">
      <view class="infoTitle">联系门店</view>
      <view class="infoDesc fontWeight" bindtap='showOrCODE'>联系门店 ></view>
    </view>
  </view>
</view>
<!-- 联系门店二维码 -->
<view class="qrcodebox" wx:if="{{showQrcode}}">
  <view class="closeIcon">
    <image bindtap='closeOrCODE' lazy-load='true'
      src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E5%85%B3%E9%97%AD%E5%A4%87%E4%BB%BD%402x.png'>
    </image>
  </view>
  <view class="qrcode">
    <view class="qrcodeInner">
      <image show-menu-by-longpress="{{ true }}" lazy-load='true' src='{{shopCodeImg}}'>
      </image>
    </view>
    <view class="qrcodeTitle">点击长按识别二维码联系门店～</view>
  </view>
</view>
<!-- 查看退款单 -->
<view class="qrcodebox" wx:if="{{showRefundlist}}">
  <view class="refundList">
    <view class="refundListTitle">请选择你要查看的退款单</view>
    <view class="orderItem" wx:for='{{singleGoodsrefund}}' wx:for-item='item' wx:key='index' data-item="{{item}}"
      bindtap="torefundDetail">
      <view class="orderheader">
        <view class="orderIcon">
          <image
            src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E5%BA%97%E9%93%BA%402x.png'>
          </image>
        </view>
        <view class="storeNmae">
          {{item.shopName}}
        </view>
        <view class="orderStatus">
          {{item.refundStatusStr}}
        </view>
      </view>
      <view class="ordergoods">
        <view class="goodsitem">
          <image
            src='{{item.pics[0]?item.pics[0]:"https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/29cfe8ad-5c9a-4010-b5eb-f0b148bb1249.png"}}'>
          </image>
        </view>

        <view class="goodsInfo">
          共计{{item.qty}}种商品
          <image
            src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E8%AE%A2%E5%8D%95%E5%88%97%E8%A1%A8-%E6%9B%B4%E5%A4%9A%E6%8C%89%E9%92%AE%402x.png'>
          </image>
        </view>
      </view>
      <view class="orderTime">
        <view class="timeTitle">申请时间</view>
        <view class="timenum">{{item.reqTime}}</view>
        <view class="totalmoney">
          退款￥
          <text class="fongWeight">{{item.refundAmount}}</text>
        </view>
      </view>
    </view>
  </view>
  <view class="closeIconrefund" bindtap='closeRefundlist'>
    <image lazy-load='true'
      src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E5%85%B3%E9%97%AD%E5%A4%87%E4%BB%BD%402x.png'>
    </image>
  </view>
</view>
<!-- 不可以退款 -->
<view class="qrcodebox" wx:if="{{showunRefund}}">
  <view class="unrefundInfo">
    <view class="unrefundImg">
      <image
        src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/06e1a0ad-aed2-4b53-946d-2808fcb038e2.png'>
      </image>
    </view>
    <view class="unrefundTitle">麦麦正在配送中，暂不支持退款哦</view>
    <view class="unrefundtext">订单完成后可申请退款</view>
    <view class="unrefundtext">感谢您的体谅！</view>
  </view>
  <view style="margin-top: 20rpx;" class="closeIconrefund" bindtap='closepeisongzhong'>
    <image lazy-load='true'
      src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/%E5%85%B3%E9%97%AD%E5%A4%87%E4%BB%BD%402x.png'>
    </image>
  </view>
</view>
<!-- 拼团描述 -->
<van-popup show="{{ isTakeOut }}" class="htm-takeOut" position="center">
  <view class="takeOut">
    <view class="takeOut-center">
      <view class="takeOut-center-title">拼团规则</view>
      <view class="takeOut-center-pad">
        <view class="takeOut-center-text">
          您所在的门店当前为团购服务，您的订单会自动进入拼团模式，拼团成功后可进行统一配送，预计1-3日内送达各社区指定提货点；若未在指定时间内成团，将会自动为您退款，支付金额将原路返回，预计在1-5个工作日内到账；如有疑问烦请联系门店社群管家咨询。
        </view>
      </view>
    </view>
    <view class="takeOut-images" bindtap="hideTakeOut">
      <image src="https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/order/guabianl.png" />
    </view>
  </view>
</van-popup>
<!-- 是否转自提 -->
<van-popup show="{{ isShowTakeTheir }}" class="htm-takeOut" position="center">
  <view class="takeTheir">
    <view class="takeTheir-title">确定要转自提么？</view>
    <view class="takeTheir-text">转成自提单后，需要本人到店取货</view>
    <view class="takeTheir-button">
      <view class="takeTheir-button-left" bindtap="hideTakeTheir">
        <text>我再想想</text>
      </view>
      <view class="takeTheir-button-right" bindtap="takeTheirOk">
        <text>确认自提</text>
      </view>
    </view>
  </view>
</van-popup>
<!-- 订单跟踪 -->
<van-popup show="{{ isShowTrack }}" custom-style="border-radius: 24rpx 24rpx 0px 0px ;" class="track" position="bottom"
  bind:close="closeTarck">
  <view class="track-header">订单跟踪 <view class="track-close" catchtap="closeTarck">关闭</view>
  </view>
  <view class="track-list">
    <view class="track-item" wx:for="{{flowMiniList}}" wx:key="index">
      <view class="track-item-header">
        <view class="track-title">{{item.remark}}</view>
        <view class="track-time">{{item.date}}</view>
      </view>
      <!-- <view class="track-tip">(无骑手接单，转为商家自配送）</view> -->
    </view>
  </view>
</van-popup>
<!-- 订单码 -->
<van-popup custom-style="top:50%;" round show="{{ isOrderCode }}" bind:close="onCloseToast">
  <view class="tip-bg">
    <view class="tip-bg-title">订单条形码</view>
    <view class="tip-selfQrcode">
      <canvas class="orderQrcodestr" canvas-id="orderBarcode" />
    </view>
    <view class="tip-bg-num">{{orderCodeSum}}</view>
    <view class="tip-close" catchtap="onCloseToast">
      <image src="https://img-cdn.hotmaxx.cn/web/common/mp-store/guanbil.png"></image>
    </view>
  </view>
</van-popup>