<!--pages/refund-apply/index.wxml-->
<view class="goods-view">
  <view class="goods-view-header">
    <view class="goods-view-title">退款商品</view>
    <view class="back-btn" bindtap="goBack">添加和编辑</view>
  </view>
  <view hidden="{{showMoreGoods}}">
    <view class="goods-list" wx:for="{{goodsList}}" wx:key="index">
      <view class="goods-list-pad {{goodsList.length == (index+1)?'goods-border':''}}">
        <!-- 商品图片 -->
        <view class="goods-images" data-barcode="{{item.barcode}}" bindtap="goDetail">
          <image
            src="{{item.productIcon ? item.productIcon : 'https://img-cdn.hotmaxx.cn/web/common/mp-store/cart/zwtp.png'}}">
          </image>

        </view>
        <!-- 商品标题/价格/添加 -->
        <view class="goods-content">
          <view class="goodsName color_3">{{item.productName}}</view>
          <view class="goods-qt" wx:if="{{item.isAllRefundFlag}}">
            <text>7天无理由退货</text>
          </view>
          <view class="guige color_9">规格:{{item.productQpc}}{{item.productUnit}}<view class="mg_r color_9">
              ×{{item.quantity}}</view>
          </view>
          <view class="guige color_9">单价:￥{{item.sellPrice}}<view class="mg_r color_3">￥{{item.returnAmount}}
            </view>
          </view>
        </view>

      </view>
    </view>
    <view class="change-goods" catchtap="changeGoods" wx:if="{{goodsMoreList.length>2}}">
      展开（共{{goodsMoreList.length}}件）<image class="picker-arrow change" mode="aspectFit"
        src="https://img.hotmaxx.cn/web/common/mp-store/order/picker-arrow.png"></image>
    </view>
  </view>
  <view hidden="{{!showMoreGoods}}">
    <view class="goods-list" wx:for="{{goodsMoreList}}" wx:key="index">
      <view class="goods-list-pad {{goodsMoreList.length == (index+1)?'goods-border':''}}">
        <!-- 商品图片 -->
        <view class="goods-images" data-barcode="{{item.barcode}}" bindtap="goDetail">
          <image
            src="{{item.productIcon ? item.productIcon : 'https://img-cdn.hotmaxx.cn/web/common/mp-store/cart/zwtp.png'}}">
          </image>

        </view>
        <!-- 商品标题/价格/添加 -->
        <view class="goods-content">
          <view class="goodsName color_3">{{item.productName}}</view>
          <view>

          </view>
          <view class="guige color_9">规格:{{item.productQpc}}{{item.productUnit}}<view class="mg_r color_9">
              ×{{item.quantity}}</view>
          </view>
          <view class="guige color_9">单价:￥{{item.sellPrice}}<view class="mg_r color_3">￥{{item.returnAmount}}
            </view>
          </view>
        </view>

      </view>
    </view>
  </view>

</view>
<view class="infolist">
  <view class="infolist-title">
    退款信息
  </view>
  <view class="infoItem-amount">
    <view class="infoTitle">退款总额<text class="requerd-icon">*</text></view>
    <view class="infoDesc fontWeight price">￥{{refundTotalAmount}}</view>
  </view>
  <view class="refund-price-info">
    <view class="refund-price-info-item">
      <view class="refund-price-info-item-title">商品退款总额</view>
      <view class="refund-price-info-item-price">￥{{refundTotalAmount}}</view>
    </view>
    <view class="refund-price-info-item" wx:if="{{deliveryFee&&isAllRefundFlag&&orderType!=3}}">
      <view class="refund-price-info-item-title">配送费</view>
      <view class="refund-price-info-item-price">￥{{deliveryFee}}
      </view>
    </view>
    <view class="refund-price-info-item" wx:if="{{packageFee&&isAllRefundFlag}}">
      <view class="refund-price-info-item-title">打包费</view>
      <view class="refund-price-info-item-price">￥{{packageFee}}
      </view>
    </view>
  </view>
  <view class="line" style="height:24rpx;"></view>
  <view class="store-item" wx:if="{{isAftermarket}}">
    <view class="infoTitle">货物状态<text class="requerd-icon">*</text></view>
    <view class="infoDesc" data-key="store" bindtap="openPicker">
      {{ refundStoreList[storeIndex]? refundStoreList[storeIndex].label :'请选择货物状态'}}
      <image class="picker-arrow" mode="aspectFit"
        src="https://img.hotmaxx.cn/web/common/mp-store/order/picker-arrow.png"></image>
    </view>
  </view>
  <view class="line"></view>
  <view class="store-item">
    <view class="infoTitle">退款原因<text class="requerd-icon">*</text></view>
    <view class="infoDesc" wx:if="{{storeIndex===99 && isAftermarket}}" data-key="refund" catchtap="openPicker">
      请选择退款原因 <image class="picker-arrow" mode="aspectFit"
        src="https://img.hotmaxx.cn/web/common/mp-store/order/picker-arrow.png"></image>
    </view>
    <view class="infoDesc" wx:else data-key="refund" catchtap="openPicker">
      <block wx:if="{{orderState == 'QI_TIAN_WU_LI_YOU'}}">
        {{ refundTypeList4[refundIndex]? refundTypeList4[refundIndex].label :'请选择退款原因'}}
        <image class="picker-arrow" mode="aspectFit"
          src="https://img.hotmaxx.cn/web/common/mp-store/order/picker-arrow.png"></image>
      </block>
      <block wx:else>
        <block wx:if="{{storeIndex == 0}}">
          {{ refundTypeList[refundIndex]? refundTypeList[refundIndex].label :'请选择退款原因'}}
          <image class="picker-arrow" mode="aspectFit"
            src="https://img.hotmaxx.cn/web/common/mp-store/order/picker-arrow.png"></image>
        </block>
        <block wx:if="{{storeIndex != 0}}">
          <block wx:if="{{isAftermarket}}">{{ refundTypeList2[refundIndex]? refundTypeList2[refundIndex].label
            :'请选择退款原因'}}</block>
          <block wx:else>{{ refundTypeList3[refundIndex]? refundTypeList3[refundIndex].label :'请选择退款原因'}}</block>
          <image class="picker-arrow" mode="aspectFit"
            src="https://img.hotmaxx.cn/web/common/mp-store/order/picker-arrow.png"></image>
        </block>
      </block>
    </view>
  </view>
  <view class="textarea-view">
    <textarea value="{{remark}}" wx:if="{{showPicker == false}}" bindinput='textAreaInput' class="textarea"
      maxlength="200" placeholder-class="p-textarea" placeholder="(选填)补充详细退款原因，有助于商家更好的处理售后问题" />
    <view class="textarea {{remark?'':'p-textarea'}}" wx:else>{{remark?remark:'(选填)补充详细退款原因，有助于商家更好的处理售后问题a'}}
    </view>
    <view class="count-tip">{{remark.length}}/200</view>
  </view>
  <view class="img-list" wx:if="{{isAftermarket}}">
    <view class="img-list-item" wx:for="{{imgList}}" wx:key="index" data-url="{{item}}" catchtap="previewImage">
      <image class="img-list-item-image" mode="aspectFit" src="{{item}}">
      </image>
      <image data-index="{{index}}" catchtap="removeImg" class="img-close"
        src="https://img.hotmaxx.cn/web/common/mp-store/order/image-close.png"></image>
    </view>
    <view hidden="{{imgList.length>2}}" class="img-add {{imgList.length?'left':''}}" catchtap="selectImg">
      <image class="img-add-icon" src="https://img.hotmaxx.cn/web/common/mp-store/order/image-add.png"></image>
    </view>
  </view>
</view>
<view class="footer">
  <view class="submit" bindtap="submit">提交</view>
</view>
<!-- 文字  -->
<van-popup show="{{ showPicker }}" position="bottom"
  custom-style="min-height: 862rpx;border-radius: 24rpx 24rpx 0px 0px;display: flex;flex-direction: column;"
  bind:close="onClose">
  <view class="popup-header">
    <view class="popup-header-title">{{pickerKey == 'store'?'选择货物状态':'选择退款原因'}}</view>
    <view class="popup-header-close" catchtap="onClose">取消</view>
  </view>
  <view class="select-list" catchtap="">
    <view class="select-item" wx:for="{{selectList}}" wx:key="index" data-index="{{index}}" catchtap="selectChange">
      {{item.label}}
      <image class="select-icon" wx:if="{{index!=selectIndex}}"
        src="https://img-cdn.hotmaxx.cn/web/common/mp-store/cart/weixuan.png">
      </image>
      <image class="select-icon" wx:if="{{index==selectIndex}}"
        src="https://img-cdn.hotmaxx.cn/web/common/mp-store/cart/xuanzhong.png">
      </image>
    </view>
  </view>
  <view class="select-btn" catchtap="selectConfirm">确定</view>
</van-popup>
<van-popup custom-style="top:40%;" round show="{{ showToast }}" bind:close="onCloseToast">
  <view class="tip-bg" catchtap="onCloseToast">
    <image wx:if="{{showError}}" class="tip-error-icon "
      src="https://img-cdn.hotmaxx.cn/web/common/mp-store/common/tip-error.png">
    </image>
    <image wx:if="{{showSuccess}}" class="tip-success-icon "
      src="https://img-cdn.hotmaxx.cn/web/common/mp-store/common/tip-success.png">
    </image>
    <view class="tip-text">{{toastText}}</view>
  </view>
</van-popup>