<view class="categorie">
    <view class="search-view" bindtap="goSearch">
        <view style="height:{{statusBar}}px"></view>
        <view class="search-content">
            <image class="search-icon" src="https://img.hotmaxx.cn/web/common/mp-store/search/search-icon.png" />
            <view class="search-input">搜索词</view>
        </view>
    </view>
    <!-- 每日上新和新品首发若有数据，展示 -->
    <block wx:if="{{isCategoriesData && categoriesData.length > 0}}">
        <!-- scroll-header滚动条 -->
        <view class="header-scroll">
            <scroll-view class="header" scroll-x="{{true}}" scroll-with-animation="{{true}}"
                scroll-into-view="{{childrenId}}" enable-flex="{{true}}" style="height: 164rpx;">
                <view class="header-item {{index==0||cat1Code==item.code?'active':''}}" id="c{{index}}"
                    wx:for="{{categoriesData}}" wx:key="index" bindtap="oneTap" data-index="{{index}}"
                    data-code="{{item.code}}">
                    <viwe class="header-item-icon-view {{index==cat1Index?'active':''}}">
                        <image class="header-item-icon" lazyLoad="{{true}}" src="{{item.icon}}" />
                    </viwe>
                    <view class="header-item-title ellipsis {{index==cat1Index?'active':''}}">{{item.name}}</view>
                </view>
            </scroll-view>
            <view class="header-right" catchtap="openAll">
                <view class="header-right-text">全部</view>
                <image class="header-right-icon"
                    src="https://img.hotmaxx.cn/web/common/mp-store/home-category/expand.png" />
            </view>
        </view>
        <!-- 分类scroll-center滚动条 -->
        <view class="content">
            <scroll-view class="content-left" scroll-y="{{true}}"
                style="height: calc(100vh - 320rpx  - {{navHeight}}px  - env(safe-area-inset-bottom))"
                scroll-into-view="{{twoChildrenId}}">
                <view class="left-item {{index==cat2Index?'active':''}}" id="ch{{index}}" wx:for="{{twoCategoriesList}}"
                    wx:key="index" data-code="{{item.code}}" data-index="{{index}}" bindtap="twoTap">
                    {{item.name}}
                </view>
            </scroll-view>
            <view class="content-right">
                <scroll-view id="scroll-content" class="content-right" scroll-y="{{true}}"
                    style="height: calc(100vh  - 320rpx  - {{navHeight}}px - env(safe-area-inset-bottom))"
                    lower-threshold="100" scroll-top="{{scrollTopNum}}" enable-back-to-top='{{true}}'
                    enhanced="{{true}}" bounces="{{false}}" bindscroll="bindscrollFn" bindtouchstart="touchStart"
                    bindtouchend="touchEnd" bindscrolltolower="scrollToLower" scroll-with-animation="{{true}}">
                    <view class="goods-list">
                        <view class="good-item" wx:for="{{goodsList}}" wx:key="index" data-barcode="{{item.barcode}}"
                            bindtap="goDetail">
                            <view class="good-item-icon-view">
                                <image class="good-item-icon" mode="aspectFit" lazyLoad="{{true}}"
                                    src="{{item.image||defaultImg2}}" />
                            </view>
                            <view class="good-item-content">
                                <view class="good-item-title  ellipsis-2"><text class="good-item-title-icon"
                                        wx:if="{{item.difference>0}}">省{{item.difference}}</text>{{item.goodsName}}
                                </view>
                                <view class="good-item-price-view">
                                    <view class="good-item-price-left">
                                        <view class="good-item-price-left-text">
                                            <text class="good-item-price-text"></text><text
                                                class="good-item-price-icon">¥</text><text
                                                class="good-item-price">{{item.priceInteger}}</text><text
                                                class="good-item-price-right">{{item.priceRight}}</text>惊喜价
                                        </view>
                                        <view class="good-item-desc">{{item.marketPrice}}</view>
                                    </view>
                                    <view class="good-item-cart-view" data-code="{{item.goodsCode}}"
                                        data-index="{{index}}" catchtap="addCart" data-item="{{item}}">
                                        <image class="new-item-cart-icon"
                                            src="https://img.hotmaxx.cn/web/common/mp-store/home-index/cart2.png" />
                                    </view>

                                </view>
                                <view class="good-item-footer">
                                    <button class="good-item-shrae-view" open-type="share" data-item="{{item}}"
                                        data-goodscode="{{item.goodsCode}}" data-img="{{item.image||defaultImg2}}"
                                        data-title="{{item.goodsName}}" catchtap="share">
                                        <image class="good-item-shrae-icon"
                                            src="https://img.hotmaxx.cn/web/common/mp-store/home-index/goods-share.png" />
                                    </button>
                                    <view class="good-item-like" data-arr="new-goods" data-code="{{item.goodsCode}}"
                                        data-index="{{index}}" data-favorite="{{item.isFavorite}}"
                                        data-barcode="{{item.barcode}}" catchtap="likeChange">
                                        <image hidden="{{item.isFavorite}}" class="new-item-like-icon"
                                            src="https://img.hotmaxx.cn/web/common/mp-store/home-index/like-default.png" />
                                        <image hidden="{{!item.isFavorite}}" class="new-item-like-icon"
                                            src="https://img.hotmaxx.cn/web/common/mp-store/home-index/like.png" />
                                    </view>
                                    <view class="good-item-stock">
                                        <block wx:if="{{item.inventory}}">剩:{{item.inventory}}件</block>
                                    </view>
                                </view>
                            </view>
                        </view>
                        <block wx:if="{{respones&&goodsList.length==0}}">
                            <view class="default">
                                <image class="default-images"
                                    src="https://img.hotmaxx.cn/web/common/mp-store/goodsIndex/favorite-fefault.png">
                                </image>
                                <view class="default-text">无更多商品了，看看其他的吧～</view>
                            </view>
                        </block>
                        <view style="text-align: center;height:40px;line-height:40px;">
                            <view wx:if="{{noMore}}">没有更多了</view>
                        </view>
                    </view>
                </scroll-view>
            </view>
        </view>
    </block>
    <!-- 无数据，展示缺省页 -->
    <block wx:if="{{!isCategoriesData && categoriesData.length == 0}}">
        <view class="category-default">
            <view class="default-Img">
                <image src="https://img.hotmaxx.cn/web/common/mp-store/home-index/sychh.png"></image>
            </view>
            <view class="category-default-button">
                <view class="button-text-one">{{shopName}}正在抓紧上架中</view>
                <view class="button-text-tow">去切换门店试试吧</view>
                <view class="cut-button">
                    <button class="cut-button-item" bindtap="goStore">切换门店</button>
                </view>
            </view>
        </view>
    </block>
</view>

<!-- 文字  -->
<van-popup show="{{ showAll }}" lock-scroll="{{true}}" position="top"
    custom-style="border-radius: 0px 0px 48rpx 48rpx;padding:14rpx; 0 0 32rpx" bind:close="onClose">
    <view class="popup-header" style="padding-top: {{navHeight}}px;">
        全部分类
    </view>
    <view class="popup-list">
        <view class="popup-item {{index==0||cat1Code==item.code?'active':''}}" wx:for="{{categoriesData}}"
            wx:key="index" data-mask="{{true}}" bindtap="oneTap" data-index="{{index}}" data-code="{{item.code}}">
            <!--  -->
            <viwe class="popup-item-icon-view {{index==cat1Index?'active':''}}">
                <image class="popup-item-icon" lazyLoad="{{true}}" src="{{item.icon}}" />
            </viwe>
            <view class="popup-item-title ellipsis {{index==cat1Index?'active':''}}">{{item.name}}</view>
        </view>
    </view>
    <view class="popup-footer" bindtap="onClose">
        收起分类
        <image class="popup-footer-icon" src="https://img.hotmaxx.cn/web/common/mp-store/home-category/arrow-top.png" />
    </view>
</van-popup>

<!-- 领券 -->
<coupon-model></coupon-model>