page {
  background: #f9f9f9;
  width: 100%;
  height: 100%;
}

.order-header-bg {
  width: 100%;
  height: 176rpx;
  background: linear-gradient(180deg, #f62c1e 0%, #f9f9f9 100%);
}

.order-tab-bg {
  width: 100%;
  height: 84rpx;
  margin-top: 20rpx;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.order-tab-bg-left {
  background: url("https://img-cdn.hotmaxx.cn/web/common/mp-store/cart/mmz.png") center center no-repeat;
  background-size: cover;
}

.order-tab-bg-right {
  background: url("https://img-cdn.hotmaxx.cn/web/common/mp-store/cart/mmy.png") center center no-repeat;
  background-size: cover;
}

.order-tab {
  width: 100%;
  height: 64rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-top-left-radius: 16rpx;
  border-top-right-radius: 16rpx;
}

.order-tab view {
  width: 50%;
  height: 64rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-tab view text {
  font-size: 26rpx;
  color: #000000;
  font-weight: 400;
}

.select-tab-ZT text {
  font-size: 32rpx !important;
  color: #000000 !important;
}

.select-tab-WM text {
  font-size: 32rpx !important;
  color: #000000 !important;
}

.tab-ZT {
  width: 50%;
}

.order-content {
  width: 100%;
  position: absolute;
  top: 0;
}

.order-content-pad {
  margin-left: 18rpx;
  margin-right: 18rpx;
  padding-bottom: 220rpx;
}

.order-takeTheir {
  background: #ffffff;
  overflow: hidden;
}

.order-takeTheir-Pad {
  margin-left: 20rpx;
  margin-right: 20rpx;
}

.takeTheir-top {
  padding-bottom: 24rpx;
  border-bottom: 1rpx solid #f3f3f3;
}

.takeTheir-shopTile {
  font-size: 32rpx;
  color: #000000;
  font-weight: 500;
  padding-top: 32rpx;
}

.takeTheir-shopName {
  font-size: 22rpx;
  color: #999999;
  font-weight: 400;
  padding-top: 16rpx;
  margin-bottom: 25rpx;
}

.takeTheir-Time {
  padding-top: 8rpx;
  padding-bottom: 10rpx;
  background: #fff5ef;
  font-size: 28rpx;
  color: #333333;
  font-weight: 400;
  padding-left: 20rpx;
  padding-right: 20rpx;
}

.takeTheir-button {
  padding-top: 20rpx;
  padding-bottom: 28rpx;
}

.takeTheir-button-select {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20rpx;
}

.select-text {
  font-size: 28rpx;
  color: #333333;
  font-weight: 400;
}

.select-TKC {
  display: flex;
  align-items: center;
}

.select-TKC .picker-text {
  font-size: 28rpx;
  color: #f62c1e;
  font-weight: 400;
  margin-right: 12rpx;
}

.select-TKC > image {
  width: 14rpx;
  height: 22rpx;
}

.takeTheir-phone {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40rpx;
}

.phone-DH {
  font-size: 28rpx;
  color: #333333;
  font-weight: 400;
}

.phone-ZDTX {
  font-size: 28rpx;
  color: #f62c1e;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background: #ffffff;
  border: none;
}

.phone-Input {
  font-size: 22rpx;
  color: #999999;
  font-weight: 400;
  margin-top: 20rpx;
}

.order-address {
  background: #ffffff;
  border-bottom-left-radius: 16rpx;
  border-bottom-right-radius: 16rpx;
  overflow: hidden;
}

.order-address-pad {
  margin-left: 20rpx;
  margin-right: 20rpx;
}

.address-top {
  padding-bottom: 24rpx;
  border-bottom: 1rpx solid #f3f3f3;
}

.address-top-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32rpx;
}

.name-XM {
  display: flex;
  align-items: center;
}

.name-XM text {
  font-size: 32rpx;
  color: #333333;
  font-weight: 500;
}

.name-XM text:last-child {
  margin-left: 12rpx;
}

.address-DZ {
  display: flex;
  align-items: center;
}

.address-DZ > text {
  font-size: 24rpx;
  color: #999999;
  font-weight: 400;
  margin-right: 12rpx;
}

.address-DZ > image {
  width: 14rpx;
  height: 22rpx;
}

.address-DZL {
  font-size: 24rpx;
  color: #999999;
  font-weight: 400;
  padding-top: 14rpx;
}

.order-address-select {
  width: 100%;
  padding-top: 24rpx;
  border-bottom: 1rpx solid #f3f3f3;
}

.order-address-select-title {
  display: flex;
  align-items: center;
  padding-bottom: 40rpx;
}

.order-address-select-title text:first-child {
  font-size: 32rpx;
  color: #333333;
  font-weight: 500;
}

.order-address-select-title text:last-child {
  font-size: 24rpx;
  color: #999999;
  font-weight: 400;
  margin-left: 8rpx;
}

.order-address-select-list {
  display: flex;
  align-items: center;
  margin-bottom: 42rpx;
}

.select-list-image {
  width: 36rpx;
  height: 36rpx;
}

.select-list-image > image {
  width: 36rpx;
  height: 36rpx;
}

.select-list-text {
  max-width: 520rpx;
  font-size: 28rpx;
  color: #666666;
  font-weight: 400;
  margin-left: 20rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.select-color {
  color: #f62c1e !important;
}

.address-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24rpx;
  padding-bottom: 28rpx;
}
.address-bottom-right > image {
  width: 14rpx;
  height: 22rpx;
}
.address-bottom text {
  font-size: 28rpx;
  color: #333333;
  font-weight: 400;
}

.address-bottom-right text {
  font-size: 28rpx;
  color: #f62c1e;
  font-weight: 400;
}

.order-goods-num {
  padding-top: 20rpx;
  padding-bottom: 16rpx;
}

.order-goods-num > text {
  margin-left: 20rpx;
  font-size: 24rpx;
  color: #f62c1e;
  font-weight: 400;
}

.order-goods-list {
  background: #ffffff;
  border-radius: 16rpx;
}

.goods-list {
  display: flex;
  align-items: center;
  border-bottom: 1rpx solid #f3f3f3;
  padding-top: 24rpx;
  padding-bottom: 20rpx;
}

.goods-list:last-child {
  border-bottom: none;
}

.goods-list-images {
  width: 144rpx;
  height: 144rpx;
  margin-left: 20rpx;
}

.goods-list-images > image {
  width: 144rpx;
  height: 144rpx;
}

.goods-list-right {
  margin-left: 18rpx;
  width: 72%;
  height: 144rpx;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.goods-list-title {
  font-size: 26rpx;
  color: #333333;
  font-weight: 400;
}

.goods-list-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.goods-list-price > text {
  font-size: 28rpx;
  color: #999999;
  font-weight: 400;
}

.goods-list-price .price {
  display: flex;
  align-items: baseline;
}

.goods-list-price .price text:first-child {
  font-size: 24rpx;
  color: #ff2e2e;
  font-weight: bold;
}

.goods-list-price .price text:last-child {
  font-size: 28rpx;
  color: #ff2e2e;
  font-weight: bold;
}

.order-price {
  margin-top: 18rpx;
  background: #ffffff;
  border-radius: 16rpx;
}

.goods-ZJ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28rpx;
}

.goods-ZJ text:first-child {
  font-size: 28rpx;
  color: #333333;
  font-weight: 400;
  margin-left: 20rpx;
}

.goods-ZJ text:last-child {
  font-size: 28rpx;
  color: #333333;
  font-weight: 500;
  margin-right: 20rpx;
}

.pack-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28rpx;
  padding-bottom: 25rpx;
}

.pack-price text:first-child {
  font-size: 28rpx;
  color: #333333;
  font-weight: 400;
  margin-left: 20rpx;
}

.pack-price text:last-child {
  font-size: 28rpx;
  color: #333333;
  font-weight: 500;
  margin-right: 20rpx;
}

.delivery-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 28rpx;
}

.delivery-SB {
  display: flex;
  align-items: center;
  margin-left: 20rpx;
}

.delivery-SB > text {
  font-size: 28rpx;
  color: #333333;
  font-weight: 400;
}

.delivery-SB > image {
  width: 26rpx;
  height: 26rpx;
  margin-left: 10rpx;
  vertical-align: middle;
  /* margin-top: 5rpx; */
}

.delivery-price > text {
  font-size: 28rpx;
  color: #333333;
  font-weight: 500;
  margin-right: 20rpx;
}

.price-HJJG {
  height: 90rpx;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1rpx solid #f3f3f3;
}

.price-HJJG-right {
  margin-right: 20rpx;
  display: flex;
  align-items: center;
}

.price-HJJG-right text:first-child {
  font-size: 28rpx;
  color: #333333;
  font-weight: 500;
}

.price-HJJG-right text:last-child {
  font-size: 32rpx;
  color: #f62c1e;
  font-weight: 500;
}

.goods-pay {
  background: #ffffff;
  margin-top: 18rpx;
  border-radius: 16rpx;
}

.pay-WX {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 92rpx;
  margin: 0 20rpx;
  border-bottom: 1rpx solid #f3f3f3;
}

.pay-WX text:first-child {
  font-size: 28rpx;
  color: #333333;
  font-weight: 400;
  /* margin-left: 20rpx; */
}

.pay-WX text:last-child {
  font-size: 28rpx;
  color: #333333;
  font-weight: bold;
  margin-right: 20rpx;
}

.pay-BZ {
  display: flex;
  align-items: center;
  height: 94rpx;
}

.pay-BZ > text {
  font-size: 28rpx;
  color: #333333;
  font-weight: 400;
  margin-left: 20rpx;
}

.pay-BZ > input {
  width: 83%;
  margin-left: 20rpx;
  font-size: 24rpx;
  color: #333333;
}

.footer-pay {
  width: 100%;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  box-shadow: 0 -6rpx 40rpx #cccccc;
  padding-bottom: env(safe-area-inset-bottom);
}

.footer-pay .footer-pay-pad {
  width: 100%;
  padding-top: 15rpx;
  padding-bottom: 15rpx;
  margin-left: 20rpx;
  margin-right: 20rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-pay-left {
  display: flex;
  align-items: center;
}

.footer-pay-left > text {
  font-size: 28rpx;
  color: #333333;
  flex-shrink: 0;
  font-weight: 400;
  margin-right: 10rpx;
}

.pay-RMB {
  display: flex;
  align-items: baseline;
}

.pay-RMB .RMB-FH {
  font-size: 32rpx;
  color: #f62c1e;
  font-weight: 500;
}

.pay-RMB .RMB-JG {
  font-size: 44rpx;
  color: #f62c1e;
  font-weight: 500;
}

.pay-RMB .RMB-JGHM {
  font-size: 32rpx;
  color: #f62c1e;
  font-weight: 500;
}

.footer-pay-left .pay-YFSB {
  font-size: 22rpx;
  color: #999999;
  font-weight: 400;
  margin-left: 8rpx;
}

.footer-pay-right {
  width: 208rpx;
  height: 80rpx;
}

.footer-pay-right > button {
  width: 208rpx;
  height: 80rpx;
  background: linear-gradient(55deg, #ff582d 0%, #ff3838 100%);
  border-radius: 40rpx;
  font-size: 30rpx;
  font-weight: 400;
  color: #ffffff !important;
}

.footer-pay-right .footer-pay-FW {
  opacity: 0.5;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.order-wrapper {
  width: 640rpx;
  /* height: 680rpx; */
  /* height: 412rpx; */
  padding-bottom: 40rpx;
  background: #ffffff;
  border-radius: 16rpx;
  z-index: 200;
}

.wrapper-title {
  font-size: 32rpx;
  color: #333333;
  font-weight: 500;
  text-align: center;
  padding-top: 36rpx;
  padding-bottom: 40rpx;
}

.wrapper-textOne {
  font-size: 28rpx;
  color: #333333;
  margin-left: 68rpx;
  font-weight: 400;
  padding-bottom: 40rpx;
}

.wrapper-text {
  font-size: 28rpx;
  color: #333333;
  margin-left: 48rpx;
  margin-right: 48rpx;
  font-weight: 400;
}

.wrapper-BT {
  font-size: 24rpx;
  color: #999999;
  margin-left: 68rpx;
  padding-top: 16rpx;
  padding-bottom: 40rpx;
}

.wrapper-ZW {
  overflow: visible;
  padding: 1rpx;
  margin-top: 40rpx;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-button {
  overflow: visible;
  width: 320rpx;
  height: 64rpx;
  line-height: 64rpx;
  transform: rotateZ(360deg);
  border: 1rpx solid #f62c1e;
  border-radius: 32rpx;
  text-align: center;
  font-size: 24rpx;
  color: #f62c1e;
}

.van-popup--bottom.van-popup--safe {
  border-radius: 18rpx 18rpx 0 0;
}

.van-picker__confirm {
  color: #f62c1e !important;
  font-size: 32rpx !important;
}

.van-picker-column__item--selected {
  font-size: 32rpx;
  color: #333333;
  font-weight: 400;
}

.van-picker__frame {
  border-top: 2rpx solid #f5f5f5;
  border-bottom: 2rpx solid #f5f5f5;
}

.close-GB {
  width: 50rpx;
  height: 50rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20rpx;
  left: 20rpx;
}
view .van-picker__cancel {
  width: 64px;
}

.htm-takeOut .van-popup {
  border-radius: 16rpx;
}

.takeOut {
  width: 620rpx;
  height: 460rpx;
  background: #ffffff;
  border-radius: 16rpx;
}

.takeOut-title {
  font-size: 32rpx;
  color: #333333;
  font-weight: 500;
  text-align: center;
  margin-top: 76rpx;
}

.takeOut-text {
  font-size: 28rpx;
  color: #666666;
  font-weight: 400;
  text-align: center;
  margin-top: 40rpx;
}

.takeOut-DDZT {
  width: 520rpx;
  height: 80rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff3b30;
  border-radius: 50rpx;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56rpx;
}

.takeOut-DDZT > text {
  font-size: 28rpx;
  color: #ffffff;
  font-weight: 400;
}

.takeOut-TJSP {
  width: 520rpx;
  height: 80rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2rpx solid #ff3b30;
  border-radius: 50rpx;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48rpx;
}

.takeOut-TJSP > text {
  font-size: 28rpx;
  color: #f62c1e;
  font-weight: 400;
}

.van-cell {
  padding-left: 20rpx !important;
  padding-right: 20rpx !important;
}

.van-cell__value {
  margin-top: 5rpx !important;
}

.van-cell__title {
  max-width: 70rpx !important;
  min-width: 70rpx !important;
  margin-right: 0 !important;
}

.van-field__label {
  font-size: 28rpx !important;
  color: #333333 !important;
}

.van-field__control:empty + .van-field__control {
  font-size: 24rpx !important;
}

.van-button__text {
  color: #ffffff !important;
}

.van-button--normal {
  background: #ff3b30 !important;
}

/* 支付方式 */
.pay-item {
  height: 96rpx;
  margin: 0 20rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1rpx solid #f3f3f3;
}
.pay-item-icon {
  width: 36rpx;
  height: 36rpx;
}
