page {
  position: relative;
}
.clear-btn {
  height: 74rpx;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 32rpx;
}
.goods-list {
  width: 750rpx;
  padding-top: 24rpx;
  padding-bottom: 20rpx;
  background: #ffffff;
  border-radius: 24rpx 24rpx 0px 0px;
}
.goods-content-swipe {
  /* border-radius: 24rpx; */
  overflow: hidden;
  /* margin-bottom: 20rpx; */
}

.goods-content-list {
  position: relative;
  background: #ffffff;
  min-height: 236rpx;
  padding-left: 20rpx;
  padding-top: 20rpx;
  display: flex;
}
.goods-content-list::after {
  position: absolute;
  content: " ";
  left: 20rpx;
  bottom: 0;
  right: 0;
  height: 2rpx;
  background: #f3f3f3;
}

.list-left {
  width: 196rpx;
  height: 196rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-left > image {
  width: 196rpx;
  height: 196rpx;
}

.list-right {
  width: 65%;
  height: 180rpx;
  margin-left: 16rpx;
}

.list-right-title {
  width: 458rpx;
  max-height: 80px;
  font-weight: 400;
  color: #040303;
  line-height: 40rpx;
}
.good-item-title-icon {
  display: inline-block;
  /* min-width: 68rpx; */
  padding: 0 8rpx;
  height: 28rpx;
  margin-bottom: 6rpx;
  margin-right: 8rpx;
  vertical-align: middle;
  background: linear-gradient(51deg, #ff4c34 0%, #ff3b4a 100%);
  border-radius: 6rpx;
  font-size: 20rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 28rpx;
  text-align: center;
}
.new-list-item-price-left {
  font-size: 24rpx;
  color: #ff0d0d;
  line-height: 40rpx;
  align-items: baseline;
}
.new-list-item-price-text {
  font-size: 24rpx;
  font-weight: bold;
  color: #ff2e2e;
}

.new-list-item-price-icon,
.new-list-item-price,
.new-list-item-price-right {
  color: #ff2e2e;
  font-weight: 600;
  font-size: 24rpx;
}
.new-list-item-price-view {
  padding-right: 20rpx;
  margin-top: 20rpx;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.new-list-item-price {
  font-size: 34rpx;
  line-height: 40rpx;
}
.new-list-item-price-right {
  font-size: 24rpx;
  margin-right: 4rpx;
}
.new-list-item-desc {
  margin-top: -10rpx;
  font-size: 22rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #a5a5a5;
  line-height: 32rpx;
  text-decoration: line-through;
}
.new-list-item-stock {
  margin-top: 8rpx;
  font-size: 22rpx;
  font-weight: 400;
  color: #a5a5a5;
  line-height: 32rpx;
}
.new-list-item-cart-view {
  padding-top: 26rpx;
  flex-shrink: 0;
  height: 78rpx;
  width: 52rpx;
  flex: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
}
.new-item-cart-icon {
  height: 52rpx;
  width: 52rpx;
  display: block;
}

.goods-delete {
  width: 130rpx;
  height: 100%;
  line-height: 232rpx;
  text-align: center;
  font-size: 30rpx;
  color: #ffffff;
  font-weight: 500;
  background: #ff3b30;
  /* border-radius: none; */
  /* border-top-right-radius: 0; */
  /* border-bottom-right-radius: 0; */
}

.default {
  width: 100%;
  margin-top: 270rpx;
}

.default .default-images {
  width: 600rpx;
  height: 328rpx;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.default-text {
  font-size: 32rpx;
  color: #333333;
  font-weight: 400;
  text-align: center;
  margin-top: 52rpx;
}
.default-button {
  width: 560rpx;
  line-height: 84rpx;
  font-size: 36rpx;
  color: #fff;
  font-weight: 400;
  background: linear-gradient(55deg, #ff582d 0%, #ff3838 100%);
  border-radius: 42rpx;
  text-align: center;
  margin: 44rpx auto;
}
