/* 
此文件为开发者工具生成，生成时间: 2021/8/6 下午1:40:50
使用方法：
在 button.wxss 文件末尾引入样式
```
@import "./button-wxa-auto-dark.wxss";
```
 */

@media (prefers-color-scheme: dark) {
    .hpcBtn {
        color: rgb(209, 209, 209);
        background: rgb(57, 37, 0);
    }

    .hpcBtn[disabled] {
        color: rgb(95, 95, 102);
        background: rgb(41, 41, 42) !important;
    }

    .hpcGrayBorderBtn {
        color: rgb(149, 149, 149);
        background: rgb(24, 24, 24);
    }

    .hpcGrayBorderBtn[disabled] {
        color: rgb(95, 95, 102);
        background: rgb(41, 41, 42) !important;
    }
}
