<view class="service-header">
  <block wx:if="{{isPermission}}">
    <!-- 线上单 -->
    <block wx:if="{{orderType == 3 || orderType == 4 || orderType == 5}}">
      <block wx:if="{{orderStatus == 21 || orderStatus == 22}}">
        <view class="service-header-content">
          <view class="header-top" bindtap="routerUrl">
            <view class="header-left">
              <image class="header-qt" src="https://img-cdn.hotmaxx.cn/web/common/mp-store/qt.png"></image>
              <view class="header-center">
                <view class="header-center-title">7天无理由退货</view>
                <view class="header-center-text">享受会员权益，退货前往门店核销后返还退款</view>
              </view>
            </view>
            <image class="header-jt" src="https://img-cdn.hotmaxx.cn/web/common/mp-store/jt.png"></image>
          </view>
        </view>
      </block>
    </block>
    <!-- 线下单 -->
    <block wx:if="{{orderType == 1 && orderStatus == 3}}">
      <view class="service-header-content">
        <view class="header-top" bindtap="routerUrl">
          <view class="header-left">
            <image class="header-qt" src="https://img-cdn.hotmaxx.cn/web/common/mp-store/qt.png"></image>
            <view class="header-center">
              <view class="header-center-title">7天无理由退货</view>
              <view class="header-center-text">享受会员权益，退货前往门店核销后返还退款</view>
            </view>
          </view>
          <image class="header-jt" src="https://img-cdn.hotmaxx.cn/web/common/mp-store/jt.png"></image>
        </view>
      </view>
    </block>
  </block>
  <!-- 普通退货单 -->
  <view class="service-header-content service-header-bottom">
    <view class="header-top" bindtap="routerGeneral">
      <view class="header-left">
        <image class="header-qt" src="https://img-cdn.hotmaxx.cn/web/common/mp-store/th.png"></image>
        <view class="header-center">
          <view class="header-center-title">普通退货</view>
          <view class="header-center-text">退货单前往门店核销后返还退款(需携带商品)</view>
        </view>
      </view>
      <image class="header-jt" src="https://img-cdn.hotmaxx.cn/web/common/mp-store/jt.png"></image>
    </view>
  </view>
</view>
<view class="my-serve" wx:if="{{isPermission}}">
  <view class="my-serve-center">
    <view class="my-serve-title">我的服务</view>
    <view class="my-serve-bottom" bindtap="goSevenDaysAgreement">
      <view class="my-serve-left">7天无理由退换</view>
      <view class="my-serve-right">
        <text>{{orderDayTime}}</text>
        <image src="https://img-cdn.hotmaxx.cn/web/common/mp-store/jt.png"></image>
      </view>
    </view>
  </view>
</view>