<!--module_games/prizeList/index.wxml-->
<navbar background="{{lotteryInfo.bgColor}}" titleColor="#fff" parameter="{{navbarData}}"></navbar>
<view class="prizeList" style="background-color: {{lotteryInfo.bgColor}};">
  <view class="prizeList_title">
    <image
      src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/lotteryDraw/%E7%BC%96%E7%BB%84%205%402x%20(1).png'>
    </image>
  </view>
  <view class="prizebox" style="background: url('{{lotteryInfo.wining_record}}') no-repeat;background-size: 100% 100%;">
    <!-- <view class="prizeinner"> -->
    <scroll-view class="prizeinner" scroll-y="{{true}}" style="height:calc(100vh  - 300rpx)" lower-threshold="140"
      scroll-top="{{scrollTopNum}}" enable-back-to-top='true' refresher-enabled="{{true}}"
      bindrefresherrefresh="bindrefresherrefresh" refresher-triggered="{{refresher}}" bindscrolltolower="scrollToLower">
      <view class="prizeItem" wx:if='{{prizeList.length>0}}' wx:for="{{prizeList}}" wx:key="key">
        <view class="prizenumber">{{index+1}}</view>
        <view class="prizeicon">
          <view class="prizeiconinner">
            <image src='{{item.prizeImgUrl}}'></image>
          </view>
        </view>
        <view class="prizeInfo">
          <view class="prizeInfo_title">{{item.prizeName}}</view>
          <view class="prizeInfo_date">{{item.winningTime}}获得</view>
        </view>
        <view class="prizeStatus">
          <image wx:if='{{item.grantStatus==20}}' src='{{lotteryInfo.unissued}}'></image>
          <image wx:else src='{{lotteryInfo.issued}}'></image>
        </view>
      </view>
      <view wx:if='{{prizeList.length==0}}' class="no_image">
        <image
          src='https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/lotteryDraw/%E7%BC%BA%E7%9C%81%E9%A1%B5%E6%8F%92%E5%9B%BE-%E9%9D%9E%E5%B8%B8%E6%8A%B1%E6%AD%89%20(3)%E5%A4%87%E4%BB%BD%402x.png'>
        </image>
        <text>暂无抽奖记录</text>
      </view>
      
    </scroll-view>
    <view class="gobao">
      <button class="colorfulBtn" bindtap='goCoupon'
        style="background: url('{{lotteryInfo.wining_record_button}}') no-repeat;background-size: 100% 100%;">
        前往我的券包
      </button>
    </view>
    <!-- </view> -->
  </view>
</view>