/* pages/invoice/index.wxss */
.banner {
  height: 286rpx;
  display: block;
  width: 100%;
}

.wrapper {
  padding: 0 20rpx;
  padding-bottom: 60rpx;
}

.wrapper_result {
  width: 100%;
  padding: 0;
}

.wrapper_result .header {
  padding-top: 0;
  margin-top: 0;
  margin-top: 20rpx;
  border-radius: initial;
}

.invoiceType-contnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #000000;
  background: #fff;
  padding-bottom: 40rpx;
}

.invoiceType-contnt .invoiceType-contnt-icon image {
  width: 280rpx;
  height: 246rpx;
  margin-top: 112rpx;
}

.invoiceType-contnt .invoiceType-contnt-label {
  margin-top: 32rpx;
}

.invoiceType-contnt .invoiceType-contnt-text:first-child {
  margin-top: 82rpx;
}

.invoiceType-contnt .invoiceType-contnt-text {
  margin-top: 18rpx;
}
.invoiceType-contnt-text-text {
  color: #1890ff;
}

.header {
  background: #fff;
  border-radius: 12rpx;
  position: relative;
  padding-top: 34rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -123rpx;
  margin-bottom: 20rpx;
}

.header_pic {
  display: block;
  width: 318rpx;
  height: 36rpx;
}

.header_fix {
  display: block;
  width: 232rpx;
  height: 168rpx;
  position: absolute;
  right: 30rpx;
  top: -130rpx;
}

.header_title {
  text-align: center;
  font-size: 44rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #000000;
  margin-top: 8rpx;
}

.item {
  width: 100%;
  padding: 28rpx 24rpx;
  display: flex;
  box-sizing: border-box;
  border-bottom: 2rpx solid #f0f0f0;
}

.item:last-child {
  border-bottom: none;
}

.header_label {
  font-size: 30rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  width: 120rpx;
}

.header_wrapper {
  flex: 1;
  font-size: 30rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  margin-left: 40rpx;
}

.main {
  background: #fff;
  border-radius: 12rpx;
  position: relative;
  margin-bottom: 20rpx;
}

.main_item {
  box-sizing: border-box;
  padding: 0 24rpx;
  height: 100rpx;
  display: flex;
  align-items: center;
}

.main_label {
  width: 140rpx;
}

.main_label::before {
  display: inline-block;
  margin-right: 4rpx;
  color: #ff4d4f;
  font-size: 28rpx;
  line-height: 1;
  content: "*";
}

.main_wrapper {
  flex: 1;
  margin-left: 40rpx;
}

.tab_wrapper {
  display: flex;
}

.tab {
  width: 200rpx;
  height: 60rpx;
  border-radius: 30rpx;
  box-sizing: border-box;
  border: 2rpx solid #d9d9d9;
  text-align: center;
  line-height: 60rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
}

.tab.active {
  background: linear-gradient(58deg, #ff85b2 0%, #ff176d 100%);
  border: none;
  color: #ffffff;
}

.tab:first-child {
  margin-right: 30rpx;
}

.input-placeholder {
  color: #c0c4cc;
}

.title_wrapper {
  display: flex;
  align-items: center;
}

.main_input {
  height: 100rpx;
  line-height: 100rpx;
  flex: 1;
}

.main_image {
  display: block;
  width: 64rpx;
  height: 42rpx;
  margin-left: 24rpx;
}

.submit {
  background: #fff;
  border-radius: 12rpx;
  position: relative;
}

.history-wrapper {
  padding: 30rpx 24rpx 0;
}

.history-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30rpx;
}

.history-content {
  display: flex;
  flex-wrap: wrap;
}

.history-item {
  position: relative;
  box-sizing: border-box;
  border: 2rpx solid #b5b5b5;
  height: 50rpx;
  border-radius: 50rpx;
  padding: 0 20rpx;
  margin-right: 20rpx;
  margin-bottom: 20rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50rpx;
}

.history-title {
  font-size: 30rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
}

/* .history-right {} */
.history-item-close {
  width: 30rpx;
  height: 30rpx;
  position: absolute;
  right: -10rpx;
  top: -16rpx;
  z-index: 10;
}

.history-img {
  width: 28rpx;
  height: 30rpx;
}

/* .history-comfirm {
  
} */
.submit-wrapper {
  box-sizing: border-box;
  padding: 50rpx 24rpx;
}

.submit-button {
  width: 100%;
  border-radius: 42rpx;
  height: 84rpx;
  background: linear-gradient(58deg, #ff85b2 0%, #ff176d 100%);
  font-size: 32rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 84rpx;
  text-align: center;
}

/* @import 'index-wxa-auto-dark.wxss' */
