<!-- <navbar parameter='{{parameter}}'></navbar> -->
<!-- tag -->
<view style="height:40rpx"></view>
<scroll-view class="nav-list" scroll-x="{{true}}" scroll-with-animation="{{true}}" scroll-into-view="{{childrenId}}"
    enable-flex="{{true}}" style="height: 50rpx;">
    <view class="nav-item {{index==tagIndex?'active':''}}" id="nav-item{{index}}" wx:for="{{tagList}}" wx:key="index"
        bindtap="tagTap" data-code="{{item.privilegeCode}}" data-index="{{index}}">
        {{item.privilegeName}}
    </view>
</scroll-view>
<!-- swiper -->
<swiper class="header-card-swiper" current="{{swiperIndex}}" bindchange="swiperChange" previous-margin="54rpx"
    next-margin="54rpx">
    <block wx:for="{{list}}" wx:key="index" data-code="{{item.privilegeCode}}">
        <swiper-item>
            <view class="swiper-item">
                <image class="swiper-item-img" src="{{item.url}}">
                </image>
                <view class="swiper-item-title-view">
                    <text class="swiper-item-title">{{item.privilegeName}}</text>
                    <view class="swiper-item-tag unlock" wx:if="{{item.unlockFlag==1}}">已解锁</view>
                    <view class="swiper-item-tag disabled" wx:if="{{item.unlockFlag==0}}">未解锁</view>
                </view>
            </view>
        </swiper-item>
    </block>
</swiper>
<!-- 下方权益 -->
<view class="benefits">
    <view class="benefits-title">等级特权</view>
    <view class="benefits-noreason" wx:if="{{list[swiperIndex].privilegeCode == 'HYFW'}}"
        bindtap="goSevenDaysAgreement">《7天无理由服务协议》</view>
    <text
        class="benefits-desc {{list[swiperIndex].unlockFlag ==0 ? 'disabled':''}}">{{list[swiperIndex].imgDesc||''}}</text>
</view>