<!-- 正常显示  -->
<block wx:if="{{isDefault && actStatus == 0}}">
  <block wx:if="{{actStartStatus == 1}}">
    <view class="invitation"  class="{{isActivity ?'tripList_root':''}}" style="background:{{backgroudColor}};">
      <!-- 背景图片 -->
      <image class="invitation-Images" mode="widthFix" src="{{bgImages}}" />
      <!-- 点击按钮 -->
      <view class="invitation-button" bindtap="tapPopup">
        <image src="{{buttonImages}}" />
      </view>
      <!-- 活动规则 -->
      <view class="invitation-HD" bindtap="tapActivityShow">
        <text>活动规则</text>
      </view>
      <!-- 邀请记录 -->
      <view class="invitation-JL" bindtap="tapInvite">
        <text>邀请记录</text>
      </view>
    </view>
    <!-- 分享弹框 -->
    <van-popup show="{{ isShare }}" position="bottom" bind:close="onClose">
      <view class="invitation-popup">
        <view class="invitation-popup-title">
          <text class="title-BT">选择分享方式</text>
          <image class="title-GB" bindtap="onClose" src="https://img-cdn.hotmaxx.cn/web/common/mp-store/gb.png" />
        </view>
        <view class="invitation-popup-FX">
          <button open-type="share" class="invitation-FX invitation-FX-button">
            <image src="https://img-cdn.hotmaxx.cn/web/common/mp-store/wx.png" />
            <view>微信好友</view>
          </button>
          <view class="invitation-FX" bindtap="SharingMoments">
            <image src="https://img-cdn.hotmaxx.cn/web/common/mp-store/pyq.png" />
            <view>分享朋友圈</view>
          </view>
          <view class="invitation-FX" bindtap="tapShowScan">
            <image src="https://img-cdn.hotmaxx.cn/web/common/mp-store/sys.png" />
            <view>面对面扫码</view>
          </view>
        </view>
      </view>
    </van-popup>
    <!-- 面对面扫码 -->
    <van-popup show="{{ isScan }}" custom-class="htm-scan">
      <view class="scan-popup">
        <view class="scan-header-img">
          <image class="header-img"
            src="{{headUrl ||'https://img.hotmaxx.cn/web/common/mp-store/default/avatar-default.png'}}" />
          <view class="scan-Name">{{nickName}}</view>
        </view>
        <view class="scan-code">
          <image src="{{base64}}" />
        </view>
        <view class="scan-button">
          <view class="scan-text-one">让朋友扫一扫二维码</view>
          <view class="scan-text-tow">注册小程序即可接受邀请</view>
        </view>
      </view>
      <view class="scan-close">
        <image bindtap="onCloseScan" src="https://img-cdn.hotmaxx.cn/web/common/mp-store/htmgb.png" />
      </view>
    </van-popup>
    <!-- 活动规则 -->
    <van-popup show="{{ isActivity }}"custom-class="htm-activity">
      <view class="activity-rule">
        <view class="activity-rule-title">
          <text>活动规则</text>
        </view>
        <view class="activity-rule-center">
          <!-- <view class="activity-rule-titleOne">
            <text>一、如何参加本次活动？</text>
          </view> -->
          <view class="activity-rule-text">
            <text>{{actRuleDesc}}</text>
          </view>
        </view>
        <view class="activity-rule-close" bindtap="tapActivityHide">
          <image src="https://img-cdn.hotmaxx.cn/web/common/mp-store/gb.png" />
        </view>
      </view>
    </van-popup>
  </block>
</block>
<!-- 异常状态 -->
<block wx:if="{{!isDefault}}">
  <view class="default-JS" wx:if="{{actStatus == 1 || actStartStatus == 2}}">
    <image src="https://img-cdn.hotmaxx.cn/web/common/mp-store/cjrs.png" />
    <view class="default-JS-text">{{actStartStatus == 1 ? '活动暂停中' : '活动已结束'}}</view>
  </view>
  <view class="default-JS" wx:if="{{actStatus == 0 && actStartStatus == 0}}">
    <image src="https://img-cdn.hotmaxx.cn/web/common/mp-store/cjrf.png" />
    <view class="default-JS-text">活动暂未开始，正在筹备中…</view>
  </view>
</block>