.detailBox {
    padding-bottom: constant(safe-area-inset-bottom);
    /*兼容 IOS<11.2*/
    padding-bottom: env(safe-area-inset-bottom);
    /*兼容 IOS>11.2*/
}

.orderShop {
    height: 106rpx;
	/* line-height: 106rpx; */
	padding-left: 18rpx;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.shopTitle{
	display: flex;
	align-items: center;
}
.oderLogo {
    width: 38rpx;
    height: 38rpx;
    vertical-align: middle;
    /* position: relative;
    top: -6rpx; */
}

.shopName {
    padding-left: 6rpx;
    font-size: 32rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #1A1A1A;
}
.cancelBtn {
	width: 140rpx;
	height: 54rpx;
	background: #F7F7F7;
	color: #000000;
	border-radius: 32rpx;
	border: 1px solid #828282;
	text-align: center;
	line-height: 54rpx;
	font-size: 24rpx;
	margin-right: 20rpx;
}
.goodsContainer{
	margin-bottom: 20rpx;
	margin-left: 20rpx;
	margin-right: 20rpx;
	padding: 28rpx;
	border-radius: 16rpx;
	background: #FFFFFF;
}
.goodsItem {
    width: 100%;
    height: 188rpx;
    
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
    /* position: relative; */
}

.refundPosDescName {
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
    width: 530rpx;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 10rpx;
}
.refundReson{
	font-size: 28rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	color: #000000;
}
.refundResonContain{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 28rpx;
	padding-top: 10rpx;
}
.colorGre{
	color: #A5A6AA;
}
.resonTitle{
	white-space: nowrap;
}
.resonText{
	white-space: pre-wrap;
}
.goodsImg {
    width: 132rpx;
    height: 132rpx;
    border-radius: 8rpx;
   /* position: absolute;
    left: 28rpx;
    top: 28rpx; */
}
.goodsDesCon{
	margin-left: 18rpx;
}

.productName {
    font-size: 32rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #1A1A1A;
    display: inline-block;
    white-space: nowrap;
    width: 507rpx;
    overflow: hidden;
    text-overflow: ellipsis;
}
.goodsDesItem{
	font-family: PingFangSC-Regular;
}
.gre-color{
	font-size: 28rpx;
	color: #A5A6AA;

}
.row-between{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.goodsAmount{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.relAmount{
	color: #F60600;
}
.font11{
	font-size: 22rpx;
}
.paddL10{
	padding-left: 20rpx;
}
.redColor{
	color: #F60600;
}
.qpc {
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #A5A6AA;
    position: absolute;
    left: 178rpx;
    top: 78rpx;
}

.sellPrice {
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #A5A6AA;
    position: absolute;
    left: 178rpx;
    top: 118rpx;
}

.productNumber {
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #A5A6AA;
    position: absolute;
    left: 178rpx;
    top: 158rpx;
}

.amount {
    font-size: 24rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
    position: absolute;
    right: 20rpx;
    top: 32rpx;
}

.refundBtn {
    width: 152rpx;
    height: 56rpx;
    background: #F7F7F7;
    border-radius: 32rpx;
    border: 1px solid #bbbbbb;
    text-align: center;
    line-height: 56rpx;
    font-size: 26rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
    position: absolute;
    right: 18rpx;
    top: 134rpx;
}

.goodsDetailItem {
    width: 710rpx;
    background: #FFFFFF;
    border-radius: 16rpx;
    margin-bottom: 20rpx;
    margin-left: 20rpx;
    padding:32rpx 24rpx 42rpx;
}

.goodsDetailItemOne {
    height: 40rpx;
}

.itemOneTitle {
    font-size: 28rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #1A1A1A;
    line-height: 40rpx;
}

.itemOneVal {
    float: right;
}

.moneyIcon {
    font-size: 24rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
    margin-right: 2rpx;
}

.itemOneNum {
    font-size: 32rpx;
    font-family: DINAlternate-Bold, DINAlternate;
    font-weight: bold;
    color: #000000;
}

.copyBtn {
    width: 86rpx;
    display: inline-block;
    height: 44rpx;
    background: #ECECEC;
    border-radius: 6rpx;
    font-size: 26rpx;
    text-align: center;
    line-height: 44rpx;
    margin-left: 12rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
}

.helpName {
    font-size: 26rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    margin-left: 44rpx;
    margin-top: 4rpx;
    color: #FA6400;
}

.refundPosDesc {
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
    position: absolute;
    left: 28rpx;
    top: 178rpx;
}

.codeBox {
    text-align: center;
}

.codeState {
    font-size: 36rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #232427;
    margin-left: 10rpx;
    position: relative;
    top: 2rpx;
}

.codeText1 {
    font-size: 24rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #A5A6AA;
    margin-top: 6rpx;
}

.codeText2 {
    font-size: 32rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #232427;
}

.barcode {
    height: 168rpx;
    width: 526rpx;
    margin: 18rpx auto 8rpx;
}

.sourceChannelOrderNo {
    font-size: 30rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
}

.qrcode {
    width: 310rpx;
    height: 310rpx;
    margin: 18rpx auto 0rpx;
}

.codeText3 {
    margin: 40rpx auto 20rpx;
    width: 552rpx;
    font-size: 26rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    line-height: 1.5;
    color: #FA6400;
}

.codeText4 {
    font-size: 24rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #A5A6AA;
    /* margin-bottom: 24rpx; */
}

.codeText5 {
    font-size: 24rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #A5A6AA;
}