page {
  width: 100%;
  overflow-x: hidden;
}
.body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
/* 头部 */
.header-card {
  width: 750rpx;
  height: 498rpx;
  padding-top: 162rpx;
  background: url("https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/mine2/5b8d048a5ffa0%402x.png")
    no-repeat;
  background-size: 100% 100%;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow-icon {
  width: 14rpx;
  height: 18rpx;
  margin-left: 4rpx;
}
.common-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.flex {
  display: flex;
}

.user-info {
  position: relative;
  padding-left: 158rpx;
  display: flex;
}
/* 头像 */
.user-avatar {
  position: absolute;
  left: 8rpx;
  top: -47rpx;
  width: 138rpx;
  height: 142rpx;
}
/* 等级 */
.level {
  margin-top: 6rpx;
  margin-left: 8rpx;
  position: relative;
  background: url("https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/mine2/vipbg.png")
    no-repeat;
  background-size: 100% 100%;
  padding: 10rpx 0 0 44rpx;
  width: 98rpx;
  height: 46rpx;
  font-size: 18rpx;
  font-weight: 500;
  color: #ffe9d2;
  line-height: 26rpx;
}
.user-right {
  margin-top: -4rpx;
}
.nick-name {
  display: block;
  max-width: 360rpx;
  font-size: 36rpx;
  font-weight: 500;
  color: #333333;
  line-height: 50rpx;
}
.save-money {
  margin-top: 14rpx;
  padding: 0 18rpx;
  height: 32rpx;
  width: max-content;
  background: #fbe3db;
  border-radius: 20rpx;
  font-size: 20rpx;
  font-weight: 400;
  color: #333333;
}
/* 会员码 */
.qrcode {
  position: absolute;
  top: 212rpx;
  right: 40rpx;
  width: 48rpx;
  height: 48rpx;
}
.header-card .bottom {
  display: flex;
  margin-top: 28rpx;
}
.bottom-item {
  flex: 1;
}
.bottom-item .bottom-item-text {
  margin-top: 4rpx;
  font-size: 24rpx;
  font-weight: 400;
  color: #666666;
  line-height: 34rpx;
}
.bottom-item-num {
  font-size: 32rpx;
  font-weight: 600;
  color: #333333;
  line-height: 44rpx;
}
.header-card .bottom-img-view {
  margin: 30rpx auto 0;
  width: 702rpx;
  height: 104rpx;
  background: url("https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/mine2/bottom-img-view-bg.png")
    no-repeat;
  background-size: 100% 100%;
}
.bottom-img-view .level-text {
  display: block;
  transform: translate(592rpx, 12rpx);
  font-size: 20rpx;
  font-weight: 600;
  color: #dd2b19;
  line-height: 28rpx;
}
.bottom-img-view .level-sub-title {
  width: 180rpx;
  text-align: center;
  transform: translate(498rpx, 28rpx);
  font-size: 24rpx;
  font-weight: 500;
  color: #b47a3d;
  line-height: 34rpx;
}
.card {
  width: 702rpx;
  background: #ffffff;
  border-radius: 16rpx;
  margin: 0 auto;
}
.card .header {
  height: 44rpx;
}
.card .sub-title {
  color: #999999;
  line-height: 34rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
}
/* 订单 */
.order {
  margin-top: 16rpx;
  padding: 30rpx 0 26rpx 0;
}
.card .header {
  padding: 0 36rpx 0 32rpx;
}
.order-title {
  font-size: 32rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 44rpx;
}
.order-list {
  margin-top: 32rpx;
  display: flex;
}
.order-item {
  flex: 1;
}
.order-item-icon-view {
  position: relative;
  width: 48rpx;
  height: 48rpx;
}
.order-item-num {
  position: absolute;
  right: -40%;
  top: -17rpx;
  padding: 0 9rpx;
  height: 34rpx;
  min-width: 34rpx;
  text-align: center;
  line-height: 34rpx;
  background: #ff442f;
  border-radius: 50%;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
}
.order-item-icon {
  width: 48rpx;
  height: 48rpx;
}
.order-item-text {
  margin-top: 16rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 34rpx;
}
.member {
  margin-top: 20rpx;
  padding: 12px 0 12rpx 0;
}
.readyPickup {
  height: 328rpx;
  /* background-color: brown; */
}
.readyPickupSwiper {
  height: 100%;
}
.pickupItem {
  display: flex;
}
.pickIt {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pickQrcode {
  width: 240rpx;
  height: 240rpx;
  border: 1px #f62c1e dashed;
  border-radius: 14rpx;
  padding: 20rpx;
}
.pickstore {
  color: #333;
  font-weight: 600;
  font-size: 32rpx;
}
.pickgoods {
  color: #999;
  font-size: 24rpx;
  line-height: 72rpx;
}
/*  */
/* 轮播 */
.swiper-view {
  position: relative;
  padding: 20rpx 24rpx 0 24rpx;
}
.swiper {
  width: 702rpx;
  height: 160rpx;
  border-radius: 16rpx;
}
.swiper-item,
.swiper-item-img {
  width: 100%;
  height: 100%;
  border-radius: 24rpx;
}
.swiper-view .wx-swiper-dot {
  display: inline-flex;
  border-radius: 5rpx;
  width: 10rpx;
  height: 10rpx;
  background: rgba(255, 255, 255, 0.5);
  margin-left: 10rpx;
  margin-bottom: -10rpx;
  justify-content: space-between;
}

.swiper-view .wx-swiper-dot-active {
  width: 28rpx;
  height: 10rpx;
  border-radius: 5rpx;
}
.qrcodestr {
  width: 100%;
  height: 100%;
}
/* 未登录 */
.login-card-icon {
  width: 100%;
  height: 1446rpx;
}
.login-card-bottom {
  position: absolute;
  top: 680rpx;
  left: 0;
  width: 100%;
  padding: 0 24rpx;
  height: 168rpx;
}
.login-card-item {
  position: absolute;
  top: 0;
  z-index: 1;
}
.go-member_official {
  left: 540rpx;
  width: 176rpx;
  height: 176rpx;
}
.go-community {
  left: 200rpx;
  width: 176rpx;
  height: 176rpx;
}
