<movable-area class="custom-class"
	style="pointer-events: none;height: 100%;width: 100%;left:16rpx;top:0px;position:fixed;z-index: {{zIndex}};">
	<movable-view wx:if="{{show}}" direction="all" x="{{moveViewX}}" y="{{moveViewY}}" animation="{{false}}"
		style="pointer-events: auto; width: 100rpx;height:100rpx;z-index: 101000;" bindtap="onHome">
		<view class="home-pop">
			<image class="home-pop-icon" src="https://img.hotmaxx.cn/web/common/mp-store/home-index/goods-cart.png">
			</image>
			<view class="home-pop-text  {{cartNum > 9?'pd':''}}" wx:if="{{cartNum>0}}">{{cartNum}}</view>
		</view>
	</movable-view>
</movable-area>