/* module_games/prizeList/index.wxss */
.prizeList {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    padding-top: 178rpx;
}
/* 
.prizeList::before {
    content: '';
    display: block;
    height: 1rpx;
} */

.prizeList_title {
    text-align: center;
}
.prizeList_title image{
    width: 360rpx;
    height: 44rpx;  
}

.prizebox {
    width: 95%;
    height: calc(100vh - 265rpx);
    /* border: 4rpx solid #5840B6; */
    border-radius: 32rpx;
    margin: 20rpx auto;
    padding: 20rpx;
    box-sizing: border-box;
}

.prizeinner {
    padding: 0 20rpx 20rpx;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    overflow: scroll;
}
.prizeItem{
    height: 160rpx;
    border-bottom: 1rpx solid #D8D8D8;
    display: grid;
    grid-template-columns: 40rpx 150rpx auto 150rpx;
    grid-template-rows: 100%;
}
.prizenumber{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35rpx;
}
.prizeicon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prizeiconinner{
    width: 100rpx;
    height: 100rpx;
    background-color: #E4CFFF;
    border-radius: 12rpx;
}
.prizeiconinner image{
    width: 100rpx;
    height: 100rpx;
}
.prizeInfo_title{
    line-height: 95rpx;
    font-size: 32rpx;
    font-weight: 500;
}
.prizeInfo_date{
    font-size: 24rpx;
    color: #999999;
}
.prizeStatus{
    width: 150rpx;
    height: 150rpx;
}
.prizeStatus image{
    width: 100%;
    height: 100%;
}
.gobao{
    width: 500rpx;
    height: 150rpx;
    /* background-color: rosybrown; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 80rpx;
    left: 50%;
    margin-left: -250rpx;
}
.colorfulBtn{
    width: 400rpx;
    height: 100rpx;
    
    color: white;
    font-size: 32rpx;
    letter-spacing: 2rpx;
    line-height: 100rpx;
}
.prizeinner::before{
    content: '';
    display: block;
    height: 1rpx;
}
.no_image{
    width: 260rpx;
    height: 264rpx;
    margin: 100rpx auto;
    text-align: center;
}
.no_image text{
    color: #999999;
    font-size: 24rpx;
    line-height: 55rpx;
}
.no_image image{
    width: 260rpx;
    height: 224rpx; 
}