/* module_games/gasiapon/index.wxss */

/* module_games/lotteryDraw/lotteryDraw.wxss */
.lottery_bodyboxnoactive {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.scrollbox{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.noactive {
  width: 308rpx;
  height: 288rpx;
  /* margin-bottom: 30rpx; */
  margin: 500rpx auto 0;
  text-align: center;
  font-size: 24rpx;
}

.noactive image {
  width: 308rpx;
  height: 288rpx;
  margin-bottom: 30rpx;
}

.lottery_bodybox {
  width: 100%;
  min-height: 100vh;
  /* overflow: hidden; */
  /* background-color: cadetblue; */
}

.left_icon {
  width: 80 rpx;
  height: 60rpx;
  position: absolute;
  top: 100rpx;
  left: 30rpx;
}

.left_icon image {
  width: 80rpx;
  height: 60rpx;
}

.lotteryRule {
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.lottery_bodyboxloading {
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.lottery_body {
  width: 100%;
  height: 100vh;
  position: relative;
}

.qiucontainer {
  width: 100%;
  height: 1070rpx;
  position: absolute;
  bottom: 200rpx;
  z-index: 100;
}

.qiucontainer image {
  width: 100%;
  height: 100%;
}

.jiqiBottom {
  width: 100%;
  height: 1070rpx;
  position: absolute;
  bottom: 200rpx;
  z-index: 90;
}

.jiqiBottom image {
  width: 100%;
  height: 100%;
}

.loading {
  width: 275rpx;
  height: 155rpx;
  margin: 500rpx auto 0;
  text-align: center;
  color: #eee;
}

.loading image {
  width: 100%;
  height: 100%;
  margin-bottom: 30rpx;
}

.rule_bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 999;
}

.rule_bgbox {
  width: 95%;
  height: 1130rpx;

  position: absolute;
  top: 250rpx;
  left: 50%;
  margin-left: -48%;
  /* -webkit-animation: xing 0.5s linear; */
}

.rule_close {
  width: 68rpx;
  height: 68rpx;
  position: absolute;
  top: 1430rpx;
  left: 50%;
  margin-left: -34rpx;
  /* -webkit-animation: xing 0.5s linear; */
}

.rule_close image {
  width: 100%;
  height: 100%;
}

.rule_content {
  width: 600rpx;
  height: 960rpx;
  position: absolute;
  bottom: 30rpx;
  left: 50%;
  margin-left: -300rpx;
  overflow: scroll;
}

.prize_bgbox {
  width: 100%;
  height: 1050rpx;

  position: absolute;
  top: 200rpx;
  z-index: 999;
  -webkit-animation: xing 0.5s linear;
}

.prize_content {
  width: 560rpx;
  height: 500rpx;
  /* background-color: burlywood; */
  position: absolute;
  top: 370rpx;
  left: 50%;
  margin-left: -280rpx;
}

.prize_quan {
  font-size: 32rpx;
  color: #333333;
  text-align: center;
  line-height: 35rpx;
}

.prize_quan_b {
  color: #FF8143;
  font-size: 26rpx;
  text-align: center;
  line-height: 30rpx;
}

.prize_quan_icon {
  width: 180rpx;
  height: 180rpx;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20rpx;
  margin: 15rpx auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prize_quan_mar {
  width: 160rpx;
  height: 160rpx;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10rpx auto;
}

.prize_close {
  width: 68rpx;
  height: 68rpx;
  position: absolute;
  top: 1300rpx;
  left: 50%;
  margin-left: -34rpx;
  -webkit-animation: xing 0.5s linear;
}

.prize_close image {
  width: 100%;
  height: 100%;
}

.none_bgbox {
  width: 100%;
  height: 750rpx;
  margin-top: 300rpx;
  -webkit-animation: xing 0.5s linear;
}

.none_bgbox image {
  width: 100%;
  height: 100%;
}

.none_close {
  width: 68rpx;
  height: 68rpx;
  position: absolute;
  top: 1100rpx;
  left: 50%;
  margin-left: -34rpx;
  -webkit-animation: xing 0.5s linear;
}

.none_close image {
  width: 100%;
  height: 100%;
}

.operate_btn1 {
  padding: 15rpx 40rpx;
  border-radius: 30rpx;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 400rpx;
  /* font-size: 30rpx; */
  color: white;
  right: -35rpx;
  z-index: 120;
}

.operate_btn2 {
  padding: 15rpx 40rpx;
  border-radius: 30rpx;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 520rpx;
  /* font-size: 30rpx; */
  color: white;
  right: -35rpx;
  z-index: 120;
}

.container {
  width: 550rpx;
  height: 550rpx;
  border-radius: 50%;
  position: absolute;
  top: 300rpx;
  left: 50%;
  margin-left: -245rpx;
  box-shadow: 0px 12px 20px -12px #f3f3f3 inset,
    -12px 0px 20px -12px #f3f3f3 inset,
    0px -12px 20px -12px #f3f3f3 inset,
    12px 0px 20px -12px #f3f3f3 inset;
  z-index: 100;
}

.container_inner {
  width: 540rpx;
  height: 540rpx;
  border-radius: 50%;
  position: absolute;
  bottom: 730rpx;
  left: 50%;
  margin-left: -250rpx;
  /* background-color: crimson; */
  z-index: 99;
  padding-top: 400rpx;
  overflow: hidden;
}

.conduit {
  width: 60rpx;
  height: 500rpx;
  box-shadow: 0px 0px 0px 0px #f3f3f3 inset,
    -12px 0px 20px -12px #f3f3f3 inset,
    0px 0px 0px 0px #f3f3f3 inset,
    12px 0px 20px -12px #f3f3f3 inset;
  position: absolute;
  top: 500rpx;
  z-index: 100;
}

.conduit_inner {
  width: 80rpx;
  height: 500rpx;
  position: absolute;
  top: 220rpx;
  left: 10rpx;
  z-index: 99;
  text-align: center;
  overflow: hidden;
  /* background-color: cyan; */
}

.conduit_inner image {
  width: 80rpx;
  height: 80rpx;
  position: absolute;
  top: -80rpx;
  left: 50%;
  margin-left: -25rpx;
  /* opacity: 0; */
}

.downBall {
  /* opacity: 1; */
  animation: roll 1s linear 4s forwards;
}

@keyframes roll {
  0% {
    -webkit-transform: translate(80rpx, 80rpx) rotate(0deg);
  }

  20% {
    -webkit-transform: translate(-20rpx, 80rpx) rotate(0deg);
  }

  85% {
    -webkit-transform: translate(-20rpx, 450rpx) rotate(150deg);
  }

  100% {
    -webkit-transform: translate(60rpx, 500rpx) rotate(180deg);
  }
}

.exit {
  width: 140rpx;
  height: 210rpx;
  border-top-left-radius: 70rpx;
  /* box-shadow: 0px 12px 20px -12px #f3f3f3 inset,
        -12px 0px 20px -12px #f3f3f3 inset,
        0px -12px 20px -12px #f3f3f3 inset,
        12px 0px 20px -12px #f3f3f3 inset; */
  position: absolute;
  top: 1010rpx;
  left: 160rpx;
  overflow: hidden;
  z-index: 102;
  /* background-color: cyan; */
}

.exit image {
  width: 100rpx;
  height: 100rpx;
  position: absolute;
  top: -100rpx;
  left: 0rpx;
}

.exitdoor {
  width: 199rpx;
  height: 186rpx;
  position: absolute;
  bottom: 445rpx;
  left: 132rpx;
  z-index: 103;
}

.zhuan_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-color: royalblue; */
}

.dian_btn {
  width: 263rpx;
  height: 197rpx;
  position: absolute;
  bottom: 360rpx;
  left: 400rpx;
  z-index: 103;
}

.dianChou {
  width: 263rpx;
  height: 197rpx;
  position: absolute;
  bottom: 0;
}

.showdianChou {
  opacity: 1;
}

.unshowdianChou {
  opacity: 0;
}

.undianChou {
  width: 263rpx;
  height: 162rpx;
  position: absolute;
  bottom: 0;
}

.hanDianChou {
  width: 120rpx;
  height: 120rpx;
  position: absolute;
  bottom: 0;
  right: 0;

}

.handDown {
  transform: rotate(-30deg);
}

.handUp {
  transform: rotate(0deg);
}

.dian_count {
  width: 286rpx;
  height: 69rpx;
  position: absolute;
  bottom: 560rpx;
  left: 380rpx;
  z-index: 103;
  color: #F66220;
  font-size: 28rpx;
  text-align: center;
  padding-top: 7rpx;
  font-weight: 500;
}

.prize_quan_icon image {
  width: 200rpx;
  height: 200rpx;
}

.qrcodestr {
  width: 176rpx;
  height: 176rpx;
}
.prize_quan_mar image {
  width: 100%;
  height: 100%;
}

.bgop {
  opacity: 1;
}

.unbgop {
  opacity: 0;
}

.exitdoor image {
  width: 100%;
  height: 100%;
}

.rollBall {
  animation: rollball 2s ease 5s forwards;
}

.bottom_task {
  width: 100%;
  height: auto;
  position: absolute;
  top: 1340rpx;
  z-index: 200;
  /* background-color: navy; */
  /* background-color: #73dc81; */
}

.bottom_task_bg {
  width: 100%;
  height: 100%;
}

.bottom_task_header {
  width: 100%;
  height: 176rpx;
  position: absolute;
  top: -40rpx;
  left: 0;
  /* z-index: ; */
  background: url('https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/lotteryDraw/%E5%BA%95%E9%83%A8%E9%81%AE%E7%BD%A9%E4%B8%8A.png') no-repeat;
  background-size: 100% 60%;
  background-position: 30%;
}

.bottom_task_header image {
  width: 100%;
  height: 176rpx;
}

.bottom_task_content_box {
  background: url('https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/lotteryDraw/%E5%BA%95%E9%83%A8%E9%81%AE%E7%BD%A9%E4%B8%8B.png') no-repeat;
  background-size: 100% 100%;
  height: auto;
}

.bottom_task_content {
  width: 100%;
  height: auto;
  position: relative;
  /* position: absolute;
    top: 136rpx;
    left: 0; */
  box-sizing: border-box;
  margin-top: 100rpx;
  z-index: 100;
}

.bottom_task_content image {
  width: 100%;
  height: 100%;
}

.bottom_task_d {
  width: 100%;
  height: 100rpx;
  margin-top: -60rpx;
  background: url('https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/lotteryDraw/%E5%BA%95%E9%83%A8%E9%81%AE%E7%BD%A9%E4%B8%8B.png') no-repeat;
  /* position: absolute;
    top: 536rpx;
    left: 0; */
}

.bottom_task_d image {
  width: 100%;
  height: 80rpx;

}

.accomplish_box {
  width: 100%;
  height: 100%;
  /* padding-bottom: 5rpx; */
  box-sizing: border-box;

  /* background: url('https://htm-bucket-pro.oss-cn-hangzhou.aliyuncs.com/web/common/mp-store/lotteryDraw/%E5%BA%95%E9%83%A8%E9%81%AE%E7%BD%A9%E4%B8%8B.png') no-repeat;
    background-position: 100%; */
}

.accomplish_item {
  padding-bottom: 30rpx;
  padding-top: 30rpx;
  margin: 0 auto 20rpx;
  background-color: rgba(255, 255, 255, .8);
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: auto 160rpx;
  grid-template-rows: 100%;
  border-radius: 10rpx;
}
.accomplish_item:last-child{
  margin-bottom: 10rpx;
}
.accomplish_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accomplish_title {
  font-size: 28rpx;
  line-height: 50rpx;
  padding-left: 20rpx;
  color: #333;
  font-weight: 500;
}

.accomplish_titlecount {
  color: #FF2B38;
  font-size: 26rpx;
}

.accomplish_btn image {
  width: 144rpx;
  height: 58rpx;
}

.shareBtn {
  width: 144rpx;
  height: 58rpx;
  padding: 0;
  border-radius: 30rpx;
}

@keyframes rollball {
  0% {
    -webkit-transform: translate(-100rpx, 100rpx) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(20rpx, 170rpx) rotate(250deg);
  }
}

.weiyi_1 {
  animation: around1 8s forwards linear;
  -webkit-animation: around1 8s forwards linear;
}

.weiyi_2 {
  animation: around2 8s forwards linear;
  -webkit-animation: around2 8s forwards linear;
}

.weiyi_3 {
  animation: around3 8s forwards linear;
  -webkit-animation: around3 8s forwards linear;
}

.weiyi_4 {
  animation: around4 8s forwards linear;
  /* -webkit-animation: around4 7s linear infinite; */
}

.weiyi_5 {
  animation: around5 8s forwards linear;
  /* -webkit-animation: around5 6s linear; */
}

.weiyi_6 {
  animation: around6 8s forwards linear;
  /* -webkit-animation: around5 6s linear; */
}

.weiyi_7 {
  animation: around7 8s forwards linear;
  /* -webkit-animation: around5 6s linear; */
}

.weiyi_9 {
  animation: around9 8s forwards linear;
  /* -webkit-animation: around5 6s linear; */
}

.weiyi_10 {
  animation: around10 8s forwards linear;
  /* -webkit-animation: around5 6s linear; */
}

.weiyi_11 {
  animation: around11 8s forwards linear;
  /* -webkit-animation: around5 6s linear; */
}


.ball {
  width: 150rpx;
  height: 150rpx;
  opacity: 1;
}

.ball2 {
  width: 100rpx;
  height: 100rpx;
  opacity: 1;
}


.ball_1 {
  animation: weidong1 3s linear infinite;
}

.ball_2 {
  animation: weidong2 3s linear infinite;
}

.ball_3 {

  animation: weidong3 3s linear infinite;
}

.ball_4 {
  animation: weidong4 3s linear infinite;
}

.ball_5 {

  animation: weidong5 3s linear infinite;
}

.ball_6 {
  animation: weidong6 3s linear infinite;
}

.ball_7 {
  animation: weidong7 3s linear infinite;
}

.ball2:nth-child(8) {
  opacity: 0;
}

.ball_8 {
  /* animation: weidong9 3s linear infinite; */
  opacity: 0;
}

.ball_9 {
  animation: weidong9 3s linear infinite;
}

.ball_10 {
  animation: weidong10 3s linear infinite;
}

.ball_11 {
  animation: weidong11 3s linear infinite;
}

@keyframes weidong1 {
  0% {
    -webkit-transform: translate(100rpx, -50rpx)
  }

  50% {
    -webkit-transform: translate(80rpx, -40rpx)
  }

  100% {
    -webkit-transform: translate(100rpx, -50rpx)
  }
}

@keyframes weidong2 {
  0% {
    -webkit-transform: translate(40rpx, -90rpx)
  }

  50% {
    -webkit-transform: translate(30rpx, -110rpx)
  }

  100% {
    -webkit-transform: translate(40rpx, -90rpx)
  }
}

@keyframes weidong3 {
  0% {
    -webkit-transform: translate(-70rpx, -10rpx)
  }

  50% {
    -webkit-transform: translate(-50rpx, -10rpx)
  }

  100% {
    -webkit-transform: translate(-70rpx, -10rpx)
  }
}

@keyframes weidong4 {
  0% {
    -webkit-transform: translate(280rpx, -190rpx)
  }

  50% {
    -webkit-transform: translate(260rpx, -180rpx)
  }

  100% {
    -webkit-transform: translate(280rpx, -190rpx)
  }
}

@keyframes weidong5 {
  0% {
    -webkit-transform: translate(200rpx, -350rpx)
  }

  50% {
    -webkit-transform: translate(200rpx, -320rpx)
  }

  100% {
    -webkit-transform: translate(200rpx, -350rpx)
  }
}

@keyframes weidong6 {
  0% {
    -webkit-transform: translate(95rpx, -240rpx)
  }

  50% {
    -webkit-transform: translate(75rpx, -230rpx)
  }

  100% {
    -webkit-transform: translate(95rpx, -240rpx)
  }
}

@keyframes weidong7 {
  0% {
    -webkit-transform: translate(100rpx, -280rpx)
  }

  50% {
    -webkit-transform: translate(110rpx, -260rpx)
  }

  100% {
    -webkit-transform: translate(100rpx, -280rpx)
  }
}

@keyframes weidong10 {
  0% {
    -webkit-transform: translate(180rpx, -480rpx)
  }

  50% {
    -webkit-transform: translate(160rpx, -460rpx)
  }

  100% {
    -webkit-transform: translate(180rpx, -480rpx)
  }
}

@keyframes weidong9 {
  0% {
    -webkit-transform: translate(20rpx, -460rpx)
  }

  50% {
    -webkit-transform: translate(35rpx, -440rpx)
  }

  100% {
    -webkit-transform: translate(20rpx, -460rpx)
  }
}

@keyframes weidong11 {
  0% {
    -webkit-transform: translate(-90rpx, -500rpx)
  }

  50% {
    -webkit-transform: translate(-70rpx, -480rpx)
  }

  100% {
    -webkit-transform: translate(-90rpx, -500rpx)
  }
}

/* 111111111111111 */
@keyframes around1 {

  0% {
    -webkit-transform: translate(100rpx, -50rpx)
  }

  2% {
    -webkit-transform: translate(190rpx, -350rpx)
  }

  4% {
    -webkit-transform: translate(350rpx, -180rpx)
  }

  6% {
    -webkit-transform: translate(100rpx, -50rpx)
  }

  8% {
    -webkit-transform: translate(190rpx, -350rpx)
  }

  10% {
    -webkit-transform: translate(350rpx, -180rpx)
  }

  12% {
    -webkit-transform: translate(100rpx, -50rpx)
  }

  14% {
    -webkit-transform: translate(190rpx, -350rpx)
  }

  16% {
    -webkit-transform: translate(350rpx, -180rpx)
  }

  18% {
    -webkit-transform: translate(100rpx, -50rpx)
  }

  20% {
    -webkit-transform: translate(190rpx, -350rpx)
  }

  22% {
    -webkit-transform: translate(350rpx, -180rpx)
  }

  24% {
    -webkit-transform: translate(100rpx, -50rpx)
  }

  26% {
    -webkit-transform: translate(190rpx, -350rpx)
  }

  28% {
    -webkit-transform: translate(350rpx, -180rpx)
  }

  30% {
    -webkit-transform: translate(100rpx, -50rpx)
  }

  32% {
    -webkit-transform: translate(190rpx, -350rpx)
  }

  34% {
    -webkit-transform: translate(350rpx, -180rpx)
  }

  36% {
    -webkit-transform: translate(100rpx, -50rpx)
  }

  38% {
    -webkit-transform: translate(190rpx, -350rpx)
  }

  40% {
    -webkit-transform: translate(350rpx, -180rpx)
  }

  42% {
    -webkit-transform: translate(100rpx, -50rpx)
  }

  44% {
    -webkit-transform: translate(190rpx, -350rpx)
  }

  46% {
    -webkit-transform: translate(350rpx, -180rpx)
  }

  48% {
    -webkit-transform: translate(100rpx, -50rpx)
  }

  50% {
    -webkit-transform: translate(190rpx, -350rpx)
  }

  54% {
    -webkit-transform: translate(350rpx, -180rpx)
  }

  58% {
    -webkit-transform: translate(100rpx, -50rpx)
  }

  62% {
    -webkit-transform: translate(190rpx, -350rpx)
  }

  68% {
    -webkit-transform: translate(350rpx, -180rpx)
  }

  74% {
    -webkit-transform: translate(100rpx, -50rpx)
  }

  82% {
    -webkit-transform: translate(190rpx, -350rpx)
  }

  90% {
    -webkit-transform: translate(350rpx, -180rpx)
  }

  100% {
    -webkit-transform: translate(100rpx, -50rpx)
  }
}

@keyframes around2 {
  0% {
    -webkit-transform: translate(40rpx, -90rpx)
  }

  2% {
    -webkit-transform: translate(-140rpx, -200rpx)
  }

  4% {
    -webkit-transform: translate(270rpx, -300rpx)
  }

  6% {
    -webkit-transform: translate(40rpx, -90rpx)
  }

  8% {
    -webkit-transform: translate(-140rpx, -200rpx)
  }

  10% {
    -webkit-transform: translate(270rpx, -300rpx)
  }

  12% {
    -webkit-transform: translate(40rpx, -90rpx)
  }

  14% {
    -webkit-transform: translate(-140rpx, -200rpx)
  }

  16% {
    -webkit-transform: translate(270rpx, -300rpx)
  }

  18% {
    -webkit-transform: translate(40rpx, -90rpx)
  }

  20% {
    -webkit-transform: translate(-140rpx, -200rpx)
  }

  22% {
    -webkit-transform: translate(270rpx, -300rpx)
  }

  24% {
    -webkit-transform: translate(40rpx, -90rpx)
  }

  26% {
    -webkit-transform: translate(-140rpx, -200rpx)
  }

  28% {
    -webkit-transform: translate(270rpx, -300rpx)
  }

  30% {
    -webkit-transform: translate(40rpx, -90rpx)
  }

  32% {
    -webkit-transform: translate(-140rpx, -200rpx)
  }

  34% {
    -webkit-transform: translate(270rpx, -300rpx)
  }

  36% {
    -webkit-transform: translate(40rpx, -90rpx)
  }

  38% {
    -webkit-transform: translate(-140rpx, -200rpx)
  }

  40% {
    -webkit-transform: translate(270rpx, -300rpx)
  }

  44% {
    -webkit-transform: translate(40rpx, -90rpx)
  }

  48% {
    -webkit-transform: translate(-140rpx, -200rpx)
  }

  54% {
    -webkit-transform: translate(270rpx, -300rpx)
  }

  62% {
    -webkit-transform: translate(40rpx, -90rpx)
  }

  72% {
    -webkit-transform: translate(-140rpx, -200rpx)
  }

  84% {
    -webkit-transform: translate(270rpx, -300rpx)
  }

  100% {
    -webkit-transform: translate(40rpx, -90rpx)
  }
}

@keyframes around3 {
  0% {
    -webkit-transform: translate(-70rpx, -10rpx)
  }

  3% {
    -webkit-transform: translate(200rpx, -250rpx)
  }

  6% {
    -webkit-transform: translate(-230rpx, -300rpx)
  }

  9% {
    -webkit-transform: translate(-70rpx, -10rpx)
  }

  12% {
    -webkit-transform: translate(200rpx, -250rpx)
  }

  15% {
    -webkit-transform: translate(-230rpx, -300rpx)
  }

  18% {
    -webkit-transform: translate(-70rpx, -10rpx)
  }

  21% {
    -webkit-transform: translate(200rpx, -250rpx)
  }

  24% {
    -webkit-transform: translate(-230rpx, -300rpx)
  }

  27% {
    -webkit-transform: translate(-70rpx, -10rpx)
  }

  30% {
    -webkit-transform: translate(200rpx, -250rpx)
  }

  33% {
    -webkit-transform: translate(-230rpx, -300rpx)
  }

  36% {
    -webkit-transform: translate(-70rpx, -10rpx)
  }

  39% {
    -webkit-transform: translate(200rpx, -250rpx)
  }

  42% {
    -webkit-transform: translate(-230rpx, -300rpx)
  }

  47% {
    -webkit-transform: translate(-70rpx, -10rpx)
  }

  52% {
    -webkit-transform: translate(200rpx, -250rpx)
  }

  60% {
    -webkit-transform: translate(-230rpx, -300rpx)
  }

  68% {
    -webkit-transform: translate(-70rpx, -10rpx)
  }

  77% {
    -webkit-transform: translate(200rpx, -250rpx)
  }

  88% {
    -webkit-transform: translate(-230rpx, -300rpx)
  }

  100% {
    -webkit-transform: translate(-70rpx, -10rpx)
  }
}

@keyframes around4 {
  0% {
    -webkit-transform: translate(280rpx, -190rpx)
  }

  3% {
    -webkit-transform: translate(50rpx, -250rpx)
  }

  6% {
    -webkit-transform: translate(150rpx, -530rpx)
  }

  9% {
    -webkit-transform: translate(400rpx, -380rpx)
  }

  12% {
    -webkit-transform: translate(280rpx, -190rpx)
  }

  15% {
    -webkit-transform: translate(50rpx, -250rpx)
  }

  18% {
    -webkit-transform: translate(150rpx, -530rpx)
  }

  21% {
    -webkit-transform: translate(400rpx, -380rpx)
  }

  24% {
    -webkit-transform: translate(280rpx, -190rpx)
  }

  27% {
    -webkit-transform: translate(50rpx, -250rpx)
  }

  30% {
    -webkit-transform: translate(150rpx, -530rpx)
  }

  33% {
    -webkit-transform: translate(400rpx, -380rpx)
  }

  36% {
    -webkit-transform: translate(280rpx, -190rpx)
  }

  39% {
    -webkit-transform: translate(50rpx, -250rpx)
  }

  42% {
    -webkit-transform: translate(150rpx, -530rpx)
  }

  47% {
    -webkit-transform: translate(400rpx, -380rpx)
  }

  52% {
    -webkit-transform: translate(280rpx, -190rpx)
  }

  60% {
    -webkit-transform: translate(50rpx, -250rpx)
  }

  70% {
    -webkit-transform: translate(150rpx, -530rpx)
  }

  84% {
    -webkit-transform: translate(400rpx, -380rpx)
  }

  100% {
    -webkit-transform: translate(280rpx, -190rpx)
  }
}

/* 11111111111111111 */
@keyframes around5 {
  0% {
    -webkit-transform: translate(200rpx, -350rpx)
  }

  2% {
    -webkit-transform: translate(-60rpx, -180rpx)
  }

  4% {
    -webkit-transform: translate(0rpx, -520rpx)
  }

  6% {
    -webkit-transform: translate(200rpx, -350rpx)
  }

  8% {
    -webkit-transform: translate(-60rpx, -180rpx)
  }

  10% {
    -webkit-transform: translate(0rpx, -520rpx)
  }

  12% {
    -webkit-transform: translate(200rpx, -350rpx)
  }

  14% {
    -webkit-transform: translate(-60rpx, -180rpx)
  }

  16% {
    -webkit-transform: translate(0rpx, -520rpx)
  }

  18% {
    -webkit-transform: translate(200rpx, -350rpx)
  }

  20% {
    -webkit-transform: translate(-60rpx, -180rpx)
  }

  22% {
    -webkit-transform: translate(0rpx, -520rpx)
  }

  24% {
    -webkit-transform: translate(200rpx, -350rpx)
  }

  26% {
    -webkit-transform: translate(-60rpx, -180rpx)
  }

  28% {
    -webkit-transform: translate(0rpx, -520rpx)
  }

  30% {
    -webkit-transform: translate(200rpx, -350rpx)
  }

  32% {
    -webkit-transform: translate(-60rpx, -180rpx)
  }

  34% {
    -webkit-transform: translate(0rpx, -520rpx)
  }

  36% {
    -webkit-transform: translate(200rpx, -350rpx)
  }

  38% {
    -webkit-transform: translate(-60rpx, -180rpx)
  }

  40% {
    -webkit-transform: translate(0rpx, -520rpx)
  }

  42% {
    -webkit-transform: translate(200rpx, -350rpx)
  }

  44% {
    -webkit-transform: translate(-60rpx, -180rpx)
  }

  46% {
    -webkit-transform: translate(0rpx, -520rpx)
  }

  50% {
    -webkit-transform: translate(200rpx, -350rpx)
  }

  54% {
    -webkit-transform: translate(-60rpx, -180rpx)
  }

  60% {
    -webkit-transform: translate(0rpx, -520rpx)
  }

  66% {
    -webkit-transform: translate(200rpx, -350rpx)
  }

  74% {
    -webkit-transform: translate(-60rpx, -180rpx)
  }

  84% {
    -webkit-transform: translate(0rpx, -520rpx)
  }

  100% {
    -webkit-transform: translate(200rpx, -350rpx)
  }
}

@keyframes around6 {
  0% {
    -webkit-transform: translate(95rpx, -240rpx)
  }

  2% {
    -webkit-transform: translate(-250rpx, -400rpx)
  }

  4% {
    -webkit-transform: translate(-300rpx, -100rpx)
  }

  6% {
    -webkit-transform: translate(-50rpx, -20rpx)
  }

  8% {
    -webkit-transform: translate(95rpx, -240rpx)
  }

  10% {
    -webkit-transform: translate(-250rpx, -400rpx)
  }

  12% {
    -webkit-transform: translate(-300rpx, -100rpx)
  }

  14% {
    -webkit-transform: translate(-50rpx, -20rpx)
  }

  16% {
    -webkit-transform: translate(95rpx, -240rpx)
  }

  18% {
    -webkit-transform: translate(-250rpx, -400rpx)
  }

  20% {
    -webkit-transform: translate(-300rpx, -100rpx)
  }

  22% {
    -webkit-transform: translate(-50rpx, -20rpx)
  }

  24% {
    -webkit-transform: translate(95rpx, -240rpx)
  }

  26% {
    -webkit-transform: translate(-250rpx, -400rpx)
  }

  28% {
    -webkit-transform: translate(-300rpx, -100rpx)
  }

  30% {
    -webkit-transform: translate(-50rpx, -20rpx)
  }

  32% {
    -webkit-transform: translate(95rpx, -240rpx)
  }

  34% {
    -webkit-transform: translate(-250rpx, -400rpx)
  }

  36% {
    -webkit-transform: translate(-300rpx, -100rpx)
  }

  38% {
    -webkit-transform: translate(-50rpx, -20rpx)
  }

  40% {
    -webkit-transform: translate(95rpx, -240rpx)
  }

  44% {
    -webkit-transform: translate(-250rpx, -400rpx)
  }

  48% {
    -webkit-transform: translate(-300rpx, -100rpx)
  }

  52% {
    -webkit-transform: translate(-50rpx, -20rpx)
  }

  58% {
    -webkit-transform: translate(95rpx, -240rpx)
  }

  66% {
    -webkit-transform: translate(-250rpx, -400rpx)
  }

  76% {
    -webkit-transform: translate(-300rpx, -100rpx)
  }

  88% {
    -webkit-transform: translate(-50rpx, -20rpx)
  }

  100% {
    -webkit-transform: translate(95rpx, -240rpx)
  }
}

@keyframes around7 {
  0% {
    -webkit-transform: translate(100rpx, -280rpx)
  }

  2% {
    -webkit-transform: translate(-210rpx, -210rpx)
  }

  4% {
    -webkit-transform: translate(-300rpx, -350rpx)
  }

  6% {
    -webkit-transform: translate(100rpx, -280rpx)
  }

  8% {
    -webkit-transform: translate(-210rpx, -210rpx)
  }

  10% {
    -webkit-transform: translate(-300rpx, -350rpx)
  }

  12% {
    -webkit-transform: translate(100rpx, -280rpx)
  }

  14% {
    -webkit-transform: translate(-210rpx, -210rpx)
  }

  16% {
    -webkit-transform: translate(-300rpx, -350rpx)
  }

  18% {
    -webkit-transform: translate(100rpx, -280rpx)
  }

  20% {
    -webkit-transform: translate(-210rpx, -210rpx)
  }

  22% {
    -webkit-transform: translate(-300rpx, -350rpx)
  }

  24% {
    -webkit-transform: translate(100rpx, -280rpx)
  }

  26% {
    -webkit-transform: translate(-210rpx, -210rpx)
  }

  28% {
    -webkit-transform: translate(-300rpx, -350rpx)
  }

  30% {
    -webkit-transform: translate(100rpx, -280rpx)
  }

  32% {
    -webkit-transform: translate(-210rpx, -210rpx)
  }

  34% {
    -webkit-transform: translate(-300rpx, -350rpx)
  }

  36% {
    -webkit-transform: translate(100rpx, -280rpx)
  }

  38% {
    -webkit-transform: translate(-210rpx, -210rpx)
  }

  40% {
    -webkit-transform: translate(-300rpx, -350rpx)
  }

  42% {
    -webkit-transform: translate(100rpx, -280rpx)
  }

  46% {
    -webkit-transform: translate(-210rpx, -210rpx)
  }

  50% {
    -webkit-transform: translate(-300rpx, -350rpx)
  }

  54% {
    -webkit-transform: translate(100rpx, -280rpx)
  }

  60% {
    -webkit-transform: translate(-210rpx, -210rpx)
  }

  66% {
    -webkit-transform: translate(-300rpx, -350rpx)
  }

  72% {
    -webkit-transform: translate(100rpx, -280rpx)
  }

  78% {
    -webkit-transform: translate(-210rpx, -210rpx)
  }

  88% {
    -webkit-transform: translate(-300rpx, -350rpx)
  }

  100% {
    -webkit-transform: translate(100rpx, -280rpx)
  }
}

@keyframes around9 {
  0% {
    -webkit-transform: translate(20rpx, -460rpx)
  }

  2% {
    -webkit-transform: translate(300rpx, -740rpx)
  }

  4% {
    -webkit-transform: translate(400rpx, -380rpx)
  }

  6% {
    -webkit-transform: translate(150, -420rpx)
  }

  8% {
    -webkit-transform: translate(20rpx, -460rpx)
  }

  10% {
    -webkit-transform: translate(300rpx, -740rpx)
  }

  12% {
    -webkit-transform: translate(400rpx, -380rpx)
  }

  14% {
    -webkit-transform: translate(150, -420rpx)
  }

  16% {
    -webkit-transform: translate(20rpx, -460rpx)
  }

  18% {
    -webkit-transform: translate(300rpx, -740rpx)
  }

  20% {
    -webkit-transform: translate(400rpx, -380rpx)
  }

  22% {
    -webkit-transform: translate(150, -420rpx)
  }

  24% {
    -webkit-transform: translate(20rpx, -460rpx)
  }

  26% {
    -webkit-transform: translate(300rpx, -740rpx)
  }

  28% {
    -webkit-transform: translate(400rpx, -380rpx)
  }

  30% {
    -webkit-transform: translate(150, -420rpx)
  }

  32% {
    -webkit-transform: translate(20rpx, -460rpx)
  }

  34% {
    -webkit-transform: translate(300rpx, -740rpx)
  }

  36% {
    -webkit-transform: translate(400rpx, -380rpx)
  }

  38% {
    -webkit-transform: translate(150, -420rpx)
  }

  40% {
    -webkit-transform: translate(20rpx, -460rpx)
  }

  44% {
    -webkit-transform: translate(300rpx, -740rpx)
  }

  48% {
    -webkit-transform: translate(400rpx, -380rpx)
  }

  52% {
    -webkit-transform: translate(150, -420rpx)
  }

  58% {
    -webkit-transform: translate(20rpx, -460rpx)
  }

  66% {
    -webkit-transform: translate(300rpx, -740rpx)
  }

  76% {
    -webkit-transform: translate(400rpx, -380rpx)
  }

  88% {
    -webkit-transform: translate(150, -420rpx)
  }

  100% {
    -webkit-transform: translate(20rpx, -460rpx)
  }
}

@keyframes around10 {
  0% {
    -webkit-transform: translate(180rpx, -480rpx)
  }

  2% {
    -webkit-transform: translate(300rpx, -400rpx)
  }

  4% {
    -webkit-transform: translate(-100rpx, -560rpx)
  }

  6% {
    -webkit-transform: translate(180rpx, -480rpx)
  }

  8% {
    -webkit-transform: translate(300rpx, -400rpx)
  }

  10% {
    -webkit-transform: translate(-100rpx, -560rpx)
  }

  12% {
    -webkit-transform: translate(180rpx, -480rpx)
  }

  14% {
    -webkit-transform: translate(300rpx, -400rpx)
  }

  16% {
    -webkit-transform: translate(-100rpx, -560rpx)
  }

  18% {
    -webkit-transform: translate(180rpx, -480rpx)
  }

  20% {
    -webkit-transform: translate(300rpx, -400rpx)
  }

  22% {
    -webkit-transform: translate(-100rpx, -560rpx)
  }

  24% {
    -webkit-transform: translate(180rpx, -480rpx)
  }

  26% {
    -webkit-transform: translate(300rpx, -400rpx)
  }

  28% {
    -webkit-transform: translate(-100rpx, -560rpx)
  }

  30% {
    -webkit-transform: translate(180rpx, -480rpx)
  }

  32% {
    -webkit-transform: translate(300rpx, -400rpx)
  }

  34% {
    -webkit-transform: translate(-100rpx, -560rpx)
  }

  36% {
    -webkit-transform: translate(180rpx, -480rpx)
  }

  38% {
    -webkit-transform: translate(300rpx, -400rpx)
  }

  40% {
    -webkit-transform: translate(-100rpx, -560rpx)
  }

  44% {
    -webkit-transform: translate(180rpx, -480rpx)
  }

  48% {
    -webkit-transform: translate(300rpx, -400rpx)
  }

  54% {
    -webkit-transform: translate(-100rpx, -560rpx)
  }

  62% {
    -webkit-transform: translate(180rpx, -480rpx)
  }

  72% {
    -webkit-transform: translate(300rpx, -400rpx)
  }

  84% {
    -webkit-transform: translate(-100rpx, -560rpx)
  }

  100% {
    -webkit-transform: translate(180rpx, -480rpx)
  }
}

@keyframes around11 {
  0% {
    -webkit-transform: translate(-90rpx, -500rpx)
  }

  2% {
    -webkit-transform: translate(-190rpx, -440rpx)
  }

  4% {
    -webkit-transform: translate(190rpx, -580rpx)
  }

  6% {
    -webkit-transform: translate(-90rpx, -500rpx)
  }

  8% {
    -webkit-transform: translate(-190rpx, -440rpx)
  }

  10% {
    -webkit-transform: translate(190rpx, -580rpx)
  }

  12% {
    -webkit-transform: translate(-90rpx, -500rpx)
  }

  14% {
    -webkit-transform: translate(-190rpx, -440rpx)
  }

  16% {
    -webkit-transform: translate(190rpx, -580rpx)
  }

  18% {
    -webkit-transform: translate(-90rpx, -500rpx)
  }

  20% {
    -webkit-transform: translate(-190rpx, -440rpx)
  }

  22% {
    -webkit-transform: translate(190rpx, -580rpx)
  }

  24% {
    -webkit-transform: translate(-90rpx, -500rpx)
  }

  26% {
    -webkit-transform: translate(-190rpx, -440rpx)
  }

  28% {
    -webkit-transform: translate(190rpx, -580rpx)
  }

  30% {
    -webkit-transform: translate(-90rpx, -500rpx)
  }

  32% {
    -webkit-transform: translate(-190rpx, -440rpx)
  }

  34% {
    -webkit-transform: translate(190rpx, -580rpx)
  }

  36% {
    -webkit-transform: translate(-90rpx, -500rpx)
  }

  38% {
    -webkit-transform: translate(-190rpx, -440rpx)
  }

  40% {
    -webkit-transform: translate(190rpx, -580rpx)
  }

  42% {
    -webkit-transform: translate(-90rpx, -500rpx)
  }

  44% {
    -webkit-transform: translate(-190rpx, -440rpx)
  }

  46% {
    -webkit-transform: translate(190rpx, -580rpx)
  }

  50% {
    -webkit-transform: translate(-90rpx, -500rpx)
  }

  54% {
    -webkit-transform: translate(-190rpx, -440rpx)
  }

  60% {
    -webkit-transform: translate(190rpx, -580rpx)
  }

  66% {
    -webkit-transform: translate(-90rpx, -500rpx)
  }

  74% {
    -webkit-transform: translate(-190rpx, -440rpx)
  }

  84% {
    -webkit-transform: translate(190rpx, -580rpx)
  }

  100% {
    -webkit-transform: translate(-90rpx, -500rpx)
  }
}


@keyframes xing {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 1
  }
}