page {
  background: #fff;
}
.container-view {
  display: flex;
  flex-direction: column;
  padding: 24rpx;
}

.container-view .h3 {
  color: #000;
  font-size: 36rpx;
  font-weight: bold;
}

.container-view .title {
  display: inline;
  margin-top: 40rpx;
  color: #000;
  font-weight: bold;
}

.container-view text {
  margin: 8rpx 0;
  color: #333;
}
.version {
  color: #333;
}

.container-view .item {
  margin: 4rpx 0;
  padding-left: 40rpx;
}

.container-view .footer {
  text-align: right;
  color: #333;
  font-weight: bold;
}

.container-view .footer.mt {
  margin-top: 40rpx;
}
.container-view .red-text {
  color: red;
}
.container-view .text-undeline {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}
