<navbar background="rgba(255,255,255,1)" titleColor="#333333" parameter="{{navbarData}}"></navbar>
<view class="search-view">
    <view class="search-content">
        <image class="search-icon" src="https://img.hotmaxx.cn/web/common/mp-store/search/search-icon.png" />
        <input class="search-input" placeholder-class="p-search-input" maxlength="20" value="{{searchValue}}" auto-focus
            placeholder="搜索词" bindinput="bindinput" />
        <view class="search-clear-view" hidden="{{searchValue.length<=0}}" catchtap="clearInput">
            <image class="search-clear" src="https://img.hotmaxx.cn/web/common/mp-store/search/input-clear.png" />
        </view>
    </view>
    <view class="search-btn" bindtap="search">搜索</view>
</view>
<view class="history-view" wx:if="{{historyList.length&&isDelete}}">
    <view class="history-header">
        <text class="history-title">历史搜索</text>
        <view class="history-delete-view" bindtap="deleteAll">
            <image class="delete-icon" src="https://img.hotmaxx.cn/web/common/mp-store/search/delete-icon.png" />
        </view>
    </view>
    <view class="history-list">
        <view class="history-item" data-value="{{item}}" bindtap="selectTag" wx:for="{{historyList}}" wx:key="index">
            {{item}}</view>
    </view>
</view>