.success-card {
  position: relative;
  width: 750rpx;
  height: 702rpx;
  padding-top: 360rpx;
}
.close {
  width: 68rpx;
  height: 68rpx;
  display: block;
  margin: 52rpx auto 0;
}
.common-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.detail-coupon2 {
  position: relative;
  height: 180rpx;
  overflow: auto;
}
.coupon-item {
  position: relative;
}
.coupon-item.multiple {
  margin: 0 auto;
  display: flex;
  width: 532rpx;
  height: 120rpx;
  /* box-shadow: inset 0px 2rpx 0px 0px rgba(255, 255, 255, 1); */
}
.coupon-item-left {
  position: relative;
  width: 152rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coupon-item-img-view {
  width: 100rpx;
  height: 100rpx;
  overflow: hidden;
  background: #f5f5f5;
  border-radius: 16rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coupon-item-img-view image {
  height: 100%;
}
.text-view {
  /* padding-top: 30rpx; */
}
.coupon-price-util {
  margin-right: 4rpx;
  font-size: 28rpx;
  font-weight: bold;
  color: #df4137;
  line-height: 60rpx;
}
.coupon-price {
  font-size: 48rpx;
  font-weight: bold;
  color: #df4137;
  line-height: 60rpx;
}
/* .coupon-right-title,
    .coupon-right-desc {
      @include singleText();
    } */
.coupon-item-right {
  position: relative;
  padding-left: 12rpx;
  padding-top: 26rpx;
}
.coupon-right-title {
  width: 360rpx;
  font-size: 28rpx;
  font-weight: 500;
  color: #331207;
  line-height: 40rpx;
}
.coupon-right-desc {
  margin-top: 2rpx;
  width: 360rpx;
  font-size: 24rpx;
  font-weight: 400;
  color: #df7b35;
  line-height: 28rpx;
}

.coupon-item.multiple:not(:first-child) {
  margin-top: 12rpx;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
